<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : bob.xml
    Created on : 23/06/2009
    Author     : jbrisseau
    Description: Receive the M3UA message ASP Up.
-->

<scenario>

    <parameter name="[reference]" value="010003010000001c00110008000b884b000400094153505550000000" />
    
    <receiveMessageSIGTRAN name="Wait ASPUP1" request="true" type="ASP_Up:3_1">
        <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>
        <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
    </receiveMessageSIGTRAN>
    
    <test parameter="[reference]" condition="binary.equals" value="[binary]"/>
    
    <sendMessageSIGTRAN	name="Send ASPUP1" destScenario="client" channel="[channelName]">
    
        <UA name="m3ua" file="m3ua.xml">
            <header version="1" reserved="0" messageClass="3" messageType="4"/>
    				
            <parameter tag="17" >
                <field name="ASP_Identifier" format="Integer" value="19" length="4"/>
            </parameter>
    	
            <parameter tag="INFO_String">
                <field name="INFO_String" format="String" value="ASPUP"/>
            </parameter>
        </UA>
        
    </sendMessageSIGTRAN>

</scenario>
