<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<scenario>

    <call name="diameter.openChannel_SendCER_RecCEA">
      <input>
        <parameter name="[destScenario]" value="client"/>
      </input>
    </call>

<!--
From RFC 3588 September 2003 :
Re-Auth-Request ::= < Diameter Header: 258, REQ, PXY >
                    < Session-Id >
                    { Origin-Host }
                    { Origin-Realm }
                    { Destination-Realm }
                    { Destination-Host }
                    { Auth-Application-Id }
                    { Re-Auth-Request-Type }
                    [ User-Name ]
                    [ Origin-State-Id ]
                  * [ Proxy-Info ]
                      Proxy-Info ::= < AVP Header: 284 >
                                     { Proxy-Host }
                                     { Proxy-State }
                                   * [ AVP ]
                  * [ Route-Record ]
                  * [ AVP ]
-->

    <parameter name="[newSessionId]" operation="binary.random" value="10"/>
    <sendMessageDIAMETER name="Send Request RAR" remoteURL="diameter://[remoteDIAM]" destScenario="client">
        <header request="true" command="Re-Auth:258" applicationId="Diameter Common Messages" proxiable="true" error="false" retransmit="false"/>
          <!-- The Session-Id AVP is used to identify a specific session. -->
          <avp code="Session-Id:263" mandatory="true" type="UTF8String" value="[localHostDIAM];[newSessionId]"/>        
          <!-- The Origin-Host AVP identifies the endpoint that originated the Diameter message. -->
          <avp code="Origin-Host:264" mandatory="true" type="DiameterIdentity" value="[localHostDIAM]"/>
          <!-- The Origin-Realm AVP contains the Realm of the originator of any Diameter message. -->
          <avp code="Origin-Realm:296" mandatory="true" type="DiameterIdentity" value="[localRealmDIAM]"/>
          <!-- The Destination-Host AVP identifies the endpoint the message is to be routed to. -->            
          <avp code="Destination-Host:293" mandatory="true" type="DiameterIdentity" value="[remoteHostDIAM]"/>
          <!-- The Destination-Realm AVP contains the realm the message is to be routed to. -->
          <avp code="Destination-Realm:283" mandatory="true" type="DiameterIdentity" value="[remoteRealmDIAM]"/>
        
          <!-- The Auth-Application-Id AVP is used in order to advertise support of the Authentication and Authorization portion of an application. -->
          <!--avp code="Auth-Application-Id:258" mandatory="true" type="Unsigned32" value="0"/-->
          <avp code="Auth-Application-Id:258" mandatory="true" type="Unsigned32" value="16777222"/>

          <!-- The Re-Auth-Request-Type AVP is included in application-specific auth answers to inform the client of the action expected upon expiration of the Authorization-Lifetime. -->
          <!-- Possible enumerated values : AUTHORIZE_ONLY(0) / AUTHORIZE_AUTHENTICATE(1). -->
          <avp code="Re-Auth-Request-Type:285" mandatory="true" type="Enumerated" value="AUTHORIZE_AUTHENTICATE:1"/>

          <!-- The User-Name AVP contains the User-Name, in a format consistent with the Network Access Identifier (NAI) specification. -->
          <avp code="User-Name:1" mandatory="false" type="UTF8String" value="ToBeCompleted"/>

          <!-- The Origin-State-Id AVP is a monotonically increasing value that is advanced whenever a Diameter entity restarts with loss of previous state. -->
          <avp code="Origin-State-Id:278" mandatory="false" type="Unsigned32" value="0"/>

          <!-- The Proxy-Host AVP contains the identity of the host that added the Proxy-Info AVP. -->
          <!-- The Proxy-State AVP contains state local information. -->
          <avp code="Proxy-Info:284">
            <avp code="Proxy-Host:280" mandatory="true" private="false" type="DiameterIdentity" value="ToBeCompleted"/>
            <avp code="Proxy-State:33" mandatory="true"  private="false" type="OctetString" value="ToBeCompleted"/>
          </avp>
          <avp code="Proxy-Info:284">
            <avp code="Proxy-Host:280" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
            <avp code="Proxy-State:33" mandatory="true"  private="false" type="OctetString" value="ToBeCompleted"/>
          </avp>
          <!-- The identity added in the Route-Record AVP MUST be the same as the one received in the Origin-Host of the Capabilities Exchange message. -->
          <avp code="Route-Record:282" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
          <avp code="Route-Record:282" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
    </sendMessageDIAMETER>

    <receiveMessageDIAMETER name="Receive Answer RAA" request="false" type="Re-Auth:258" result="DIAMETER_SUCCESS:2001">
    </receiveMessageDIAMETER>
    
</scenario>
