<?xml version="1.0" encoding="UTF-8"?><!-- Related XMLSchema file: conf/schemas/scenario.xsd --><scenario>    <parameter name="[osname]" operation="system.readproperty" value="os.name"/>		<!-- Test  -->	<if>		<condition>			<test parameter="[osname]" condition="string.matches" value=".*Windows.*"/>		</condition>		<then>			<parameter name="[aParameter]" operation="set" value="cmd /c echo BONJOUR" />		</then>		<else>			<parameter name="[aParameter]" operation="set" value="echo BONJOUR" />		</else>	</if>    	<system name="print working directory" command="[aParameter]" state="true"/>	</scenario>