<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="3GPP S6 Reset (RSR/RSA)" -->
<scenario>

    <call name="diameter.RecCER_SendCEA"/>  

    <receiveMessageDIAMETER name="ReceiveRequestRSR" request="true" type="3GPP-Reset">
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
        <parameter name="[vendorId]" operation="protocol.setFromMessage" value="avp.Vendor-Specific-Application-Id:260.Vendor-Id:266.value"/>
        <parameter name="[authApplicationId]" operation="protocol.setFromMessage" value="avp.Vendor-Specific-Application-Id:266.Auth-Application-Id:258.value"/>
        <parameter name="[authSessionState]" operation="protocol.setFromMessage" value="avp.Auth-Session-State:277.value"/>
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
    </receiveMessageDIAMETER>

<!--
From 3GPP TS 29.272 V9.1.0 : RSR from HSS to MME/SGSN after a restart to indicate to the MME/SGSN that a failure 
has occurred
Reset-Answer ::= < Diameter Header: 322, PXY, 16777251 >
                                  < Session-Id >
                                  { Vendor-Specific-Application-Id }
                                    Vendor-Specific-Application-Id ::= < AVP Header: 260 >
                                                                         1* [ Vendor-Id ]
                                                                         0*1{ Auth-Application-Id }
                                                                         0*1{ Acct-Application-Id }
                                  [ Result-Code ]
                                  [ Experimental-Result ]
                                    Experimental-Result ::= < AVP Header: 297 >
                                                              { Vendor-Id }
                                                              { Experimental-Result-Code }
                                  [ Error-Diagnostic ]
                                  { Auth-Session-State }
                                  { Origin-Host }
                                  { Origin-Realm }
								 *[ AVP ]
                                 *[ Failed-AVP ]
                                 *[ Proxy-Info ]
                                    Proxy-Info ::= < AVP Header: 284 >
                                                       { Proxy-Host }
                                                       { Proxy-State }
                                                     * [ AVP ]
                                 *[ Route-Record ]
-->
   
    <parameter name="[DSA-Flags]" operation="set" value="0"/>

    <sendMessageDIAMETER name="SendAnswerRSA" listenpoint="[listenpointName]" 
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">
        <header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Vendor-Specific-Application-Id:260">
            <avp code="Vendor-Id:266" value="[vendorId]"/>
            <avp code="Auth-Application-Id:258" value="[authApplicationId]"/>
        </avp>
        <avp code="Result-Code:268" value="DIAMETER_SUCCESS:2001"/>
        <avp code="Auth-Session-State:277" value="[authSessionState]"/>
        <avp code="Origin-Host:264" value="[destinationHost]"/>
        <avp code="Origin-Realm:296" value="[destinationRealm]"/>
    </sendMessageDIAMETER>

</scenario>
