<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="receive redirection request">
        <parameter name="[channel]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    </receiveMessageGTP>
    
    <test parameter="[binary]" condition="binary.equals" value="0f06000b00010109fe0004ac1015cf"/>

    <sendMessageGTP name="send redirection response" channel="[channel]">
        <headerPrime name="redirectionResponse" sequenceNumber="1"/>
        <element identifier="cause" coding="TV">
            <field name="cause" value="7"/>
        </element>
    </sendMessageGTP>

</scenario>
