<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>
    <createListenpointGTP name="listenpoint" localPort="3387"/>
    <parameter name="[testcase:sem1]" operation="system.semaphorenotify" />

    <receiveMessageGTP name="echo request">
        <parameter name="[channel]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    </receiveMessageGTP>

    <test parameter="[binary]" condition="binary.equals" value="37010008499602d200010200"/>
    
    <sendMessageGTP name="echo Response" channel="[channel]">
        <headerV1 name="echoResponse" sequenceNumber="1"  nPduNumber="2" nextExtensionType="0"/>
        <element identifier="Recovery" coding="TV">
            <field name="Recovery" value="23"/>
        </element>
    </sendMessageGTP>

    <receiveMessageGTP name="echo request">
        <parameter name="[channel]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    </receiveMessageGTP>

    <test parameter="[binary]" condition="binary.equals" value="370100080000000000020200"/>
    
    <sendMessageGTP name="versionNotSupported" channel="[channel]">
        <headerV1 name="versionNotSupported" sequenceNumber="1" nPduNumber="2" nextExtensionType="0"/>
    </sendMessageGTP>

    <finally>
        <removeListenpointGTP name="listenpoint"/>
    </finally>
</scenario>
