<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : bob.xml
    Created on : 23/06/2009
    Author     : jbrisseau
    Description: Receive the M3UA message ASP Up.
-->

<scenario>

	<!-- Message encoded value -->
	<parameter name="[ASPUP]" value="010003010000001c00110008000b884b000400094153505550000000" />

	<receiveMessageSIGTRAN name="Wait ASPUP1">
		<parameter name="[ASPUP1]" operation="protocol.setFromMessage" value="message.binary"/>
	</receiveMessageSIGTRAN>
	
	<if>
		<condition>
			<test parameter="[ASPUP1]" condition="binary.equals" value="[ASPUP]"/>
		</condition>
		<else>
			<log level="ERROR">	Message received :	</log>
			<log level="ERROR">	"[ASPUP1]"			</log>
			<log level="ERROR">	Message expected :	</log>
			<log level="ERROR">	"[ASPUP]"			</log>
			<exit failed="true"/>
		</else>
	</if>
	
</scenario>
