<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="3GPP S6 Insert Subscriber Data (IDR/IDA)" -->
<scenario>

    <call name="diameter.RecCER_SendCEA"/>
    
    <receiveMessageDIAMETER name="ReceiveRequestIDR" request="true" type="3GPP-Insert-Subscriber-Data">
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
        <parameter name="[vendorId]" operation="protocol.setFromMessage" value="avp.Vendor-Specific-Application-Id:260.Vendor-Id:266.value"/>
        <parameter name="[authApplicationId]" operation="protocol.setFromMessage" value="avp.Vendor-Specific-Application-Id:266.Auth-Application-Id:258.value"/>
        <parameter name="[authSessionState]" operation="protocol.setFromMessage" value="avp.Auth-Session-State:277.value"/>
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
    </receiveMessageDIAMETER>

<!--
From 3GPP TS 29.272 V9.1.0 : IDR from HSS to MME/SGSN for updating and/or requesting certain user data in the MME or SGSN
Insert-Subscriber-Data-Answer ::= < Diameter Header: 319, PXY, 16777251 >
                                  < Session-Id >
                                  { Vendor-Specific-Application-Id }
                                    Vendor-Specific-Application-Id ::= < AVP Header: 260 >
                                                                         1* [ Vendor-Id ]
                                                                         0*1{ Auth-Application-Id }
                                                                         0*1{ Acct-Application-Id }
                                  [ Result-Code ]
                                  [ Experimental-Result ]
                                    Experimental-Result ::= < AVP Header: 297 >
                                                              { Vendor-Id }
                                                              { Experimental-Result-Code }
                                  [ Error-Diagnostic ]
                                  { Auth-Session-State }
                                  { Origin-Host }
                                  { Origin-Realm }
                                  [ IMS-Voice-Over-PSSessions-Supported ] 
                                  [ Last-UE-Activity-Time ] 
                                  [ RAT-Type ] 
                                  [ IDA-Flags ] 
                                  [ EPS-User-State ] 
                                    EPS-User-State ::= <AVP header: 1496 10415> 
                                                                    [ MME-User-State ] 
																	  MME-User-State ::= <AVP header: 1497 10415> 
                                                                                            [ User-State ] 
                                                                                           *[ AVP ]
                                                                    [ SGSN-User-State ] 
																	  SGSN-User-State ::= <AVP header: 1498 10415> 
                                                                                             [ User-State ] 
                                                                                            *[ AVP ]
                                                                   *[ AVP ]								  
                                  [ EPS-Location-Information ] 
                                    EPS-Location-Information ::= <AVP header: 1496 10415> 
                                                                    [ MME-Location-Information ] 
																	  MME-Location-Information ::= <AVP header: 1600 10415> 
																	                                  [ E-UTRAN-Cell-Global-Identity ] 
                                                                                                      [ Tracking-Area-Identity ] 
                                                                                                      [ Geographical-Information ] 
                                                                                                      [ Geodetic-Information ] 
                                                                                                      [ Current-Location-Retrieved ] 
                                                                                                      [ Age-Of-Location-Information ] 
                                                                                                     *[ AVP ] 
                                                                    [ SGSN-Location-Information ] 
																	  SGSN-Location-Information ::= <AVP header: 1601 10415> 
                                                                                                       [ Cell-Global-Identity ]  
                                                                                                       [ Location-Area-Identity ] 
                                                                                                       [ Service-Area-Identity ] 
                                                                                                       [ Routing-Area-Identity ] 
                                                                                                       [ Geographical-Information ] 
                                                                                                       [ Geodetic-Information ] 
                                                                                                       [ Current-Location-Retrieved ] 
                                                                                                       [ Age-Of-Location-Information ] 
                                                                                                      *[ AVP ] 
                                                                   *[ AVP ]								  
								 *[ AVP ]
                                 *[ Failed-AVP ]
                                 *[ Proxy-Info ]
                                    Proxy-Info ::= < AVP Header: 284 >
                                                       { Proxy-Host }
                                                       { Proxy-State }
                                                     * [ AVP ]
                                 *[ Route-Record ]

-->
   
    <!-- 
    	IMS-Voice-Over-PSSessions-Supported - enum: whether "IMS Voice over PS Sessions" is  supported by the UE's most 
    	recently used TA or RA in the MME/SGSN
    	- NOT_SUPPORTED
    	- SUPPORTED
    	
    -->
    <parameter name="[IMS-Voice-Over-PSSessions-Supported]" operation="set" value="SUPPORTED"/>

    <!-- 
    	Last-UE-Activity-Time: contains the point of time of the last radio contact of the MME/SGSN with the UE.
    	Coded as the number of seconds since 0h on 1 January 1900 UTC
    -->
    <parameter name="[Last-UE-Activity-Time]" operation="set" value="01/04/2014 23:56:54:999"/>

    <!-- 
    	RAT-Type: enum - 3GPP TS 29.212
    		e.g. EUTRAN (1004)
    -->
    <parameter name="[RAT-Type]" operation="set" value="EUTRAN"/>

    <!-- 
    	IDA-Flags: bitmask - 3GPP TS 29.272
    		Only bit 0 defined but related to SGSN not MME -> not used
    -->
    

    <!-- 
    	User-State: enum - 3GPP TS 29.272
    	- DETACHED
    	- ATTACHED_NOT_REACHABLE_FOR_PAGING
    	- ATTACHED_REACHABLE_FOR_PAGING
    	- CONNECTED_NOT_REACHABLE_FOR_PAGING
    	- CONNECTED_REACHABLE_FOR_PAGING
    	- NETWORK_DETERMINED_NOT_REACHABLE
    -->
    <parameter name="[User-State]" operation="set" value="CONNECTED_REACHABLE_FOR_PAGING"/>

    <!-- 
    	EPS-Location-Information: MME-Location-Information:
    		- E-UTRAN-Cell-Global-Identity - TS 23.003: E-UTRAN CCI of the user which identifies the cell the UE is registered
    			Concatenation of LAI (Location Area ID: MCC + MNC + LAC) and CI (Cell ID)
    		- Tracking-Area-Identity (MCC + MNC + TAC): identifies the tracking area where the user is located
    		- Geographical-Information - TS 29.002: contain the geographical Information of the user
    		- Geodetic-Information - TS 29.002: contain the geodetic Information of the user
    		- Current-Location-Retrieved: ACTIVE-LOCATION-RETRIEVAL (only value defined) when location information 
    			obtained after a successful paging procedure for Active Location Retrieval
    		- Age-Of-Location-Information: contain the elapsed time in minutes since the last network contact of 
    			the UE
    		e.g. LAC 0xeeee, CI 0xcccc, TAC 0xdddd
    -->
    <parameter name="[E-UTRAN-Cell-Global-Identity]" operation="set" value="0002080001eeeecccc"/>
    <parameter name="[Tracking-Area-Identity]" operation="set" value="0002080001dddd"/>
    <parameter name="[Current-Location-Retrieved]" operation="set" value="ACTIVE-LOCATION-RETRIEVAL"/>
    <parameter name="[Age-Of-Location-Information]" operation="set" value="20"/>

    <sendMessageDIAMETER name="SendAnswerIDA" listenpoint="[listenpointName]" 
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">
        <header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Vendor-Specific-Application-Id:260">
            <avp code="Vendor-Id:266" value="[vendorId]"/>
            <avp code="Auth-Application-Id:258" value="[authApplicationId]"/>
        </avp>
        <avp code="Result-Code:268" value="DIAMETER_SUCCESS"/>
        <avp code="Auth-Session-State:277" value="[authSessionState]"/>
        <avp code="Origin-Host:264" value="[destinationHost]"/>
        <avp code="Origin-Realm:296" value="[destinationRealm]"/>
        <avp code="IMS-Voice-Over-PSSessions-Supported:1492" value="[IMS-Voice-Over-PSSessions-Supported]"/>
        <avp code="Last-UE-Activity-Time:1494" value="[Last-UE-Activity-Time]"/>
        <avp code="RAT-Type:1032" value="[RAT-Type]" vendorId="[vendorID]"/>
        <avp code="EPS-User-State:1495">
            <avp code="User-State:1499" value="[User-State]"/>
        </avp>
        <avp code="EPS-Location-Information:1496">
            <avp code="MME-Location-Information:1600">
                <avp code="E-UTRAN-Cell-Global-Identity:1602" value="[E-UTRAN-Cell-Global-Identity]"/>
                <avp code="Tracking-Area-Identity:1603" value="[Tracking-Area-Identity]"/>
                <avp code="Current-Location-Retrieved:1610" value="[Current-Location-Retrieved]"/>
                <avp code="Age-Of-Location-Information:1611" value="[Age-Of-Location-Information]"/>
            </avp>
        </avp>
    </sendMessageDIAMETER>

</scenario>
