<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="3GPP Rx AA (AAR/AAA)" -->
<scenario>

    <call name="diameter.RecCER_SendCEA"/>
    
    <receiveMessageDIAMETER name="ReceiveRequestAAR" request="true" type="AA">
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
        <parameter name="[authApplicationId]" operation="protocol.setFromMessage" value="avp.Auth-Application-Id:258.value"/>
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
    </receiveMessageDIAMETER>

<!--
From 3GPP TS 29.214 V10.3.0 : AAR is sent by the AF to the PCRF in order to provide it with the Session Information
<AA-Answer> ::= < Diameter Header: 265, PXY, 16777236 > 
		< Session-Id >
		{ Auth-Application-Id } 
		{ Origin-Host } 
		{ Origin-Realm } 
		[ Result-Code ] 
		[ Experimental-Result ] 
	   *[ Access-Network-Charging-Identifier ] 
		[ Access-Network-Charging-Address ] 
		[ Acceptable-Service-Info ] 
		[ IP-CAN-Type ] 
		[ RAT-Type ] 
	   *[ Supported-Features ] 
	   *[ Class ] 
		[ Error-Message ] 
		[ Error-Reporting-Host ] 
	   *[ Failed-AVP ] 
		[ Origin-State-Id ] 
	   *[ Redirect-Host ] 
		[ Redirect-Host-Usage ] 
		[ Redirect-Max-Cache-Time ] 
	   *[ Proxy-Info ] 
	   *[ AVP ] 
-->

    <!-- IP-CAN-Type: 3GPP-GPRS|DOCSIS|xDSL|WiMAX|3GPP2|3GPP-EPS|Non-3GPP-EPS -->
    <parameter name="[IP-CAN-Type]" operation="set" value="3GPP-EPS"/>

    <!-- RAT-Type: WLAN|VIRTUAL|UTRAN|GERAN|GAN|HSPA_EVOLUTION|EUTRAN|CDMA2000_1X|HRPD|UMB|EHRPD -->
    <parameter name="[RAT-Type]" operation="set" value="EUTRAN"/>

    <sendMessageDIAMETER name="SendAnswerAAA" listenpoint="[listenpointName]" 
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">
        <header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Auth-Application-Id:258" value="[authApplicationId]"/>
        <avp code="Origin-Host:264" value="[destinationHost]"/>
        <avp code="Origin-Realm:296" value="[destinationRealm]"/>
        <avp code="Result-Code:268" value="DIAMETER_SUCCESS:2001"/>
        <avp code="IP-CAN-Type:1027" value="[IP-CAN-Type]" vendorId="[vendorID]"/>
        <avp code="RAT-Type:1032" value="[RAT-Type]" vendorId="[vendorID]"/>
   </sendMessageDIAMETER>

</scenario>
