@font-face {
	font-family: PT Sans;
	src: local("PT Sans"), local("PTSans-Regular"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/S1YQx4pVZa17uu0HWQd2fA.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Philosopher;
	src: local("Philosopher"), url(http://themes.googleusercontent.com/static/fonts/philosopher/v5/OttjxgcoEsufOGSINYBGLWfQcKutQXcIrRfyR5jdjY8.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/philosopher/v5/OttjxgcoEsufOGSINYBGLYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
