.promo_slider_wrapper {
	margin: 10px 0px; position: relative;
}
.promo_slider {
	height: 235px; overflow: hidden; position: relative;
}
.promo_slider img {
	margin: 0px; padding: 0px;
}
.promo_slider .panel {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; position: absolute;
}
.pointer {
	cursor: pointer;
}
.ps_hover {
	display: none;
}
.promo_slider:hover .ps_hover {
	display: block;
}
.promo_slider_sep {
	font-weight: normal;
}
.promo_slider_nav {
	margin: 10px; padding: 5px 10px; text-align: center; right: 0px; bottom: 0px; color: rgb(102, 102, 102); font-size: 12px; font-weight: bold; display: none; position: absolute; z-index: 101; background-color: rgb(255, 255, 255);
}
.fancy_ps_nav {
	background: url("images/nav.png") no-repeat; margin: 0px; padding: 0px; width: 147px; height: 49px; line-height: 49px;
}
.slider_selections span.current {
	color: rgb(0, 0, 0);
}
.left_arrow {
	top: 45%; width: 30px; height: 30px; position: absolute; z-index: 101;
}
.right_arrow {
	top: 45%; width: 30px; height: 30px; position: absolute; z-index: 101;
}
.left_arrow {
	background: url("images/prev.png") no-repeat; left: 5px;
}
.right_arrow {
	background: url("images/next.png") no-repeat; right: 5px;
}
.promo_slider_thumb_nav {
	background: url("images/slide.png"); padding: 10px 0px; height: 50px; overflow: hidden; display: none; position: relative;
}
.promo_slider_thumb_nav .thumb_nav {
	margin: 0px 40px; padding: 0px; height: 50px;
}
.promo_slider_thumb_nav .right_arrow {
	top: 20px;
}
.promo_slider_thumb_nav .left_arrow {
	top: 20px;
}
.promo_slider_thumb_nav .slider_selections span {
	margin: 0px 4px 11px; padding: 0px 1px; width: 50px; height: 50px; overflow: hidden; float: left; display: block;
}
.promo_slider_thumb_nav .slider_selections span.current {
	padding: 0px; border: 1px solid rgb(255, 255, 255); margin-top: -1px;
}
.promo_slider_thumb_nav img {
	width: 50px;
}
.promo_slider_title {
	padding: 2.5%; left: 0px; top: 0px; width: 95%; text-align: left; color: rgb(0, 0, 0); font-size: 1.5em; font-weight: bold; display: block; position: absolute;
}
.fancy_ps_title {
	background-position: right; padding: 0px 40px 0px 10px; width: auto; height: 77px; text-align: center; line-height: 77px; font-size: 18px; background-image: url("images/title.png"); background-repeat: no-repeat;
}
.promo_slider_title a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.promo_slider_title a:hover {
	text-decoration: underline;
}
.promo_slider_excerpt {
	padding: 3px 2.5%; left: 0px; width: 95%; bottom: 0px; color: rgb(255, 255, 255); display: block; filter: alpha(opacity=60); position: absolute; opacity: 0.6; background-color: rgb(0, 0, 0);
}
.promo_slider_excerpt p {
	margin: 0px; padding: 0px;
}
.promo_slider_wrapper .tabbed_ps_nav.promo_slider_nav {
	display: none;
}
.tabbed_nav.promo_slider_wrapper .tabbed_ps_nav.promo_slider_nav {
	background: url("images/slide.png"); margin: 0px; padding: 0px; font-size: 15px; display: table-row; position: static;
}
.tabbed_ps_nav.promo_slider_nav span {
	border-width: 1px; border-style: solid; border-color: white transparent white white; margin: 0px; padding: 5px; width: 1%; color: white; vertical-align: middle; display: table-cell;
}
.tabbed_ps_nav.promo_slider_nav span:first-child {
	border-left-color: transparent;
}
.tabbed_ps_nav.promo_slider_nav span.current {
	border-color: black;
}
.tabbed_ps_nav.promo_slider_nav span.current + span {
	border-left-color: transparent;
}
