#adminmenu #toplevel_page_bws_plugins div.wp-menu-image {
	background: url("../images/icon_16.png") no-repeat center;
}
.admin-color-classic #adminmenu #toplevel_page_bws_plugins div.wp-menu-image {
	background: url("../images/icon_16_b.png") no-repeat center;
}
#adminmenu #toplevel_page_bws_plugins:hover div.wp-menu-image {
	background: url("../images/icon_16_c.png") no-repeat center;
}
#adminmenu .wp-has-current-submenu#toplevel_page_bws_plugins div.wp-menu-image {
	background: url("../images/icon_16_c.png") no-repeat center;
}
.wrap .icon32-bws#icon-options-general {
	background: url("../images/icon_36.png") no-repeat left top;
}
.admin-color-classic .wrap .icon32-bws#icon-options-general {
	background: url("../images/icon_36_b.png") no-repeat left top;
}
.wrap .icon32-posts-gallery#icon-edit {
	background: url("../images/icons_32.png") no-repeat left top;
}
.admin-color-classic .wrap .icon32-posts-gallery#icon-edit {
	background: url("../images/icons_32_b.png") no-repeat left top;
}
#adminmenu #menu-posts-gallery:hover div.wp-menu-image {
	background: url("../images/menu.png") no-repeat left top;
}
#adminmenu .wp-has-current-submenu#menu-posts-gallery div.wp-menu-image {
	background: url("../images/menu.png") no-repeat left top;
}
.admin-color-classic #adminmenu #menu-posts-gallery:hover div.wp-menu-image {
	background: url("../images/menu_b.png") no-repeat left top;
}
#adminmenu .wp-has-current-submenu#menu-posts-gallery div.wp-menu-image {
	background: url("../images/menu_b.png") no-repeat left top;
}
#adminmenu #menu-posts-gallery div.wp-menu-image {
	background: url("../images/menu.png?ver=20100531") no-repeat left -32px;
}
.admin-color-classic #adminmenu #menu-posts-gallery div.wp-menu-image {
	background: url("../images/menu_b.png?ver=20100531") no-repeat left -32px;
}
#toplevel_page_bws_plugins .wp-submenu .wp-first-item {
	display: none;
}
ul.gallery {
	list-style: none;
}
.gallery_box ul {
	list-style: none; margin: 0px;
}
.gallery_box li {
	padding: 10px 10px 0px 0px; clear: both;
}
.gallery_box li img {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(189, 189, 189); float: left;
}
.gallery_box p {
	margin-bottom: 0px;
}
.gallery_detail_box {
	float: left;
}
.gallery_box .gallery_detail_box p.title {
	margin: 0px 0px 10px; color: rgb(0, 0, 0); line-height: 1.5em; font-weight: bold;
}
.clear {
	height: 0px; clear: both;
}
.gllr_image_text {
	width: 150px; margin-top: 10px;
}
.gllr_link_text {
	width: 150px; margin-top: 10px;
}
.gllr_link_text {
	width: 170px;
}
.gllr_order_text {
	width: 20px;
}
.gallery .gllr_image_block {
	float: left;
}
#content .gallery .gllr_image_block a img {
	border: 10px solid rgb(241, 241, 241); margin-top: 0px;
}
#Upload-File .gllr_order_message {
	padding-bottom: 10px;
}
#Upload-File .gallery .gllr_image_block {
	float: left;
}
#Upload-File .gallery .gllr_border_image {
	border: 1px solid rgb(189, 189, 189); width: 170px; height: 170px;
}
#Upload-File .gallery .gllr_border_image img {
	padding: 10px;
}
#Upload-File .gallery .small_text {
	color: grey; font-size: 10px;
}
.gallery .delete {
	text-align: center; padding-top: 2px;
}
#content .gallery_box_single .gallery .gllr_image_block p {
	margin: 5px 6px 0px 0px; padding: 0px; border: 1px solid rgb(189, 189, 189);
}
.gllr_single_image_text {
	color: rgb(136, 136, 136); font-size: 12px;
}
.gllr_image_row {
	clear: both;
}
.gallery li {
	margin: 5px 6px 10px 0px; float: left;
}
.gallery .gllr_image_container {
	border: 1px solid rgb(189, 189, 189);
}
.gallery .delete {
	text-align: center; padding-top: 2px;
}
.pp_social {
	display: none;
}
#gllr_form_image_size .gllr_width_labels label {
	margin-right: 5px; float: left; min-width: 115px;
}
#gllr_form_image_size input[type='radio'] {
	top: 5px; margin-right: 5px; float: left; position: relative;
}
#gllr_form_image_size .label_radio {
	width: 540px; cursor: default;
}
#gllr_border_images_color_small {
	border: 1px solid rgb(204, 204, 204); top: -2px; width: 20px; height: 20px; vertical-align: middle; display: inline-block; position: relative; box-shadow: inset 0px 9px 0px rgba(255,255,255,0.1);
}
a.gllr_pro_version {
	color: rgb(102, 102, 102); text-decoration: none;
}
div.gllr_pro_version {
	background: rgb(224, 224, 224); padding: 2px 3px; border: 1px solid rgb(170, 170, 170);
}
.gllr_pro_version_tooltip {
	background: rgb(255, 255, 255); padding: 10px; border-radius: 5px; border: 1px solid rgb(170, 170, 170); left: 650px; width: 380px; margin-top: 30px; float: right; position: absolute; box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1); text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}
.gllr_pro_version_tooltip::before {
	border-width: 10px; border-style: solid; border-color: transparent rgb(255, 255, 255) transparent transparent; left: -18px; top: 16px; width: 0px; height: 0px; position: absolute; content: "";
}
table.gllr_pro_version {
	background: rgb(224, 224, 224); border: 1px solid rgb(170, 170, 170); width: auto !important; margin-bottom: 5px;
}
.gllr_pro_version th {
	color: rgb(85, 85, 85);
}
.gllr_pro_version td {
	color: rgb(85, 85, 85);
}
.gllr_pro_version input {
	color: rgb(85, 85, 85);
}
.gllr_pro_version select {
	color: rgb(85, 85, 85);
}
.gllr_message {
	background: rgb(236, 236, 236); margin: 12px 0px; border-radius: 3px; border: 1px solid rgb(212, 212, 212); overflow: hidden; position: relative; min-width: 800px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.gllr_message .gllr_text {
	color: rgb(0, 0, 0); line-height: 26px; font-size: 15px; margin-top: 13px; float: left;
}
.gllr_message .gllr_text span {
	font-size: 12px; opacity: 0.7;
}
.gllr_message .gllr_button {
	background: rgb(34, 124, 194); margin: 15px 19px 15px 16px; padding: 12px 0px; border-radius: 3px; border: 1px solid rgb(31, 117, 173); width: 147px; height: 50px; text-align: center; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; text-decoration: none; float: left; box-shadow: inset 0px 1px 1px 0px #43acd9; text-shadow: 0 1px 3px #636363; -moz-border-radius: 3px; -webkit-border-radius: 3px; -moz-box-shadow: 0px 1px 1px 0 #43acd9 inset; -webkit-box-shadow: 0px 1px 1px 0 #43acd9 inset;
}
.gllr_message .gllr_button:hover {
	background: rgb(242, 110, 80); border: 1px solid rgb(191, 87, 63); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 1px 0px #f5906f; -moz-box-shadow: 0px 1px 1px 0 #f5906f inset; -webkit-box-shadow: 0px 1px 1px 0 #f5906f inset;
}
.gllr_message .gllr_button:focus {
	background: rgb(242, 110, 80); border: 1px solid rgb(191, 87, 63); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 1px 0px #f5906f; -moz-box-shadow: 0px 1px 1px 0 #f5906f inset; -webkit-box-shadow: 0px 1px 1px 0 #f5906f inset;
}
.gllr_message .gllr_icon {
	margin: 18px 0px; float: right;
}
.gllr_message .gllr_close_icon {
	margin: 8px; float: right; cursor: pointer;
}
