<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <createListenpointGTP name="listenpoint" localPort="[listenPort]"/>  
    <parameter name="[testcase:listenpointCreated]" operation="system.semaphorenotify" />

    <receiveMessageGTP name="receive message" listenpoint="listenpoint">
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>        
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[tunnelEndpointId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/>        
    </receiveMessageGTP>
    
    <sendMessageGTP name="send message" listenpoint="listenpoint"
                    remoteHost="[remoteHost]" remotePort="[remotePort]" transport="UDP">
        <headerV2 name="echoResponse" piggyFlag = "0" teidFlag = "1" tunnelEndpointId = "[tunnelEndpointId]" sequenceNumber="[seqNum]"/>
        <element identifier="Recovery" coding="TLIV">
            <field name="Recovery" value="23"/>
        </element>
    </sendMessageGTP>

    <receiveMessageGTP name="receive message" listenpoint="listenpoint">
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>        
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[tunnelEndpointId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/>        
    </receiveMessageGTP>
        
    <sendMessageGTP name="send message" listenpoint="listenpoint"
                    remoteHost="[remoteHost]" remotePort="[remotePort]" transport="UDP">
        <headerV2 name="versionNotSupported" piggyFlag = "0" teidFlag = "[tunnelEndpointId]" sequenceNumber="[seqNum]"/>    
    </sendMessageGTP>

    <finally>
    
        <removeListenpointGTP name="listenpoint"/>
        
    </finally>
    
</scenario>
