<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : bob.xml
    Created on : 17/06/2009
    Author     : jbrisseau
    Description: Receive a m3ua message using the m3uaDictionnary
-->

<scenario>

	<!-- Message encoded value -->
	<parameter name="[SCON]" operation="set" value="010002040000004002000008000000020006000c007800870001280c0012000c000008880000102302060008000028ab02050008000000020004000853434f4e" />

	<receiveMessageSIGTRAN name="Wait SCON1" request="true" type="Signalling_Congestion:2_4">
		<parameter name="[SCON1]" operation="protocol.setFromMessage" value="message.binary"/>
	</receiveMessageSIGTRAN>
	
	<if>
		<condition>
			<test parameter="[SCON1]" condition="binary.equals" value="[SCON]"/>
		</condition>
		<else>
			<log level="ERROR">	Message received :	</log>
			<log level="ERROR">	"[SCON1]"			</log>
			<log level="ERROR">	Message expected :	</log>
			<log level="ERROR">	"[SCON]"			</log>
			<exit failed="true"/>
		</else>
	</if>
	
	<receiveMessageSIGTRAN name="Wait SCON2" request="true" type="Signalling_Congestion:2_4">
		<parameter name="[SCON2]" operation="protocol.setFromMessage" value="message.binary"/>
	</receiveMessageSIGTRAN>
	
		<if>
		<condition>
			<test parameter="[SCON2]" condition="binary.equals" value="[SCON]"/>
		</condition>
		<else>
			<log level="ERROR">	Message received :	</log>
			<log level="ERROR">	"[SCON2]"			</log>
			<log level="ERROR">	Message expected :	</log>
			<log level="ERROR">	"[SCON]"			</log>
			<exit failed="true"/>
		</else>
	</if>

</scenario>
