<?xml version="1.0" encoding="UTF-8"?>

<scenario>

    <label name="ReceiveMessageHTTP"/>

  	<receiveMessageHTTP name="Wait POST" timeout="0" request="true">		
        <parameter name="transaction_id" operation="protocol.setFromMessage" value="message.transactionId"/>
	</receiveMessageHTTP>
	
	<sendMessageHTTP name="Send POST 200 OK" transactionId="[transaction_id]">
<!--******************* BEGIN MESSAGE ********************-->
<![CDATA[HTTP/1.1 200 OK
Accept-charset:text/xml
Content-Type:text/xml;charset=utf-8
User-Agent:XMLLoader
SOAPAction: ""
Content-Length:595

<?xml version="1.0" encoding="UTF-8"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://postpaid.MPay.its.com" xmlns:ns1="urn:MTC_IN">
<SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
<ns1:getSubscriberType>
<wsStatusProcess>10</wsStatusProcess>
<subType>array</subType>
<status>true</status>
</ns1:getSubscriberType>
</SOAP-ENV:Body>
</SOAP-ENV:Envelope>]]>
<!--******************** END MESSAGE *********************-->
	</sendMessageHTTP>
	
    <goto name="goto receiveMessageHTTP" label="ReceiveMessageHTTP" state="true"/>
	
</scenario>
