<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : server.xml
    Created on : 10/07/2014
    Author     : fhenry
    Description: Receive a MAP message
-->

<scenario>

    <receiveMessageSIGTRAN name="Wait ASPUP1" request="true" type="ASP_Up:3_1">
	       <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
    </receiveMessageSIGTRAN>
      
    <sendMessageSIGTRAN	name="Send ASPUP1" destScenario="client" channel="[channelName]">
    
        <UA name="m3ua" file="m3ua.xml">
            <header version="1" reserved="0" messageClass="3" messageType="4"/>
    				
            <parameter tag="17" >
                <field name="ASP_Identifier" format="Integer" value="19" length="4"/>
            </parameter>
    	
            <parameter tag="INFO_String">
                <field name="INFO_String" format="String" value="ASPUP"/>
            </parameter>
        </UA>
        
    </sendMessageSIGTRAN>

    <!-- Message encoded value -->
    <parameter name="[data]" value="010001010000007c000600080000006402100069000000070000000203020001090103070b044300020804430007084962474804000000016b1e281c060700118605010101a011600f80020780a1090607040000010014036c1fa11d02010102012d30158007913316325476f98101ff8207913316111111f1000000" />
    <parameter name="[length]" operation="string.length" value="[data]"/>
    
    <receiveMessageSIGTRAN name="Wait DATA1" request="true" type="45">
        <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    </receiveMessageSIGTRAN>
    
    <parameter name="[result ]" operation="binary.difference" value="[data1]" value2="[data]"/>
    
    <if>
    <condition>
    	<test parameter="[data1]" condition="binary.equals" value="[data]"/>
    </condition>
    <else>
    	<log level="ERROR">	Message received :	</log>
    	<log level="ERROR">	"[data1]"			</log>
    	<log level="ERROR">	Message expected :	</log>
    	<log level="ERROR">	"[data]"			</log>
    </else>
    </if>
    
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>

    <!-- Message encoded value -->
  	<parameter name="[data]" value="010001010000007c000600080000006402100069000000020000000703020001090103070b0443070008044302000849654748040000000a4904000000016b2a2828060700118605010101a01d611b80020780a109060704000001001403a203020100a305a1030201006c0da30b02010102010130030a0100000000" />
    <parameter name="[length]" operation="string.length" value="[data]"/>			
	
    <sendMessageSIGTRAN name="Send DATA1" channel="[channelName]">
    
    <!-- AP LAYER -->
    <ASN dictionary="map/dictionary_MAP.xml">
      <Component.Choice>
        <returnError.C3.Sequence>
           <invokeID.BoxedType><Integer>1</Integer></invokeID.BoxedType>
           <errorCode.Choice>
              <localValue.BoxedType><Long>unknownSubscriber</Long></localValue.BoxedType>
              <!--globalValue><ObjectIdentifier>0.1.238.52.21</ObjectIdentifier></globalValue-->
           </errorCode.Choice>
           <errorparameter.BoxedType>
              <UnknownSubscriberParam.Sequence>
                <!--extensionContainer.Sequence>
                   <privateExtensionList.C0.BoxedType>
                      <Collection>
                         <PrivateExtension.Sequence>
                            <extId><ObjectIdentifier>0.1.274.102</ObjectIdentifier></extId>
                            <extType>0401a9</extType>
                         </PrivateExtension.Sequence>
                         <PrivateExtension.Sequence>
                            <extId><ObjectIdentifier>0.1.290.109.114.63.95.71.73.92.26</ObjectIdentifier></extId>
                            <extType>040cb5e66713fa694da1b5932470</extType>
                         </PrivateExtension.Sequence>
                         <PrivateExtension.Sequence>
                            <extId><ObjectIdentifier>0.1.21</ObjectIdentifier></extId>
                            <extType>040522ba1243d0</extType>
                         </PrivateExtension.Sequence>
                      </Collection>
                   </privateExtensionList.C0.BoxedType>
                   <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                </extensionContainer.Sequence-->
                <unknownSubscriberDiagnostic.Enum>
                   <EnumType>imsiUnknown.0</EnumType>
                </unknownSubscriberDiagnostic.Enum>
             </UnknownSubscriberParam.Sequence>
           </errorparameter.BoxedType>
        </returnError.C3.Sequence>
      </Component.Choice>
    </ASN>
    
    <!-- TCAP LAYER -->
    <ASN dictionary="tcap/dictionary_TCAP.xml">
      <TCMessage>
        <continue1.A5.Sequence>
           <otid.BoxedType><Bytes.A8>0000000a</Bytes.A8></otid.BoxedType>
           <dtid.BoxedType><Bytes.A9>00000001</Bytes.A9></dtid.BoxedType>
           <dialoguePortion.BoxedType><DialogueOC.A11.BoxedType>
                 <ExternalPDU.A11.BoxedType><ExternalPDUSequenceType.U8>
                       <ObjectIdentifier><ObjectIdentifier>dialogue-as-id:0.0.17.773.1.1.1</ObjectIdentifier></ObjectIdentifier>
                       <encoding.Choice>
                        <EmbeddedData>
                          <dialoguePDU>
                            <dialogueResponse.A1.BoxedType><AARE_apduSequenceType.A1>
                                  <protocol_version><BitString value="Version1:80" trailing="7"/></protocol_version>
                                  <application_context_name.BoxedType>
                                     <value><ObjectIdentifier>shortMsgGatewayContext-v3:0.4.0.0.1.0.20.3</ObjectIdentifier></value>
                                  </application_context_name.BoxedType>
                                  <result.BoxedType>
                                     <Associate_result.BoxedType><Long>0</Long></Associate_result.BoxedType>
                                  </result.BoxedType>
                                  <result_source_diagnostic.BoxedType>
                                     <Associate_source_diagnostic.Choice>
                                        <dialogue_service_user.C1.BoxedType>
                                           <Dialogue_service_user.C1.BoxedType><Long>0</Long></Dialogue_service_user.C1.BoxedType>
                                        </dialogue_service_user.C1.BoxedType>
                                     </Associate_source_diagnostic.Choice>
                                  </result_source_diagnostic.BoxedType>
                               </AARE_apduSequenceType.A1></dialogueResponse.A1.BoxedType>
                          </dialoguePDU>
                        </EmbeddedData>
                       </encoding.Choice>
                    </ExternalPDUSequenceType.U8></ExternalPDU.A11.BoxedType>
              </DialogueOC.A11.BoxedType>
            </dialoguePortion.BoxedType>
        </continue1.A5.Sequence>
      </TCMessage>
    </ASN>
    
	  <!-- SCCP LAYER  -->
  	<SS7 name="sccp" file="sccp.xml">
  		<header>
          <field name="Message_Type" length="1" value="9" /> <!-- code for UnitData is 9 -->
      </header>
  		<parameter name="Protocol_Class" type="F" >
  			<field value="0" lengthBit="4" />
  			<field value="1" lengthBit="4" /> <!-- values 0 and 1 is for connectionless class protocol, values 2 and 3 are for connection-oriented-protocol -->
  		</parameter>
  		<parameter id="3" name="Called_Party_Address" type="V" >
  			<field name="Address_Indicator" value="67" length="1" />
  			<field name="Signalling_Point_Code" value="0007" length="2" littleEndian="true" />
  			<field name="Subsystem_Number" value="8" length="1" />
        <!--field name="Global_Title" value="00482016a9882861" format="binary" length="8" /-->	
  		</parameter>
  		<parameter id="4" type="V" name="Calling_Party_Address" >
  			<field name="Address_Indicator" value="67" length="1" />
  			<field name="Signalling_Point_Code" value="0002" length="2" littleEndian="true" />
  			<field name="Subsystem_Number" value="8" length="1" />
        <!--field name="Global_Title" value="00482016a9800004" format="binary" length="8" /-->
  		</parameter>
  		<parameter id="15" name="Data" type="V" >
  			<field value="" format="binary" length="88" />  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
        <!--field value="625a4804000000016b1e281c060700118605010101a011600f80020780a1090607040000010015026c32a13002010102012e30288407913366600567f98207913366317071f3041411080b913366600567f70000a906f3f97c3e9f03" format="binary" length="92" /-->  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
  		</parameter>
  	</SS7>

    <UA name="m3ua" file="m3ua.xml">
        <header	messageClass="Transfer_Messages" messageType="Payload_Data"/>
				
        <!--parameter tag="Network_Appearence">
            <field name="Network_Appearence"  format="Integer" value="102"/>
        </parameter-->
        <parameter tag="Routing_Context">
            <field name="Routing_Context" format="Integer"  value="100"/>
        </parameter>
        <parameter tag="Protocol_Data">
            <field value="2" name="Originating_Point_Code"/>
            <field value="7" name="Destination_Point_Code" />
            <field value="SCCP"	name="SI"/>
            <field value="2"	name="NI"/>
            <field value="0"	name="MP"/>
            <field value="1"	name="SLS"/>
            <field name="DATA"	format="fvo"/>
        </parameter>
	
        <!--parameter tag="Correlation_Id">
            <field name="Correlation_Id" format="Integer"  value="12783"/>
        </parameter-->
    </UA>
    </sendMessageSIGTRAN>
  
    <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>
    
</scenario>
