<?xml version="1.0" encoding="UTF-8"?>

<scenario>
    
    <receiveMessageSCTP request="true" type="INIT-ACK" timeout="5"/>
     
    <receiveMessageSCTP request="true" type="DATA" timeout="5">
    </receiveMessageSCTP>

    <parameter name="[lastStream]" operation="protocol.setFromMessage" value="header.stream"/>
    <test parameter="[lastStream]" condition="number.equals" value="65534" />
    <!-- ssn is incremented automatically by the sctp stack if flag == 0 -->
    <parameter name="[lastSsn]" operation="protocol.setFromMessage" value="header.ssn"/>
    <test parameter="[lastSsn]" condition="number.equals" value="0" />
    <parameter name="[lastPpid]" operation="protocol.setFromMessage" value="header.ppid"/>
    <test parameter="[lastPpid]" condition="number.equals" value="2222222222" />
    <parameter name="[lastFlags]" operation="protocol.setFromMessage" value="header.flags"/>
    <test parameter="[lastFlags]" condition="number.equals" value="0" />
    <!-- context is always set to 0 by the sctp stack --> 
    <parameter name="[lastContext]" operation="protocol.setFromMessage" value="header.context"/>
    <test parameter="[lastContext]" condition="number.equals" value="0" />    <!-- tts is always set to 0 by the sctp stack --> 
    <parameter name="[lastTtl]" operation="protocol.setFromMessage" value="header.ttl"/>
    <test parameter="[lastTtl]" condition="number.equals" value="0" />
    <!-- ttl is choosen automatically by the sctp stack --> 
    <parameter name="[lastTsn]" operation="protocol.setFromMessage" value="header.tsn"/>
    <!--test parameter="[lastTsn]" condition="number.equals" value="0" /-->
     <!-- cumtls is managed automatically by the sctp stack -->
    <parameter name="[lastCumtsn]" operation="protocol.setFromMessage" value="header.cumtsn"/>
    <!--test parameter="[lastCumtsn]" condition="number.equals" value="0" /-->
    <!-- aid is choosen automatically by the sctp stack --> 
    <parameter name="[lastAid]" operation="protocol.setFromMessage" value="header.aid"/>
    <!--test parameter="[lastAid]" condition="number.equals" value="0" /-->

    <parameter name="[lastPeerHosts]" operation="protocol.setFromMessage" value="channel.peerHosts"/>
    <parameter name="[localHosts]" operation="system.ipaddress" value2="ipv4"/>
    <parameter name="[localHosts]" operation="list.removelast" value="[localHosts]"/>
    <!--test parameter="[lastPeerHosts]" condition="string.equals" value="[localHosts]" /-->
    <parameter name="[lastPeerPort]" operation="protocol.setFromMessage" value="channel.peerPort"/>
    <!--test parameter="[lastPeerPort]" condition="string.equals" value="[localPortSCTP]" /--> 

    <parameter name="[lastSourceHost]" operation="protocol.setFromMessage" value="header.sourceHost"/>
    <parameter name="[localHosts]" operation="system.ipaddress" value2="ipv4"/>
    <parameter name="[localHosts]" operation="list.removelast" value="[localHosts]"/>
    <test parameter="[lastSourceHost]" condition="string.equals" value="[localHosts]" />
    <parameter name="[lastSourcePort]" operation="protocol.setFromMessage" value="header.sourcePort"/>
    <test parameter="[lastSourcePort]" condition="string.equals" value="[localPortSCTP]" />
    
    <parameter name="[lastContents]" operation="protocol.setFromMessage" value="data.text" />
    <test parameter="[lastContents]" condition="string.equals" value="AAAAA" />

    <parameter name="[testcase:semaphore]" operation="system.semaphorenotify"/>

    <finally>
        
        <receiveMessageSCTP request="true" type="ABORT-ACK" timeout="5"/>
	
    </finally>

</scenario>
