<?xml version="1.0" encoding="UTF-8"?>

<scenario>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[remoteHostH248]" remotePort="[remotePortH248]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[remoteHostH248]]:[remotePortH248] 
Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[remoteHostH248]" remotePort="[remotePortH248]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[remoteHostH248]]:[remotePortH248] 
Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[remoteHostH248]" remotePort="[remotePortH248]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[remoteHostH248]]:[remotePortH248] Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[remoteHostH248]" remotePort="[remotePortH248]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[remoteHostH248]]:[remotePortH248] Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[remoteHostH248]" remotePort="[remotePortH248]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[remoteHostH248]]:[remotePortH248] Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[remoteHostH248]" remotePort="[remotePortH248]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[remoteHostH248]]:[remotePortH248] Pending=[transID]{}
]]>
    </sendMessageH248>
    
</scenario>
