<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="receive redirection request" request="true" type="Redirection Request:6">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>
    
    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[binary]" condition="binary.equals" value="0f06000b00010109fe0004ac1015cf"/>

    <sendMessageGTP name="send redirection response"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="[transport]">
        <headerPrime type="Redirection Response:7" sequenceNumber="1"/>
        <element tag="cause:1" >
            <field name="cause" value="7"/>
        </element>
    </sendMessageGTP>

</scenario>
