<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="receive data record transfer request">
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <parameter name="[version]" operation="protocol.setFromMessage" value="header.version"/>
    <test parameter="[version]" condition="number.equals" value="0"/>
    <parameter name="[protocolType]" operation="protocol.setFromMessage" value="header.protocolType"/>
    <test parameter="[protocolType]" condition="boolean.equals" value="0"/>
    <parameter name="[messageType]" operation="protocol.setFromMessage" value="header.messageType"/>
    <test parameter="[messageType]" condition="number.equals" value="240"/>
    <parameter name="[name]" operation="protocol.setFromMessage" value="header.name"/>
    <test parameter="[name]" condition="string.equals" value="dataRecordTransferRequest"/>                  
    <parameter name="[sequenceNumber]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    <test parameter="[sequenceNumber]" condition="number.equals" value="1"/>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>      
    <test parameter="[binary]" condition="binary.equals" value="0ff0002a00017e01fc0023010100410010636563692065737420756e2074657374000b7365636f6e642074657374"/>
    
    <sendMessageGTP name="send data record transfer response"
                    remoteHost="[remoteHost]" remotePort="[remotePort]" transport="UDP">
        <headerPrime name="dataRecordTransferResponse" sequenceNumber="1"/>
        <element identifier="cause" coding="TV">
            <field name="cause" value="1"/>
        </element>
        <element identifier="requestsResponded" coding="TLV">
            <field name="sequenceNumber01" value="10"/>
        </element>
    </sendMessageGTP>

    <receiveMessageGTP name="receive data record transfer request">
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>
  
    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>    
    <test parameter="[binary]" condition="binary.equals" value="0ff0000d00027e04f90006000200050009"/>
    
    <sendMessageGTP name="send data record transfer response"
                    remoteHost="[remoteHost]" remotePort="[remotePort]" transport="UDP">
        <headerPrime name="dataRecordTransferResponse" sequenceNumber="2"/>
        <element identifier="cause" coding="TV">
            <field name="cause" value="2"/>
        </element>        
        <element identifier="requestsResponded" coding="TLV">
            <field name="sequenceNumber01" value="18"/>
            <field name="sequenceNumber02" value="302"/>
        </element>
    </sendMessageGTP>

    <receiveMessageGTP name="receive data record transfer request">
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>      
    <test parameter="[binary]" condition="binary.equals" value="0ff0000b00037e03fa000400060001"/>
    
    <sendMessageGTP name="send data record transfer response"
                    remoteHost="[remoteHost]" remotePort="[remotePort]" transport="UDP">
        <headerPrime name="dataRecordTransferResponse" sequenceNumber="3"/>
        <element identifier="cause" coding="TV">
            <field name="cause" value="3"/>
        </element>        
        <element identifier="requestsResponded" coding="TLV">
            <field name="sequenceNumber01" value="1"/>        
        </element>
    </sendMessageGTP>

</scenario>
