<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : bob.xml
    Created on : 10/07/2009
    Author     : jbrisseau
    Description: Receive a BICC-IAM message.
-->

<scenario>

	<!-- Message encoded value -->
	<parameter name="[APM]" value="01000101000000d0021000c500002340000023450d02000e1d0c0000410178ac8581c0000001828300082081832020763d300d0a6f3d2d2030203020494e204950342031302e3132342e332e350d0a733d2d0d0a633d494e204950342031302e3132342e332e350d0a743d3020300d0a613d69706263703a3120526571756573740d0a6d3d617564696f203630363136205254502f415650203130300d0a613d7074696d653a32300d0a613d7274706d61703a31303020564e442e334750502e495546502f31363030300d0a00000000"/>
	<!--parameter name="[APM_replace]" operation="string.regexReplaces" value="[APM]" value2="0d0a" value3="200a"/-->	

	<receiveMessageSIGTRAN name="Wait Notify1">
		<parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>
	</receiveMessageSIGTRAN>
	
	<!-- manually extract SDP from binary message -->
	
	<!-- based on application transport : parameter fields/instruction indicators/segmentation indicators -->
	<parameter name="[sdp_start]" operation="binary.indexof" value="[binary]" value2="832020" />
	<parameter name="[sdp_start]" operation="number.add" value="[sdp_start]" value2="3" />
	<!-- based "end of optionary parameters" value, so it should be the last paramter ... -->
	<parameter name="[sdp_end]" operation="binary.indexof" value="[binary]" value2="00" value3="[sdp_start]" /> 
	<parameter name="[sdp_length]" operation="number.substract" value="[sdp_end]" value2="[sdp_start]" />
	<parameter name="[sdp_bin]" operation="binary.subbinary" value="[binary]" value2="[sdp_start]" value3="[sdp_length]"/>
	<parameter name="[sdp_text]" operation="binary.toString" value="[sdp_bin]" />
    
  <!-- This does not work I don't know why ? -->
	<!--parameter name="[sdp_port]" operation="protocol.setFromSdp" value="[sdp_text]" value2="media.port"/>
	<test parameter="[sdp_port]" condition="number.equals" value="60616"/>    
	<parameter name="[sdp_host]" operation="protocol.setFromSdp" value="[sdp_text]" value2="connection.address"/>
  <test parameter="[sdp_host]" condition="string.equals" value="10.124.3.5"/-->    
    	
	<!--if>
		<condition>
			<test parameter="[binary]" condition="binary.equals" value="[APM]"/>
		</condition>
		<else>
			<log level="ERROR">	Message received :	</log>
			<log level="ERROR">	"[binary]"			</log>
			<log level="ERROR">	Message expected :	</log>
			<log level="ERROR">	"[APM_replace]"			</log>
			<exit failed="true"/>
		</else>
	</if-->
	
</scenario>
