<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="3GPP Gx Credit Control (CCR/CCA)" -->

<scenario>

    <call name="diameter.RecCER_SendCEA"/>
    
    <receiveMessageDIAMETER name="ReceiveRequestCCR+INITIAL_REQUEST:1" request="true" type="Credit-Control">
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
        <parameter name="[authApplicationId]" operation="protocol.setFromMessage" value="avp.Auth-Application-Id.value"/>
        <parameter name="[originHost]" operation="protocol.setFromMessage" value="avp.Origin-Host:264.value"/>
        <parameter name="[originRealm]" operation="protocol.setFromMessage" value="avp.origin-Realm:296.value"/>        
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
        <parameter name="[CC-Request-Type]" operation="protocol.setFromMessage" value="avp.CC-Request-Type:416.value"/>
        <parameter name="[CC-Request-Number]" operation="protocol.setFromMessage" value="avp.CC-Request-Number:415.value"/>
    </receiveMessageDIAMETER>
    
    <parameter name="[CC-Request-Type]" operation="protocol.setFromMessage" value="avp.CC-Request-Type:416.value"/>
    <test parameter="[CC-Request-Type]" condition="string.equals" value="INITIAL_REQUEST:1"/>        

<!--
From 3GPP TS 29.212 V9.3.0 : CCR is sent by the PCEF to the PCRF:
	- to request PCC rules for a bearer
	- to indicate bearer or PCC rule related events
	- the termination of the IP CAN bearer and/or session
CC-Answer ::= < Diameter Header: 272, PXY > 
					< Session-Id > 
					{ Auth-Application-Id } 
					{ Origin-Host } 
					{ Origin-Realm } 
					[ Result-Code ] 
					[ Experimental-Result ] 
					{ CC-Request-Type } 
					{ CC-Request-Number } 
				   *[ Supported-Features ] 
					[ Bearer-Control-Mode ] 
				   *[ Event-Trigger ] 
					[ Origin-State-Id ] 
				   *[ Redirect-Host ] 
					[ Redirect-Host-Usage ] 
					[ Redirect-Max-Cache-Time ] 
				   *[ Charging-Rule-Remove ] 
					  Charging-Rule-Remove ::= < AVP Header: 1002 > 
												  *[ Charging-Rule-Name ] 
												  *[ Charging-Rule-Base-Name ] 
												  *[ AVP ]				   
				   *[ Charging-Rule-Install ] 
					  Charging-Rule-Install ::= < AVP Header: 1001 > 
												   *[ Charging-Rule-Definition ] 
													  Charging-Rule-Definition ::= < AVP Header: 1003 > 
																					   { Charging-Rule-Name } 
																					   [ Service-Identifier ] 
																					   [ Rating-Group ] 
																					  *[ Flow-Information ] 
																					     Flow-Information ::= < AVP Header: 1058 > 
																												  [ Flow-Description ] 
																												  [ Packet-Filter-Identifier ] 
																												  [ Packet-Filter-Usage ] 
																												  [ ToS-Traffic-Class ] 
																												  [ Security-Parameter-Index ] 
																												  [ Flow-Label ] 
																												  [ Flow-Direction ] 
																												 *[ AVP ]
																					   [ Flow-Status ] 
																					   [ QoS-Information ] 
																					   [ Reporting-Level ]
																					   [ Online ] 
																					   [ Offline ] 
																					   [ Metering-Method ]
																					   [ Precedence ]
																					   [ AF-Charging-Identifier ]
																					  *[ Flows ]
																					   [ Monitoring-Key]
																					   [ AF-Signalling-Protocol ]
																					  *[ AVP ]																					   
												   *[ Charging-Rule-Name ] 
												   *[ Charging-Rule-Base-Name ] 
													[ Bearer-Identifier ] 
													[ Rule-Activation-Time ] 
													[ Rule-Deactivation-Time ] 
													[ Resource-Allocation-Notification ] 
													[ Charging-Correlation-Indicator ] 
												   *[ AVP ] 
				    [ Charging-Information ]
					  Charging-Information :: = < AVP Header : 618 10415 >
													[ Primary-Event-Charging-Function-Name ] 
													[ Secondary-Event-Charging-Function-Name ] 
													[ Primary-Charging-Collection-Function-Name ] 
													[ Secondary-Charging-Collection-Function-Name ] 
												   *[ AVP]
					[ Online ] 
					[ Offline ] 
				   *[ QoS-Information ] 
					  QoS-Information ::= < AVP Header: 1016 > 
											  [ QoS-Class-Identifier ] 
											  [ Max-Requested-Bandwidth-UL ] 
											  [ Max-Requested-Bandwidth-DL ] 
											  [ Guaranteed-Bitrate-UL ] 
											  [ Guaranteed-Bitrate-DL ] 
											  [ Bearer-Identifier ] 
											  [ Allocation-Retention-Priority] 
											  [ APN-Aggregate-Max-Bitrate-UL] 
											  [ APN-Aggregate-Max-Bitrate-DL] 
											 *[ AVP ] 
				    [ Revalidation-Time ] 
					[ Default-EPS-Bearer-QoS ] 
					[ Bearer-Usage ] 
					[ 3GPP-User-Location-Info] 
				   *[ Usage-Monitoring-Information ] 
				   *[ CSG-Information-Reporting ] 
					[ User-CSG-Information ] 
					[ Error-Message ] 
					[ Error-Reporting-Host ] 
				   *[ Failed-AVP ] 
				   *[ Proxy-Info ] 
				   *[ Route-Record ] 
				   *[ AVP ]
-->

    <!-- Origin-State-Id - RFC 3588: value that is incremented whenever a Diameter entity restarts with loss of 
      previous state, for example upon reboot
    -->
    <parameter name="[Origin-State-Id]" operation="set" value="0"/>


    <!-- Bearer-Control-Mode: sent from PCRF to PCEF and indicates the PCRF selected bearer control mode
    		- UE_ONLY:	the UE only shall request any resource establishment, modification or termination
    		- RESERVED:	not used
    		- UE_NW:	both the UE and PCEF may request any resource establishment, modification or termination by 
    					adding, modifying or removing traffic flow information
    -->
    <parameter name="[Bearer-Control-Mode]" operation="set" value="UE_NW"/>

    <!-- Event-Trigger: when sent from the PCRF to the PCEF the EventTrigger AVP indicates an event that shall cause
    		a re-request of PCC rules
    		ECGI	: Eutran Cell Global ID
    		ANGW	: Access Network Gateway (DSL, WiMAX, FTTx ...)
    -->
    <parameter name="[Event-Trigger]" operation="set" value="RAI_CHANGE"/>
    <parameter name="[Event-Trigger]" operation="set" value="TAI_CHANGE"/>
    <parameter name="[Event-Trigger]" operation="set" value="PLMN_CHANGE"/>
    <parameter name="[Event-Trigger]" operation="set" value="USER_LOCATION_CHANGE"/>
    <parameter name="[Event-Trigger]" operation="set" value="AN_GW_CHANGE"/>
    <parameter name="[Event-Trigger]" operation="set" value="IP_CAN_CHANGE"/>

    <!-- Charging-Rule-Install: used to activate, install or modify PCC rules as instructed from the PCRF to the PCEF
    		- Charging-Rule-Definition
    			- Charging-Rule-Name
    			- Flow-Information
    				- Flow-Description - TS 29.214 : IPFilterRule "action dir proto from src to dst [options]"
    					src and dst : <address/mask> [ports]
    					
    		Example: all SIP traffic towards P-CSCF (192.168.32.24) is allowed
    -->
    <parameter name="[Charging-Rule-Name]" operation="set" value="VoIP_CP"/>
    <parameter name="[Flow-Description-in]" operation="set" value="permit in 17 from any to 192.168.32.24/32 5060,5061"/>
    <parameter name="[Flow-Description-out]" operation="set" value="permit out 17 from 192.168.32.24/32 5060,5061 to any"/>

    <!-- QoS-Information: requested QoS information associated with resources requested by the UE, an IP CAN bearer 
    	or the subscribed QoS information at APN level
    				
    	- APN-Aggregate-Max-Bitrate-UL/DL: total bandwidth usage for the uplink/downlink direction of non-GBR QCIs at 
    		the APN
    	Example: we consider MME received subscription information for IMS APN from HSS
    -->
    <parameter name="[APN-Aggregate-Max-Bitrate-UL]" operation="set" value="100000"/>
    <parameter name="[APN-Aggregate-Max-Bitrate-DL]" operation="set" value="100000"/>

    <!-- Default-EPS-Bearer-QoS: subscribed QoS information
    		- QoS-Class-Identifier
    		- Allocation-Retention-Priority :
    			- Priority-Level
    			- Pre-emption-Capability
    			- Pre-emption-Vulnerability
    		
    	Example: we consider MME received subscription information for IMS APN from HSS
    -->
    <parameter name="[QoS-Class-Identifier]" operation="set" value="QCI_5"/>
    <parameter name="[Priority-Level]" operation="set" value="1"/>
    <parameter name="[Pre-emption-Capability]" operation="set" value="PRE-EMPTION_CAPABILITY_ENABLED"/>
    <parameter name="[Pre-emption-Vulnerability]" operation="set" value="PRE-EMPTION_VULNERABILITY_DISABLED"/>

    <sendMessageDIAMETER name="SendAnswerCCA+INITIAL_REQUEST:1" listenpoint="[listenpointName]" 
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">     
        <header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Auth-Application-Id:258" value="[authApplicationId]"/>
        <avp code="Origin-Host:264" value="[destinationHost]"/>
        <avp code="Origin-Realm:296" value="[destinationRealm]"/>
        <avp code="Destination-Host:293" value="[originHost]"/>        
        <avp code="Destination-Realm:283" value="[originRealm]"/>
        <avp code="Result-Code:268" value="DIAMETER_SUCCESS:2001"/>
        <avp code="CC-Request-Type:416" value="[CC-Request-Type]"/>
        <avp code="CC-Request-Number:415" value="[CC-Request-Number]"/>
        <avp code="Charging-Rule-Install:1001" vendorId="[vendorID]">
            <avp code="Charging-Rule-Definition:1003" vendorId="[vendorID]">
                <avp code="Charging-Rule-Name:1005" value="[Charging-Rule-Name]" vendorId="[vendorID]"/>
                <avp code="Flow-Information:1058">
                    <avp code="Flow-Description:507" value="[Flow-Description-in]" vendorId="[vendorID]"/>
                    <avp code="Flow-Description:507" value="[Flow-Description-out]" vendorId="[vendorID]"/>
                </avp>
            </avp>
        </avp>
        <avp code="QoS-Information:1016" vendorId="[vendorID]">
            <avp code="APN-Aggregate-Max-Bitrate-UL:1041" value="[APN-Aggregate-Max-Bitrate-UL]" vendorId="[vendorID]"/>
            <avp code="APN-Aggregate-Max-Bitrate-DL:1040" value="[APN-Aggregate-Max-Bitrate-UL]" vendorId="[vendorID]"/>
        </avp>
        <avp code="Default-EPS-Bearer-QoS:1049">
            <avp code="QoS-Class-Identifier:1028" value="[QoS-Class-Identifier]" vendorId="[vendorID]"/>
            <avp code="Allocation-Retention-Priority:1034" vendorId="[vendorID]">
                <avp code="Priority-Level:1046" value="[Priority-Level]"/>
                <avp code="Pre-emption-Capability:1047" value="[Pre-emption-Capability]"/>
                <avp code="Pre-emption-Vulnerability:1048" value="[Pre-emption-Vulnerability]"/>
            </avp>
        </avp>
   </sendMessageDIAMETER>

   <receiveMessageDIAMETER name="ReceiveRequestCCR+UPDATE_REQUEST:2" request="true" type="Credit-Control">
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
        <parameter name="[authApplicationId]" operation="protocol.setFromMessage" value="avp.Auth-Application-Id.value"/>
        <parameter name="[originHost]" operation="protocol.setFromMessage" value="avp.Origin-Host:264.value"/>
        <parameter name="[originRealm]" operation="protocol.setFromMessage" value="avp.origin-Realm:296.value"/>                
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
        <parameter name="[CC-Request-Type]" operation="protocol.setFromMessage" value="avp.CC-Request-Type:416.value"/>
        <parameter name="[CC-Request-Number]" operation="protocol.setFromMessage" value="avp.CC-Request-Number:415.value"/>
    </receiveMessageDIAMETER>

    <parameter name="[CC-Request-Type]" operation="protocol.setFromMessage" value="avp.CC-Request-Type:416.value"/>
    <test parameter="[CC-Request-Type]" condition="string.equals" value="UPDATE_REQUEST:2"/>            

    <sendMessageDIAMETER name="SendAnswerCCA+UPDATE_REQUEST:2" listenpoint="[listenpointName]" 
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">     
        <header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Auth-Application-Id:258" value="[authApplicationId]"/>
        <avp code="Origin-Host:264" value="[destinationHost]"/>
        <avp code="Origin-Realm:296" value="[destinationRealm]"/>
        <avp code="Destination-Host:293" value="[originHost]"/>        
        <avp code="Destination-Realm:283" value="[originRealm]"/>        
        <avp code="Result-Code:268" value="DIAMETER_SUCCESS:2001"/>
        <avp code="CC-Request-Type:416" value="[CC-Request-Type]"/>
        <avp code="CC-Request-Number:415" value="[CC-Request-Number]"/>
        <avp code="Charging-Rule-Install:1001" vendorId="[vendorID]">
            <avp code="Charging-Rule-Definition:1003" vendorId="[vendorID]">
                <avp code="Charging-Rule-Name:1005" value="[Charging-Rule-Name]" vendorId="[vendorID]"/>
                <avp code="Flow-Information:1058">
                    <avp code="Flow-Description:507" value="[Flow-Description-in]" vendorId="[vendorID]"/>
                    <avp code="Flow-Description:507" value="[Flow-Description-out]" vendorId="[vendorID]"/>
                </avp>
            </avp>
        </avp>
        <avp code="QoS-Information:1016" vendorId="[vendorID]">
            <avp code="APN-Aggregate-Max-Bitrate-UL:1041" value="[APN-Aggregate-Max-Bitrate-UL]" vendorId="[vendorID]"/>
            <avp code="APN-Aggregate-Max-Bitrate-DL:1040" value="[APN-Aggregate-Max-Bitrate-UL]" vendorId="[vendorID]"/>
        </avp>
        <avp code="Default-EPS-Bearer-QoS:1049">
            <avp code="QoS-Class-Identifier:1028" value="[QoS-Class-Identifier]" vendorId="[vendorID]"/>
            <avp code="Allocation-Retention-Priority:1034" vendorId="[vendorID]">
                <avp code="Priority-Level:1046" value="[Priority-Level]"/>
                <avp code="Pre-emption-Capability:1047" value="[Pre-emption-Capability]"/>
                <avp code="Pre-emption-Vulnerability:1048" value="[Pre-emption-Vulnerability]"/>
            </avp>
        </avp>
   </sendMessageDIAMETER>

    <receiveMessageDIAMETER name="ReceiveRequestCCR+TERMINATION_REQUEST:3" request="true" type="Credit-Control">
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
        <parameter name="[authApplicationId]" operation="protocol.setFromMessage" value="avp.Auth-Application-Id.value"/>
        <parameter name="[originHost]" operation="protocol.setFromMessage" value="avp.Origin-Host:264.value"/>
        <parameter name="[originRealm]" operation="protocol.setFromMessage" value="avp.origin-Realm:296.value"/>                
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
        <parameter name="[CC-Request-Type]" operation="protocol.setFromMessage" value="avp.CC-Request-Type:416.value"/>
        <parameter name="[CC-Request-Number]" operation="protocol.setFromMessage" value="avp.CC-Request-Number:415.value"/>
    </receiveMessageDIAMETER>
    
    <parameter name="[CC-Request-Type]" operation="protocol.setFromMessage" value="avp.CC-Request-Type:416.value"/>
    <test parameter="[CC-Request-Type]" condition="string.equals" value="TERMINATION_REQUEST:3"/>        
    
    <sendMessageDIAMETER name="SendAnswerCCA+TERMINATION_REQUEST:3" listenpoint="[listenpointName]" 
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">     
        <header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Auth-Application-Id:258" value="[authApplicationId]"/>
        <avp code="Origin-Host:264" value="[destinationHost]"/>
        <avp code="Origin-Realm:296" value="[destinationRealm]"/>
        <avp code="Destination-Host:293" value="[originHost]"/>        
        <avp code="Destination-Realm:283" value="[originRealm]"/>        
        <avp code="Result-Code:268" value="DIAMETER_SUCCESS:2001"/>
        <avp code="CC-Request-Type:416" value="[CC-Request-Type]"/>
        <avp code="CC-Request-Number:415" value="[CC-Request-Number]"/>
        <avp code="Charging-Rule-Install:1001" vendorId="[vendorID]">
            <avp code="Charging-Rule-Definition:1003" vendorId="[vendorID]">
                <avp code="Charging-Rule-Name:1005" value="[Charging-Rule-Name]" vendorId="[vendorID]"/>
                <avp code="Flow-Information:1058">
                    <avp code="Flow-Description:507" value="[Flow-Description-in]" vendorId="[vendorID]"/>
                    <avp code="Flow-Description:507" value="[Flow-Description-out]" vendorId="[vendorID]"/>
                </avp>
            </avp>
        </avp>
        <avp code="QoS-Information:1016" vendorId="[vendorID]">
            <avp code="APN-Aggregate-Max-Bitrate-UL:1041" value="[APN-Aggregate-Max-Bitrate-UL]" vendorId="[vendorID]"/>
            <avp code="APN-Aggregate-Max-Bitrate-DL:1040" value="[APN-Aggregate-Max-Bitrate-UL]" vendorId="[vendorID]"/>
        </avp>
        <avp code="Default-EPS-Bearer-QoS:1049">
            <avp code="QoS-Class-Identifier:1028" value="[QoS-Class-Identifier]" vendorId="[vendorID]"/>
            <avp code="Allocation-Retention-Priority:1034" vendorId="[vendorID]">
                <avp code="Priority-Level:1046" value="[Priority-Level]"/>
                <avp code="Pre-emption-Capability:1047" value="[Pre-emption-Capability]"/>
                <avp code="Pre-emption-Vulnerability:1048" value="[Pre-emption-Vulnerability]"/>
            </avp>
        </avp>
   </sendMessageDIAMETER>

</scenario>
