<?xml version="1.0" encoding="UTF-8"?>
<scenario>

    <label name="start"/>

    <receiveMessageDIAMETER name="Receive Command Control Request" request="true" type="Credit-Control:272">
      <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
      <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
      <parameter name="[hopByHop]"    operation="protocol.setFromMessage" value="header.hopByHop"/>
      <parameter name="[endToEnd]"    operation="protocol.setFromMessage" value="header.endToEnd"/>
      <parameter name="[requestType]" operation="protocol.setFromMessage" value="CC-Request-Type.value"/>
      <parameter name="[sessionId]"   operation="protocol.setFromMessage" value="Session-Id.value"/>
    </receiveMessageDIAMETER>

    <sendMessageDIAMETER name="Send Command Control Answer">
    	<header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
    	<avp code="Session-Id:263"   value="[sessionId]"/>      
    	<avp code="Origin-Host:264"  value="10.10.10.10"/>
    	<avp code="Origin-Realm:296" value="[requestType]"/>
      <avp code="CC-Request-Type:416" value="[requestType]"/>
    </sendMessageDIAMETER>

    <goto name="goto start" label="start" />

</scenario>
