                               <?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="Send 3GPP/S6a/ULA  Update-Location answer (ULA)" -->

<scenario>
    
    <receiveMessageDIAMETER name="Receive Request 3GPP/S6a/ULR" request="true" type="Update-Location:316">
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
    </receiveMessageDIAMETER>

<!--
3GPP TS 29.272 V12.1.0  :
< Update-Location-Answer> ::=	< Diameter Header: 316, PXY, 16777251 >
                            	< Session-Id >
                            	[ Vendor-Specific-Application-Id ]
                                Vendor-Specific-Application-Id ::= < AVP Header: 260 >
                                                                         1* [ Vendor-Id ]
                                                                         0*1{ Auth-Application-Id }
                                                                         0*1{ Acct-Application-Id }
                            	[ Result-Code ]
                            [ Experimental-Result ] 
                              Experimental-Result ::= < AVP Header: 297 >
                                                              { Vendor-Id }
                                                              { Experimental-Result-Code }
                            [ Error-Diagnostic ] 
                            { Auth-Session-State }
                            { Origin-Host }
                            { Origin-Realm }
                            *[ Supported-Features ]
                              Supported-Features ::=  < AVP header: 628 10415 >
                                                               { Vendor-Id }
                                                               { Feature-List-ID }
                                                               { Feature-List }
                                                              *[AVP]                            
                            [  ULA-Flags ]
                            [ Subscription-Data ]
                              Subscription-Data ::= <AVP header: 1400 10415>
                                                    [ Subscriber-Status ]
                                                    [ MSISDN ] 
                                                    [ A-MSISDN ]
                                                    [ STN-SR ] 
                                                    [ ICS-Indicator ]
                                                    [ Network-Access-Mode ]
                                                    [ Operator-Determined-Barring ]
                                                    [ HPLMN-ODB ]
                                                    *10[ Regional-Subscription-Zone-Code]
                                                    [ Access-Restriction-Data ]
                                                    [ APN-OI-Replacement ]
                                                    [ LCS-Info ]
                                                    [ Teleservice-List ]
                                                    *[ Call-Barring-Info ]
                                                    [ 3GPP-Charging-Characteristics ] 
                                                    [ AMBR ]
                                                    [ APN-Configuration-Profile ]
                                                    [ RAT-Frequency-Selection-Priority-ID ]
                                                    [ Trace-Data]
                                                    [ GPRS-Subscription-Data ]
                                                    *[ CSG-Subscription-Data ] 
                                                    [ Roaming-Restricted-Due-To-Unsupported-Feature ] 
                                                    [ Subscribed-Periodic-RAU-TAU-Timer ] 
                                                    [ MPS-Priority ] 
                                                    [ VPLMN-LIPA-Allowed ] 
                                                    [ Relay-Node-Indicator ] 
                                                    [ MDT-User-Consent ] 
                                                    [Subscribed-VSRVCC ] 
                                                    [Subscription-Data-Flags ]
                                                    *[ AVP ]

                            *[ AVP ]
                            *[ Failed-AVP ]
                                Failed-AVP ::= < AVP Header: 279 >
                                                     1* {AVP}                            
                            	*[ Proxy-Info ]
                            	   Proxy-Info ::= < AVP Header: 284 >
                                                       { Proxy-Host }
                                                       { Proxy-State }
                                                     * [ AVP ]                              
                            *[ Route-Record ]


-->
    <sendMessageDIAMETER name="Send Answer 3GPP/S6a/ULA">
        <header request="false" command="[commandCode]" applicationId="[applicationID]" hopByHop="[hopByHop]" endToEnd="[endToEnd]" proxiable="true" error="false" retransmit="false"/>
          <avp code="Session-Id" mandatory="true" type="UTF8String" value="hss.sip.france.fr;45e45ee4;046725;5cd579ef"/>
          <avp code="Vendor-Specific-Application-Id">
            <avp code="Vendor-Id" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Auth-Application-Id" mandatory="true" type="Unsigned32" value="[applicationID]"/>
            <!--avp code="Acct-Application-Id" mandatory="true" type="Unsigned32" value="[applicationID]"/-->
          </avp>

          <avp code="Result-Code" mandatory="true" type="Unsigned32" value="DIAMETER_SUCCESS"/>              
          <avp code="Experimental-Result">
            <avp code="Vendor-Id" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Experimental-Result-Code" mandatory="true" type="Unsigned32" value="2001" vendorId="[vendorID]"/>
          </avp>
          <!-- The Error-Diagnostic AVP is of type Enumerated. The following values are defined: -->
          <!-- GPRS_DATA_SUBSCRIBED (0) NO_GPRS_DATA_SUBSCRIBED (1) -	ODB_ALL_APN (2) -	ODB_HPLMN_APN (3) -	ODB_VPLMN_APN (4)    -->
          <avp code="Error-Diagnostic" mandatory="true" type="Enumerated" value="0"/> 

          <!-- The Auth-Session-State AVP specifies whether state is maintained for a particular session. -->
          <!-- Possible enumerated values : STATE_MAINTAINED(0) / NO_STATE_MAINTAINED(1). NO_STATE_MAINTAINED must be used (TS 29.229.750). -->
          <avp code="Auth-Session-State" mandatory="true" type="Enumerated" value="NO_STATE_MAINTAINED"/>

          <avp code="Origin-Host" mandatory="true" type="DiameterIdentity" value="[remoteHost]"/>
          <avp code="Origin-Realm" mandatory="true" type="DiameterIdentity" value="[Remote-Realm]"/>

          <!-- The Supported-Features AVP may inform the destination host about the features that the origin host supports. -->
          <avp code="Supported-Features" vendorId="[vendorID]">
            <avp code="Vendor-Id" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <!-- The Feature-List-ID AVP contains the identity of a feature list. -->
            <avp code="Feature-List-ID" mandatory="false" type="Unsigned32" value="1" vendorId="[vendorID]"/>
            <!-- The Feature-List AVP contains a bit mask indicating the supported features of an application. -->
            <avp code="Feature-List" mandatory="false" type="Unsigned32" value="1" vendorId="[vendorID]"/> 
          </avp>
          <avp code="Supported-Features" vendorId="[vendorID]">
            <avp code="Vendor-Id" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Feature-List-ID" mandatory="false" type="Unsigned32" value="2" vendorId="[vendorID]"/>
            <avp code="Feature-List" mandatory="false" type="Unsigned32" value="2" vendorId="[vendorID]"/> 
          </avp>
          
           <avp code="ULA-Flags" mandatory="true" type="Unsigned32" value="ToBeCompleted"/>
          
          <avp code="Subscription-Data">
            <avp code="Subscriber-Status" mandatory="true" type="Enumerated" value="0"/>
            <avp code="MSISDN" mandatory="true" type="OctetString" value="ToBeCompleted"/>
            <avp code="A-MSISDN" mandatory="true" type="OctetString" value="ToBeCompleted"/>
            <avp code="STN-SR" mandatory="true" type="OctetString" value="ToBeCompleted"/>
            <avp code="ICS-Indicator" mandatory="true" type="Enumerated" value="ToBeCompleted"/>
            <!-- Possible enumerated values : PACKET_AND_CIRCUIT (0) Reserved (1) ONLY_PACKET (2) -->
            <avp code="Network-Access-Mode" mandatory="true" type="Enumerated" value="0"/>
            <avp code="Operator-Determined-Barring" mandatory="true" type="Unsigned32" value="ToBeCompleted"/>
            <avp code="HPLMN-ODB" mandatory="true" type="Unsigned32" value="ToBeCompleted"/>
            <avp code="Regional-Subscription-Zone-Code" mandatory="true" type="OctetString" value="ToBeCompleted"/>
            <avp code="Access-Restriction-Data" mandatory="true" type="Unsigned32" value="ToBeCompleted"/>
            <avp code="APN-OI-Replacement" mandatory="true" type="UTF8String" value="ToBeCompleted"/>
            <avp code="LCS-Info">
                <avp code="GMLC-Number" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                <avp code="LCS-PrivacyException">
                    <avp code="SS-Code" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                    <avp code="SS-Status" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                    <avp code="Notification-To-UE-User" mandatory="true" type="Enumerated" value="0"/>
                    <avp code="External-Client">
                          <avp code="Client-Identity" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                          <avp code="GMLC-Restriction" mandatory="true" type="Enumerated" value="0"/>
                          <avp code="Notification-To-UE-User" mandatory="true" type="Enumerated" value="0"/>
                          <avp code="External-Client">
                                  <avp code="Client-Identity" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                                  <avp code="GMLC-Restriction" mandatory="true" type="Enumerated" value="0"/>
                                  <avp code="Notification-To-UE-User" mandatory="true" type="Enumerated" value="0"/>
                          </avp>
                          <avp code="PLMN-Client" mandatory="true" type="Enumerated" value="0"/>
                          <avp code="Service-Type">    
                                  <avp code="ServiceTypeIdentity" mandatory="true" type="Unsigned32" value="ToBeCompleted"/>
                                  <avp code="GMLC-Restriction" mandatory="true" type="Enumerated" value="0"/>
                                  <avp code="Notification-To-UE-User" mandatory="true" type="Enumerated" value="0"/>
                          </avp>
                   </
                   <avp code="PLMN-Client" mandatory="true" type="Enumerated" value="0"/>
                   <avp code="Service-Type">
                         <avp code="Client-Identity" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                                  <avp code="GMLC-Restriction" mandatory="true" type="Enumerated" value="0"/>
                                  <avp code="Notification-To-UE-User" mandatory="true" type="Enumerated" value="0"/>
                   </avp> 
                </avp>
                <avp code="MO-LR">
                    <avp code="SS-Code" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                    <avp code="SS-Status" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                </avp>
            </avp>
            <avp code="Teleservice-List">
                <avp code="TS-Code" mandatory="true" type="OctetString" value="ToBeCompleted"/>
            </avp>
            <avp code="Call-Barring-Info">
                    <avp code="SS-Code" mandatory="true" type="OctetString" value="ToBeCompleted"/>
                    <avp code="SS-Status" mandatory="true" type="OctetString" value="ToBeCompleted"/>
            </avp>
          </avp>  
          
                         

<!--
          <avp code="Failed-AVP">
            <avp code="???" vendorId="[vendorID]" mandatory="true/false" private="true/false" type="OctetString / Integer32 / Integer64 / Unsigned32 / Unsigned64 / Float32 / Float64 / Grouped / Address / Time / UTF8String / DiameterIdentity / DiameterURI / Enumerated / IPFilterRule / QoSFilterRule" value="???"/>
          </avp>
          <avp code="Failed-AVP">
            <avp code="???" vendorId="[vendorID]" mandatory="true/false" private="true/false" type="OctetString / Integer32 / Integer64 / Unsigned32 / Unsigned64 / Float32 / Float64 / Grouped / Address / Time / UTF8String / DiameterIdentity / DiameterURI / Enumerated / IPFilterRule / QoSFilterRule" value="???"/>
          </avp>
-->
          <avp code="Proxy-Info">
             <avp code="Proxy-Host" mandatory="true" private="false" type="DiameterIdentity" value="ToBeCompleted"/>
             <avp code="Proxy-State" mandatory="true"  private="false" type="OctetString" value="ToBeCompleted"/>
          </avp>
          <avp code="Proxy-Info">
             <avp code="Proxy-Host" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
             <avp code="Proxy-State" mandatory="true"  private="false" type="OctetString" value="ToBeCompleted"/>
          </avp>
          <avp code="Route-Record" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
          <avp code="Route-Record" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
    </sendMessageDIAMETER>
    
</scenario>
