<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : server.xml
    Created on : 10/07/2014
    Author     : fhenry
    Description: Receive a MAP message
-->

<scenario>

    <receiveMessageSIGTRAN name="Wait ASPUP1" request="true" type="ASP_Up:3_1">
	       <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
    </receiveMessageSIGTRAN>
    
   
    
    <sendMessageSIGTRAN	name="Send ASPUP1" destScenario="client" channel="[channelName]">
    
        <UA name="m3ua" file="m3ua.xml">
            <header version="1" reserved="0" messageClass="3" messageType="4"/>
    				
            <parameter tag="17" >
                <field name="ASP_Identifier" format="Integer" value="19" length="4"/>
            </parameter>
    	
            <parameter tag="INFO_String">
                <field name="INFO_String" format="String" value="ASPUP"/>
            </parameter>
        </UA>
        
    </sendMessageSIGTRAN>

    <!-- Message encoded value -->
    <parameter name="[data]" value="0100010100000094020000080000006600060008000000650210007c000000010000000203020001090103070b044302000804430100085c625a4804000000016b1e281c060700118605010101a011600f80020780a1090607040000010015026c32a13002010102012e30288407913366600567f98207913366317071f3041411080b913366600567f70000a906f3f97c3e9f03" />
    <parameter name="[length]" operation="string.length" value="[data]"/>
    
    <receiveMessageSIGTRAN name="Wait DATA1" request="true" type="70">
      <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
      <parameter name="[request]" operation="protocol.setFromMessage" value="message.request"/>
      <parameter name="[type]" operation="protocol.setFromMessage" value="message.type"/>
      <parameter name="[result]" operation="protocol.setFromMessage" value="message.result"/>
    	<parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    </receiveMessageSIGTRAN>
        
    <!--test parameter="[data1]" condition="binary.equals" value="[data]"/-->

    <!-- Message encoded value -->
  	<parameter name="[data]" value="0100010100000074020000080000006600060008000000650210005b000000020000000103020001090103070b044301000804430200083b64394904000000016b2a2828060700118605010101a01d611b80020780a109060704000001001502a203020100a305a1030201006c05a20302010100" />
    <parameter name="[length]" operation="string.length" value="[data]"/>			
	
    <sendMessageSIGTRAN name="Send DATA1" channel="[channelName]">
        
    <!-- AP LAYER -->
    <ASN dictionary="map/dictionary_MAP.xml">
      <Component.Choice>
        <returnResultLast.C2.Sequence>
           <invokeID.BoxedType><Integer>1</Integer></invokeID.BoxedType>
           <resultretres>
            <opCode.Choice>
               <localValue.BoxedType><Long>provideSubscriberInfo:70</Long></localValue.BoxedType>
               <!--globalValue><ObjectIdentifier>0.1.233.30.41.26.113</ObjectIdentifier></globalValue-->
            </opCode.Choice>
            <returnparameter>
               <ProvideSubscriberInfoRes.Sequence>
                  <subscriberInfo.Sequence>
                     <locationInformation.C0.Sequence>
                        <ageOfLocationInformation.BoxedType><Integer>579602</Integer></ageOfLocationInformation.BoxedType>
                        <geographicalInformation.C0.BoxedType><Bytes>a72aa91387f7e4a0
                              <field name="TypeOfShape" value="Ellipsoid Arc:10" type="EnumLong" lengthBit="4" />
                              <field name="spare" value="7" type="Integer" lengthBit="4" />
                              <field name="DegreesOfLatitude" value="2795795" type="Integer" length="3" />
                              <field name="DegreesOfLongitude" value="8910820" type="Integer" length="3" />
                              <field name="UncertaintyCode" value="160" type="Integer" length="1" />
                           </Bytes></geographicalInformation.C0.BoxedType>
                        <vlr_number.C1.BoxedType><Bytes>2541257313
                              <field name="extension" value="extension:0" type="EnumLong" lengthBit="1" />
                              <field name="nature of address" value="national significant number:2" type="EnumLong" lengthBit="3" />
                              <field name="numbering plan" value="spare:5" type="EnumLong" lengthBit="4" />
                              <field name="digits" value="14523731" type="Number_BCD" length="5" />
                           </Bytes></vlr_number.C1.BoxedType>
                        <locationNumber.C2.BoxedType><Bytes>37710321
                              <field name="Odd/even" value="even number of address signals:0" type="EnumLong" lengthBit="1" />
                              <field name="Nature of address" value="spare:55" type="EnumLong" lengthBit="7" />
                              <field name="Internal Network Number" value="routing to internal number allowed:0" type="EnumLong" lengthBit="1" />
                              <field name="Numbering plan" value="spare:7" type="EnumLong" lengthBit="3" />
                              <field name="Address presentation restricted" value="presentation allowed:0" type="EnumLong" lengthBit="2" />
                              <field name="Screening" value="user provided, verified and passed:1" type="EnumLong" lengthBit="2" />
                              <field name="digits" value="3012" type="Number_BCD" length="4" />
                           </Bytes></locationNumber.C2.BoxedType>
                        <cellGlobalIdOrServiceAreaIdOrLAI.C3.Choice>
                           <cellGlobalIdOrServiceAreaIdFixedLength.C0.BoxedType><Bytes>a360e5348e5d6f</Bytes></cellGlobalIdOrServiceAreaIdFixedLength.C0.BoxedType>
                           <laiFixedLength.C1.BoxedType><Bytes>48348646aa5718</Bytes></laiFixedLength.C1.BoxedType>
                        </cellGlobalIdOrServiceAreaIdOrLAI.C3.Choice>
                        <!--extensionContainer.C4.Sequence>
                           <privateExtensionList.C0.BoxedType>
                              <Collection>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.2109.36</ObjectIdentifier></extId>
                                    <extType>ff970a</extType>
                                 </PrivateExtension.Sequence>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.25.2.121.68.17.109</ObjectIdentifier></extId>
                                    <extType>8349d62ac0dc</extType>
                                 </PrivateExtension.Sequence>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.284.96.80.123</ObjectIdentifier></extId>
                                    <extType>caaf9f1d1d456e</extType>
                                 </PrivateExtension.Sequence>
                              </Collection>
                           </privateExtensionList.C0.BoxedType>
                           <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                        </extensionContainer.C4.Sequence-->
                        <selectedLSA_Id.C5.BoxedType><Bytes>a677c69f270a</Bytes></selectedLSA_Id.C5.BoxedType>
                        <msc_Number.C6.BoxedType><Bytes>25123306
                              <field name="extension" value="extension:0" type="EnumLong" lengthBit="1" />
                              <field name="nature of address" value="national significant number:2" type="EnumLong" lengthBit="3" />
                              <field name="numbering plan" value="spare:5" type="EnumLong" lengthBit="4" />
                              <field name="digits" value="213360" type="Number_BCD" length="5" />
                           </Bytes></msc_Number.C6.BoxedType>
                        <geodeticInformation.C7.BoxedType><Bytes>78e5bcd970</Bytes></geodeticInformation.C7.BoxedType>
                        <currentLocationRetrieved.C8></currentLocationRetrieved.C8>
                        <sai_Present.C9></sai_Present.C9>
                     </locationInformation.C0.Sequence>
                     <subscriberState.C1.Choice>
                        <assumedIdle.C0></assumedIdle.C0>
                        <camelBusy.C1></camelBusy.C1>
                        <notProvidedFromVLR.C2></notProvidedFromVLR.C2>
                     </subscriberState.C1.Choice>
                     <!--extensionContainer.C2.Sequence>
                        <privateExtensionList.C0.BoxedType>
                           <Collection>
                              <PrivateExtension.Sequence>
                                 <extId><ObjectIdentifier>0.1.235.46.72.17.96</ObjectIdentifier></extId>
                                 <extType>59b6fcc17c44</extType>
                              </PrivateExtension.Sequence>
                              <PrivateExtension.Sequence>
                                 <extId><ObjectIdentifier>0.1.212.49.109.13.70.43.34</ObjectIdentifier></extId>
                                 <extType>4f</extType>
                              </PrivateExtension.Sequence>
                              <PrivateExtension.Sequence>
                                 <extId><ObjectIdentifier>0.1.2</ObjectIdentifier></extId>
                                 <extType>08722a7cdf9d37</extType>
                              </PrivateExtension.Sequence>
                           </Collection>
                        </privateExtensionList.C0.BoxedType>
                        <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                     </extensionContainer.C2.Sequence-->
                     <locationInformationGPRS.C3.Sequence>
                        <cellGlobalIdOrServiceAreaIdOrLAI.C0.Choice>
                           <cellGlobalIdOrServiceAreaIdFixedLength.C0.BoxedType><Bytes>f5f90761</Bytes></cellGlobalIdOrServiceAreaIdFixedLength.C0.BoxedType>
                           <laiFixedLength.C1.BoxedType><Bytes>dda3</Bytes></laiFixedLength.C1.BoxedType>
                        </cellGlobalIdOrServiceAreaIdOrLAI.C0.Choice>
                        <routeingAreaIdentity.C1.BoxedType><Bytes>056a3f31b0f5</Bytes></routeingAreaIdentity.C1.BoxedType>
                        <geographicalInformation.C2.BoxedType><Bytes>319d98fbbe8ab695
                              <field name="TypeOfShape" value="Ellipsoid point with uncertainty Ellipse:3" type="EnumLong" lengthBit="4" />
                              <field name="spare" value="1" type="Integer" lengthBit="4" />
                              <field name="DegreesOfLatitude" value="10328315" type="Integer" length="3" />
                              <field name="DegreesOfLongitude" value="12487350" type="Integer" length="3" />
                              <field name="UncertaintyCode" value="149" type="Integer" length="1" />
                           </Bytes></geographicalInformation.C2.BoxedType>
                        <sgsn_Number.C3.BoxedType><Bytes>3d020528
                              <field name="extension" value="extension:0" type="EnumLong" lengthBit="1" />
                              <field name="nature of address" value="network specific number:3" type="EnumLong" lengthBit="3" />
                              <field name="numbering plan" value="13" type="EnumLong" lengthBit="4" />
                              <field name="digits" value="205082" type="Number_BCD" length="5" />
                           </Bytes></sgsn_Number.C3.BoxedType>
                        <selectedLSAIdentity.C4.BoxedType><Bytes>0105</Bytes></selectedLSAIdentity.C4.BoxedType>
                        <!--extensionContainer.C5.Sequence>
                           <privateExtensionList.C0.BoxedType>
                              <Collection>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.239.123.56.5</ObjectIdentifier></extId>
                                    <extType>4ce58d064776bf788d</extType>
                                 </PrivateExtension.Sequence>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.28.70.15.19.28.30.71</ObjectIdentifier></extId>
                                    <extType>9a80329441f8e0</extType>
                                 </PrivateExtension.Sequence>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.2110.114.77.100.46.50.75.116.95</ObjectIdentifier></extId>
                                    <extType>adf3</extType>
                                 </PrivateExtension.Sequence>
                              </Collection>
                           </privateExtensionList.C0.BoxedType>
                           <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                        </extensionContainer.C5.Sequence-->
                        <sai_Present.C6></sai_Present.C6>
                        <geodeticInformation.C7.BoxedType><Bytes>ab0d4d</Bytes></geodeticInformation.C7.BoxedType>
                        <currentLocationRetrieved.C8></currentLocationRetrieved.C8>
                        <ageOfLocationInformation.C9.BoxedType><Integer>93915</Integer></ageOfLocationInformation.C9.BoxedType>
                     </locationInformationGPRS.C3.Sequence>
                     <ps_SubscriberState.C4.Choice>
                        <notProvidedFromSGSN.C0></notProvidedFromSGSN.C0>
                        <ps_Detached.C1></ps_Detached.C1>
                        <ps_AttachedNotReachableForPaging.C2></ps_AttachedNotReachableForPaging.C2>
                        <ps_AttachedReachableForPaging.C3></ps_AttachedReachableForPaging.C3>
                        <ps_PDP_ActiveNotReachableForPaging.C4.BoxedType>
                           <Collection>
                              <PDP_ContextInfo.Sequence>
                                 <pdp_ContextIdentifier.C0.BoxedType><Integer>81395784</Integer></pdp_ContextIdentifier.C0.BoxedType>
                                 <pdp_ContextActive.C1></pdp_ContextActive.C1>
                                 <pdp_Type.C2.BoxedType><Bytes>bd91</Bytes></pdp_Type.C2.BoxedType>
                                 <pdp_Address.C3.BoxedType><Bytes>6d5182c8</Bytes></pdp_Address.C3.BoxedType>
                                 <apn_Subscribed.C4.BoxedType><Bytes>e09b6c45</Bytes></apn_Subscribed.C4.BoxedType>
                                 <apn_InUse.C5.BoxedType><Bytes>48af3bcbf2</Bytes></apn_InUse.C5.BoxedType>
                                 <nsapi.C6.BoxedType><Integer>619276416</Integer></nsapi.C6.BoxedType>
                                 <transactionId.C7.BoxedType><Bytes>42094c53d1</Bytes></transactionId.C7.BoxedType>
                                 <teid_ForGnAndGp.C8.BoxedType><Bytes>e1</Bytes></teid_ForGnAndGp.C8.BoxedType>
                                 <teid_ForIu.C9.BoxedType><Bytes>cc9a7f539975e36c</Bytes></teid_ForIu.C9.BoxedType>
                                 <ggsn_Address.C10.BoxedType><Bytes>fdb9f5</Bytes></ggsn_Address.C10.BoxedType>
                                 <qos_Subscribed.C11.BoxedType><Bytes>f7a6cc1fc215</Bytes></qos_Subscribed.C11.BoxedType>
                                 <qos_Requested.C12.BoxedType><Bytes>2f1138b1d0</Bytes></qos_Requested.C12.BoxedType>
                                 <qos_Negotiated.C13.BoxedType><Bytes>0b25f81002</Bytes></qos_Negotiated.C13.BoxedType>
                                 <chargingId.C14.BoxedType><Bytes>1a4619da32</Bytes></chargingId.C14.BoxedType>
                                 <chargingCharacteristics.C15.BoxedType><Bytes>96a4fff4</Bytes></chargingCharacteristics.C15.BoxedType>
                                 <rnc_Address.C16.BoxedType><Bytes>2c</Bytes></rnc_Address.C16.BoxedType>
                                 <!--extensionContainer.C17.Sequence>
                                    <privateExtensionList.C0.BoxedType>
                                       <Collection>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.2127.74.62.128.2.76.126.87.77.104</ObjectIdentifier></extId>
                                             <extType>fabda8054f11</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.235.104.34.107.35.115</ObjectIdentifier></extId>
                                             <extType>4c92897ac33f5e4c0e</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.228.91.66.87.6.43.65.59</ObjectIdentifier></extId>
                                             <extType>b686</extType>
                                          </PrivateExtension.Sequence>
                                       </Collection>
                                    </privateExtensionList.C0.BoxedType>
                                    <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                                 </extensionContainer.C17.Sequence-->
                                 <qos2_Subscribed.C18.BoxedType><Bytes>a428beb5547d</Bytes></qos2_Subscribed.C18.BoxedType>
                                 <qos2_Requested.C19.BoxedType><Bytes>c0dd57affe21</Bytes></qos2_Requested.C19.BoxedType>
                                 <qos2_Negotiated.C20.BoxedType><Bytes>984bd2</Bytes></qos2_Negotiated.C20.BoxedType>
                              </PDP_ContextInfo.Sequence>
                              <PDP_ContextInfo.Sequence>
                                 <pdp_ContextIdentifier.C0.BoxedType><Integer>48948180</Integer></pdp_ContextIdentifier.C0.BoxedType>
                                 <pdp_ContextActive.C1></pdp_ContextActive.C1>
                                 <pdp_Type.C2.BoxedType><Bytes>5dfed2caf0000</Bytes></pdp_Type.C2.BoxedType>
                                 <pdp_Address.C3.BoxedType><Bytes>3682ca8648</Bytes></pdp_Address.C3.BoxedType>
                                 <apn_Subscribed.C4.BoxedType><Bytes>a47d07b1</Bytes></apn_Subscribed.C4.BoxedType>
                                 <apn_InUse.C5.BoxedType><Bytes>37e99bbc58801fc08</Bytes></apn_InUse.C5.BoxedType>
                                 <nsapi.C6.BoxedType><Integer>695844189</Integer></nsapi.C6.BoxedType>
                                 <transactionId.C7.BoxedType><Bytes>46</Bytes></transactionId.C7.BoxedType>
                                 <teid_ForGnAndGp.C8.BoxedType><Bytes>5260</Bytes></teid_ForGnAndGp.C8.BoxedType>
                                 <teid_ForIu.C9.BoxedType><Bytes>e02943be</Bytes></teid_ForIu.C9.BoxedType>
                                 <ggsn_Address.C10.BoxedType><Bytes>1d2620d5ae98c9fc8c</Bytes></ggsn_Address.C10.BoxedType>
                                 <qos_Subscribed.C11.BoxedType><Bytes>d310506fe3</Bytes></qos_Subscribed.C11.BoxedType>
                                 <qos_Requested.C12.BoxedType><Bytes>e0a9c87ac621c9</Bytes></qos_Requested.C12.BoxedType>
                                 <qos_Negotiated.C13.BoxedType><Bytes>3037</Bytes></qos_Negotiated.C13.BoxedType>
                                 <chargingId.C14.BoxedType><Bytes>33ae6c4812</Bytes></chargingId.C14.BoxedType>
                                 <chargingCharacteristics.C15.BoxedType><Bytes>e8173341629a</Bytes></chargingCharacteristics.C15.BoxedType>
                                 <rnc_Address.C16.BoxedType><Bytes>08d1eaa7b4b04900</Bytes></rnc_Address.C16.BoxedType>
                                 <!--extensionContainer.C17.Sequence>
                                    <privateExtensionList.C0.BoxedType>
                                       <Collection>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.2110</ObjectIdentifier></extId>
                                             <extType>fb0e61ecfe</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.2124.124.41.4.24</ObjectIdentifier></extId>
                                             <extType>e213404938f004</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.291.93.26.119.115.94.36.120.24</ObjectIdentifier></extId>
                                             <extType>1e3af784db240a</extType>
                                          </PrivateExtension.Sequence>
                                       </Collection>
                                    </privateExtensionList.C0.BoxedType>
                                    <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                                 </extensionContainer.C17.Sequence-->
                                 <qos2_Subscribed.C18.BoxedType><Bytes>4b95679da71f</Bytes></qos2_Subscribed.C18.BoxedType>
                                 <qos2_Requested.C19.BoxedType><Bytes>e44c5238bad821a88b</Bytes></qos2_Requested.C19.BoxedType>
                                 <qos2_Negotiated.C20.BoxedType><Bytes>01935ed5fb1366f2</Bytes></qos2_Negotiated.C20.BoxedType>
                              </PDP_ContextInfo.Sequence>
                              <PDP_ContextInfo.Sequence>
                                 <pdp_ContextIdentifier.C0.BoxedType><Integer>624870161</Integer></pdp_ContextIdentifier.C0.BoxedType>
                                 <pdp_ContextActive.C1></pdp_ContextActive.C1>
                                 <pdp_Type.C2.BoxedType><Bytes>f9a5a9a68592f0767e</Bytes></pdp_Type.C2.BoxedType>
                                 <pdp_Address.C3.BoxedType><Bytes>45ba8fa38b02ae</Bytes></pdp_Address.C3.BoxedType>
                                 <apn_Subscribed.C4.BoxedType><Bytes>3a32</Bytes></apn_Subscribed.C4.BoxedType>
                                 <apn_InUse.C5.BoxedType><Bytes>4b4794aff9f03d0a</Bytes></apn_InUse.C5.BoxedType>
                                 <nsapi.C6.BoxedType><Integer>889548023</Integer></nsapi.C6.BoxedType>
                                 <transactionId.C7.BoxedType><Bytes>3740dec9</Bytes></transactionId.C7.BoxedType>
                                 <teid_ForGnAndGp.C8.BoxedType><Bytes>c5342a8a</Bytes></teid_ForGnAndGp.C8.BoxedType>
                                 <teid_ForIu.C9.BoxedType><Bytes>cebe</Bytes></teid_ForIu.C9.BoxedType>
                                 <ggsn_Address.C10.BoxedType><Bytes>8e6a91</Bytes></ggsn_Address.C10.BoxedType>
                                 <qos_Subscribed.C11.BoxedType><Bytes>2743</Bytes></qos_Subscribed.C11.BoxedType>
                                 <qos_Requested.C12.BoxedType><Bytes>8226</Bytes></qos_Requested.C12.BoxedType>
                                 <qos_Negotiated.C13.BoxedType><Bytes>2ee3</Bytes></qos_Negotiated.C13.BoxedType>
                                 <chargingId.C14.BoxedType><Bytes>83e6587fd8bd</Bytes></chargingId.C14.BoxedType>
                                 <chargingCharacteristics.C15.BoxedType><Bytes>c688</Bytes></chargingCharacteristics.C15.BoxedType>
                                 <rnc_Address.C16.BoxedType><Bytes>e75feeea2be996</Bytes></rnc_Address.C16.BoxedType>
                                 <!--extensionContainer.C17.Sequence>
                                    <privateExtensionList.C0.BoxedType>
                                       <Collection>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.221.85.98</ObjectIdentifier></extId>
                                             <extType>54db86bd48</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.277.13.12.52.115.85.16.122.119</ObjectIdentifier></extId>
                                             <extType>d9aae69845df7113d8</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.2114.14.125.41.74.126</ObjectIdentifier></extId>
                                             <extType>c6f07643</extType>
                                          </PrivateExtension.Sequence>
                                       </Collection>
                                    </privateExtensionList.C0.BoxedType>
                                    <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                                 </extensionContainer.C17.Sequence-->
                                 <qos2_Subscribed.C18.BoxedType><Bytes>98d7</Bytes></qos2_Subscribed.C18.BoxedType>
                                 <qos2_Requested.C19.BoxedType><Bytes>27</Bytes></qos2_Requested.C19.BoxedType>
                                 <qos2_Negotiated.C20.BoxedType><Bytes>24b4a2448e7fd3b77c</Bytes></qos2_Negotiated.C20.BoxedType>
                              </PDP_ContextInfo.Sequence>
                           </Collection>
                        </ps_PDP_ActiveNotReachableForPaging.C4.BoxedType>
                        <ps_PDP_ActiveReachableForPaging.C5.BoxedType>
                           <Collection>
                              <PDP_ContextInfo.Sequence>
                                 <pdp_ContextIdentifier.C0.BoxedType><Integer>835252058</Integer></pdp_ContextIdentifier.C0.BoxedType>
                                 <pdp_ContextActive.C1></pdp_ContextActive.C1>
                                 <pdp_Type.C2.BoxedType><Bytes>f6dbd399b88998977a</Bytes></pdp_Type.C2.BoxedType>
                                 <pdp_Address.C3.BoxedType><Bytes>704e23721a</Bytes></pdp_Address.C3.BoxedType>
                                 <apn_Subscribed.C4.BoxedType><Bytes>e6935766ed847aa2fc</Bytes></apn_Subscribed.C4.BoxedType>
                                 <apn_InUse.C5.BoxedType><Bytes>05aa26040b153c</Bytes></apn_InUse.C5.BoxedType>
                                 <nsapi.C6.BoxedType><Integer>62021495</Integer></nsapi.C6.BoxedType>
                                 <transactionId.C7.BoxedType><Bytes>dea44c5aa456fd65</Bytes></transactionId.C7.BoxedType>
                                 <teid_ForGnAndGp.C8.BoxedType><Bytes>2b70</Bytes></teid_ForGnAndGp.C8.BoxedType>
                                 <teid_ForIu.C9.BoxedType><Bytes>1a90875a</Bytes></teid_ForIu.C9.BoxedType>
                                 <ggsn_Address.C10.BoxedType><Bytes>8f62756912</Bytes></ggsn_Address.C10.BoxedType>
                                 <qos_Subscribed.C11.BoxedType><Bytes>494eed740e31</Bytes></qos_Subscribed.C11.BoxedType>
                                 <qos_Requested.C12.BoxedType><Bytes>1371cf2a98e8</Bytes></qos_Requested.C12.BoxedType>
                                 <qos_Negotiated.C13.BoxedType><Bytes>50333667601d</Bytes></qos_Negotiated.C13.BoxedType>
                                 <chargingId.C14.BoxedType><Bytes>0e7fc30bdba458c6</Bytes></chargingId.C14.BoxedType>
                                 <chargingCharacteristics.C15.BoxedType><Bytes>1984cc738c</Bytes></chargingCharacteristics.C15.BoxedType>
                                 <rnc_Address.C16.BoxedType><Bytes>ac</Bytes></rnc_Address.C16.BoxedType>
                                 <!--extensionContainer.C17.Sequence>
                                    <privateExtensionList.C0.BoxedType>
                                       <Collection>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.2</ObjectIdentifier></extId>
                                             <extType>0a0d7ab9ae8ce5</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.251.16.66.121.84.65.67.98.16.17</ObjectIdentifier></extId>
                                             <extType>43f443</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.29.2.127.68.40</ObjectIdentifier></extId>
                                             <extType>dc1b</extType>
                                          </PrivateExtension.Sequence>
                                       </Collection>
                                    </privateExtensionList.C0.BoxedType>
                                    <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                                 </extensionContainer.C17.Sequence-->
                                 <qos2_Subscribed.C18.BoxedType><Bytes>d555a565556a8349</Bytes></qos2_Subscribed.C18.BoxedType>
                                 <qos2_Requested.C19.BoxedType><Bytes>3f43fd27fd</Bytes></qos2_Requested.C19.BoxedType>
                                 <qos2_Negotiated.C20.BoxedType><Bytes>8736</Bytes></qos2_Negotiated.C20.BoxedType>
                              </PDP_ContextInfo.Sequence>
                              <PDP_ContextInfo.Sequence>
                                 <pdp_ContextIdentifier.C0.BoxedType><Integer>708717986</Integer></pdp_ContextIdentifier.C0.BoxedType>
                                 <pdp_ContextActive.C1></pdp_ContextActive.C1>
                                 <pdp_Type.C2.BoxedType><Bytes>4c84b070fb</Bytes></pdp_Type.C2.BoxedType>
                                 <pdp_Address.C3.BoxedType><Bytes>31d7e65805998f95d1</Bytes></pdp_Address.C3.BoxedType>
                                 <apn_Subscribed.C4.BoxedType><Bytes>439a194d61416b</Bytes></apn_Subscribed.C4.BoxedType>
                                 <apn_InUse.C5.BoxedType><Bytes>f53941e6b2c09f2636</Bytes></apn_InUse.C5.BoxedType>
                                 <nsapi.C6.BoxedType><Integer>525375182</Integer></nsapi.C6.BoxedType>
                                 <transactionId.C7.BoxedType><Bytes>971e7b2e5b23f4</Bytes></transactionId.C7.BoxedType>
                                 <teid_ForGnAndGp.C8.BoxedType><Bytes>a28bcad7</Bytes></teid_ForGnAndGp.C8.BoxedType>
                                 <teid_ForIu.C9.BoxedType><Bytes>bfffe46b50435d</Bytes></teid_ForIu.C9.BoxedType>
                                 <ggsn_Address.C10.BoxedType><Bytes>e4de6fb6eb</Bytes></ggsn_Address.C10.BoxedType>
                                 <qos_Subscribed.C11.BoxedType><Bytes>46ea43</Bytes></qos_Subscribed.C11.BoxedType>
                                 <qos_Requested.C12.BoxedType><Bytes>6b</Bytes></qos_Requested.C12.BoxedType>
                                 <qos_Negotiated.C13.BoxedType><Bytes>4ad8cb4f</Bytes></qos_Negotiated.C13.BoxedType>
                                 <chargingId.C14.BoxedType><Bytes>bf6d63f2f945</Bytes></chargingId.C14.BoxedType>
                                 <chargingCharacteristics.C15.BoxedType><Bytes>33c9790336</Bytes></chargingCharacteristics.C15.BoxedType>
                                 <rnc_Address.C16.BoxedType><Bytes>b920</Bytes></rnc_Address.C16.BoxedType>
                                 <!--extensionContainer.C17.Sequence>
                                    <privateExtensionList.C0.BoxedType>
                                       <Collection>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.234.46.85.70.17.14</ObjectIdentifier></extId>
                                             <extType>610990d2d801af</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.24.47.103.109</ObjectIdentifier></extId>
                                             <extType>214c912c72de4c</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.236.113.66.66.36.100.84</ObjectIdentifier></extId>
                                             <extType>ad06fcee</extType>
                                          </PrivateExtension.Sequence>
                                       </Collection>
                                    </privateExtensionList.C0.BoxedType>
                                    <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                                 </extensionContainer.C17.Sequence-->
                                 <qos2_Subscribed.C18.BoxedType><Bytes>af272232be</Bytes></qos2_Subscribed.C18.BoxedType>
                                 <qos2_Requested.C19.BoxedType><Bytes>467377</Bytes></qos2_Requested.C19.BoxedType>
                                 <qos2_Negotiated.C20.BoxedType><Bytes>a0c9fa0d768bfa</Bytes></qos2_Negotiated.C20.BoxedType>
                              </PDP_ContextInfo.Sequence>
                              <PDP_ContextInfo.Sequence>
                                 <pdp_ContextIdentifier.C0.BoxedType><Integer>861430211</Integer></pdp_ContextIdentifier.C0.BoxedType>
                                 <pdp_ContextActive.C1></pdp_ContextActive.C1>
                                 <pdp_Type.C2.BoxedType><Bytes>7da59b</Bytes></pdp_Type.C2.BoxedType>
                                 <pdp_Address.C3.BoxedType><Bytes>6891c293b42d</Bytes></pdp_Address.C3.BoxedType>
                                 <apn_Subscribed.C4.BoxedType><Bytes>60519a601b463565ab6a</Bytes></apn_Subscribed.C4.BoxedType>
                                 <apn_InUse.C5.BoxedType><Bytes>e4b69ce2ea</Bytes></apn_InUse.C5.BoxedType>
                                 <nsapi.C6.BoxedType><Integer>814726612</Integer></nsapi.C6.BoxedType>
                                 <transactionId.C7.BoxedType><Bytes>3fc0c9bb88ac0b</Bytes></transactionId.C7.BoxedType>
                                 <teid_ForGnAndGp.C8.BoxedType><Bytes>e695</Bytes></teid_ForGnAndGp.C8.BoxedType>
                                 <teid_ForIu.C9.BoxedType><Bytes>accd9c0307ecfa60</Bytes></teid_ForIu.C9.BoxedType>
                                 <ggsn_Address.C10.BoxedType><Bytes>475ec389596713ae3f8e</Bytes></ggsn_Address.C10.BoxedType>
                                 <qos_Subscribed.C11.BoxedType><Bytes>d7db4d515b</Bytes></qos_Subscribed.C11.BoxedType>
                                 <qos_Requested.C12.BoxedType><Bytes>c3af3145134cf7</Bytes></qos_Requested.C12.BoxedType>
                                 <qos_Negotiated.C13.BoxedType><Bytes>abbe653ff3e5</Bytes></qos_Negotiated.C13.BoxedType>
                                 <chargingId.C14.BoxedType><Bytes>ce78dd</Bytes></chargingId.C14.BoxedType>
                                 <chargingCharacteristics.C15.BoxedType><Bytes>cf85</Bytes></chargingCharacteristics.C15.BoxedType>
                                 <rnc_Address.C16.BoxedType><Bytes>9582fee03d01</Bytes></rnc_Address.C16.BoxedType>
                                 <!--extensionContainer.C17.Sequence>
                                    <privateExtensionList.C0.BoxedType>
                                       <Collection>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.245.66.41.77.95.8.58</ObjectIdentifier></extId>
                                             <extType>9c1f3a92238d</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.221</ObjectIdentifier></extId>
                                             <extType>b48ca83fb0fd5517</extType>
                                          </PrivateExtension.Sequence>
                                          <PrivateExtension.Sequence>
                                             <extId><ObjectIdentifier>0.1.270.13.97</ObjectIdentifier></extId>
                                             <extType>6a8ddf612f225c76ce</extType>
                                          </PrivateExtension.Sequence>
                                       </Collection>
                                    </privateExtensionList.C0.BoxedType>
                                    <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                                 </extensionContainer.C17.Sequence-->
                                 <qos2_Subscribed.C18.BoxedType><Bytes>dc55cbc2fca308</Bytes></qos2_Subscribed.C18.BoxedType>
                                 <qos2_Requested.C19.BoxedType><Bytes>9dd2</Bytes></qos2_Requested.C19.BoxedType>
                                 <qos2_Negotiated.C20.BoxedType><Bytes>145e82018e72</Bytes></qos2_Negotiated.C20.BoxedType>
                              </PDP_ContextInfo.Sequence>
                           </Collection>
                        </ps_PDP_ActiveReachableForPaging.C5.BoxedType>
                        <netDetNotReachable.Enum>
                           <EnumType>imsiDetached.1</EnumType>
                        </netDetNotReachable.Enum>
                     </ps_SubscriberState.C4.Choice>
                     <imei.C5.BoxedType><TBCD_STRING.BoxedType><Bytes>6984667d</Bytes></TBCD_STRING.BoxedType></imei.C5.BoxedType>
                     <ms_Classmark2.C6.BoxedType><Bytes>20310f283b</Bytes></ms_Classmark2.C6.BoxedType>
                     <gprs_MS_Class.C7.Sequence>
                        <mSNetworkCapability.C0.BoxedType><Bytes>2f08bf35f5</Bytes></mSNetworkCapability.C0.BoxedType>
                        <mSRadioAccessCapability.C1.BoxedType><Bytes>ab5493</Bytes></mSRadioAccessCapability.C1.BoxedType>
                     </gprs_MS_Class.C7.Sequence>
                     <mnpInfoRes.C8.Sequence>
                        <routeingNumber.C0.BoxedType><TBCD_STRING.BoxedType><Bytes>e5fdba</Bytes></TBCD_STRING.BoxedType></routeingNumber.C0.BoxedType>
                        <imsi.C1.BoxedType><Bytes>2104491977
                              <field name="digits" value="1240949177" type="Number_BCD" length="5" />
                           </Bytes></imsi.C1.BoxedType>
                        <msisdn.C2.BoxedType><Bytes>7e0213646582
                              <field name="extension" value="extension:0" type="EnumLong" lengthBit="1" />
                              <field name="nature of address" value="reserved for extension:7" type="EnumLong" lengthBit="3" />
                              <field name="numbering plan" value="14" type="EnumLong" lengthBit="4" />
                              <field name="digits" value="2031465628" type="Number_BCD" length="5" />
                           </Bytes></msisdn.C2.BoxedType>
                        <numberPortabilityStatus.C3.Enum>
                           <EnumType>foreignNumberPortedToForeignNetwork.2</EnumType>
                        </numberPortabilityStatus.C3.Enum>
                        <!--extensionContainer.C4.Sequence>
                           <privateExtensionList.C0.BoxedType>
                              <Collection>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.267.106.67.113.126.46.75</ObjectIdentifier></extId>
                                    <extType>d5fd84eefd9c</extType>
                                 </PrivateExtension.Sequence>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.295.100.22.82.5.46.74</ObjectIdentifier></extId>
                                    <extType>04e1</extType>
                                 </PrivateExtension.Sequence>
                                 <PrivateExtension.Sequence>
                                    <extId><ObjectIdentifier>0.1.260</ObjectIdentifier></extId>
                                    <extType>0cbf64e9e2</extType>
                                 </PrivateExtension.Sequence>
                              </Collection>
                           </privateExtensionList.C0.BoxedType>
                           <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                        </extensionContainer.C4.Sequence-->
                     </mnpInfoRes.C8.Sequence>
                  </subscriberInfo.Sequence>
                  <!--extensionContainer.Sequence>
                     <privateExtensionList.C0.BoxedType>
                        <Collection>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.232.54.120.22.119.102.8.123.32.23</ObjectIdentifier></extId>
                              <extType>5eef7f624c24cc8c</extType>
                           </PrivateExtension.Sequence>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.227.95.96.4</ObjectIdentifier></extId>
                              <extType>25a573b1f2090dd2</extType>
                           </PrivateExtension.Sequence>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.258.36.83.7.87.112.81.92.101.54</ObjectIdentifier></extId>
                              <extType>3351b45315780c0c70fe</extType>
                           </PrivateExtension.Sequence>
                        </Collection>
                     </privateExtensionList.C0.BoxedType>
                     <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                  </extensionContainer.Sequence-->
               </ProvideSubscriberInfoRes.Sequence>
            </returnparameter>
         </resultretres>
        </returnResultLast.C2.Sequence>
      </Component.Choice>
    </ASN>
    
    <!-- TCAP LAYER -->
    <ASN dictionary="tcap/dictionary_TCAP.xml">
      <TCMessage>
        <end>
          <dtid><Bytes>00000001</Bytes></dtid>
          <dialoguePortion>
            <DialogueOC>
              <ExternalPDU>
                <ExternalPDUSequenceType>
                  <direct_reference><ObjectIdentifier>dialogue-as-id:0.0.17.773.1.1.1</ObjectIdentifier></direct_reference>
                  <!--indirect_reference>856649051904125184</indirect_reference-->
                  <!--data_value_descriptor><Bytes>0402aa40</Bytes></data_value_descriptor-->
                  <encoding>
                    <single_ASN1_type>
                      <DialoguePDU>
                        <dialogueResponse>
                          <AARE_apduSequenceType>
                            <protocol_version><BitString value="Version1:80" trailing="7"/></protocol_version>
                            <application_context_name><ObjectIdentifier><ObjectIdentifier>subscriberInfoEnquiryContext-v2:0.4.0.0.1.0.28.2</ObjectIdentifier></ObjectIdentifier>
                            </application_context_name>
                            <result><Associate_result><Long>0</Long></Associate_result></result>
                            <result_source_diagnostic>
                              <Associate_source_diagnostic>
                                <dialogue_service_user>
                                  <DialogueServiceUser><Long>0</Long></DialogueServiceUser>
                                </dialogue_service_user>
                              </Associate_source_diagnostic>
                            </result_source_diagnostic>
                            <!--Collection>
                              <user_information>040ca70f5e0f024d3b3c34b26588</user_information>
                              <user_information>04120aef3699f398f0a04000761bab86be69191c</user_information>
                              <user_information>0403d079a4</user_information>
                            </Collection-->
                          </AARE_apduSequenceType>
                        </dialogueResponse>
                      </DialoguePDU>
                    </single_ASN1_type>
                  </encoding>
                </ExternalPDUSequenceType>
              </ExternalPDU>
            </DialogueOC>
          </dialoguePortion>
        </end>
      </TCMessage>
    </ASN>
    
	  <!-- SCCP LAYER  -->
    <!-- SCCP MESSAGE LONG UNITDATA WITH DATA FIELD -->
  	<SS7 name="sccp" file="sccp.xml">
    		<header>
            <field name="Message_Type" length="1" value="9" /> <!-- code for UnitData is 9 -->
        </header>
    		<parameter name="Protocol_Class" type="F" littleEndian="false">
    			<field value="0" lengthBit="4" />
    			<field value="1" lengthBit="4" /> <!-- values 0 and 1 is for connectionless class protocol, values 2 and 3 are for connection-oriented-protocol -->
    		</parameter>
    		<parameter id="3" name="Called_Party_Address" type="V" littleEndian="true">
    			<field name="Address_Indicator" value="67" length="1" />
    			<field name="Signalling_Point_Code" value="1" length="2" />
    			<field name="Subsystem_Number" value="8" length="1" />	
    		</parameter>
    		<parameter id="4" type="V" name="Calling_Party_Address" littleEndian="true">
    			<field name="Address_Indicator" value="67" length="1" />
    			<field name="Signalling_Point_Code" value="2" length="2" />
    			<field name="Subsystem_Number" value="8" length="1" />
    		</parameter>
    		<parameter id="15" name="Data" type="V" littleEndian="false">
    			<field value="" format="binary" length="88" />  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
          <!--field value="625a4804000000016b1e281c060700118605010101a011600f80020780a1090607040000010015026c32a13002010102012e30288407913366600567f98207913366317071f3041411080b913366600567f70000a906f3f97c3e9f03" format="binary" length="92" /-->  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
    		</parameter>
  	</SS7>

    <UA name="m3ua" file="m3ua.xml">
        <header	messageClass="Transfer_Messages" messageType="Payload_Data"/>
				
        <parameter tag="Network_Appearence">
            <field name="Network_Appearence"  format="Integer" value="102"/>
        </parameter>
        <parameter tag="Routing_Context">
            <field name="Routing_Context" format="Integer"  value="101"/>
        </parameter>
        <parameter tag="Protocol_Data">
            <field value="2" name="Originating_Point_Code"/>
            <field value="1" name="Destination_Point_Code" />
            <field value="SCCP"	name="SI"/>
            <field value="2"	name="NI"/>
            <field value="0"	name="MP"/>
            <field value="1"	name="SLS"/>
            <field name="DATA"	format="fvo"/>
        </parameter>
	
        <!--parameter tag="Correlation_Id">
            <field name="Correlation_Id" format="Integer"  value="12783"/>
        </parameter-->
    </UA>
    </sendMessageSIGTRAN>
  
    <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    <!--test parameter="[data1]" condition="binary.equals" value="[data]"/-->

</scenario>
