<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : server.xml
    Created on : 10/07/2014
    Author     : fhenry
    Description: Receive a CAP message
-->

<!DOCTYPE scenario [
	<!ENTITY M3UA_server SYSTEM "../library/M3UA_client.xml">
	<!ENTITY SCCP_server SYSTEM "../library/SCCP_client.xml">    
  <!ENTITY TCAP_continue_server SYSTEM "../library/TCAP_continue_server.xml">  
]>

<scenario>
    
    <function file="library/M3UA_manage_session.xml" />    
    <call name="Answer_M3UA_session">
        <output>
            <parameter name="[test:channelName]" value="[lastChannelName]"/>        
        </output>
    </call>
    
    <receiveMessageSIGTRAN name="Wait DATA1" channel="[channelName]"  request="true" type="assistRequestInstructions:16">
        <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[request]" operation="protocol.setFromMessage" value="message.request"/>
        <parameter name="[type]" operation="protocol.setFromMessage" value="message.type"/>
        <parameter name="[result]" operation="protocol.setFromMessage" value="message.result"/>
      	<parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
        <parameter name="[invokeID]" operation="protocol.setFromMessage" value="asn.Component.invoke.invokeID"/>         
        <parameter name="[origTransID]" operation="protocol.setFromMessage" value="tcap.begin.otid"/>
        <parameter name="[destTransID]" operation="protocol.setFromMessage" value="tcap.begin.dtid"/>                
    </receiveMessageSIGTRAN>
    
</scenario>
