<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="receive message" request="true" type="Create Session Request:32">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[tunnelEndpointId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/> 
    </receiveMessageGTP>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[binary]" condition="binary.equals" value="482000c6000000000000c7000100080002084124002020f94c0006003346452320f94b000800999900000000101156000d001812f430000312f43000000101480008000000c350000186a05300030012f430520001000657000900860000456714150001800001000163000100014f000500010000000047001a00066f7461726965066d6e63303033066d636332313404677072737f000100005d002c004900010005500016004809000000000000000000000000000000000000000057000902840000456f14150001"/>
    <parameter name="[tunnelEndpointId]" operation="set" value="17767"/>
    <sendMessageGTP name="send message"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="[transport]">
        <headerV2 type="Create Session Response:33" tunnelEndpointId="[tunnelEndpointId]" sequenceNumber="[seqNum]"/>
        <element tag="Cause:2">
            <field name="Cause value" value="Request accepted:16"/>
            <field name="spare" value="0"/>
            <field name="PCE" value="0"/>
            <field name="BCE" value="0"/>
            <field name="CS" value="Originated by the node sending the message:0"/>
        </element>
        <element tag="F-TEID:87" instances="1" description="Fully Qualified Tunnel Endpoint Identifier">
            <field name="V4" value="true:1"/> 
            <field name="V6" value="false:0"/>
            <field name="Interface Type" value="S5/S8 PGW GTP-C:7"/>
            <field name="TEID / GRE Key" value="2815696998" description="GRE?"/>
            <!-- TODO conditional IP V4 V6 -->
            <field name="IPv4 address" value="172.20.70.43"/>
            <!--field name="IPv6 address" value="1234:5678:90ab:cdef:fedc:ba09:8765:4321"/-->
        </element>
        <element tag="PAA:79" description="PDN Address Allocation">
            <field name="spare" value="0"/>
            <field name="PDN Type" value="IPv4:1"/>
            <field name="IPv4 address" value="20.20.1.2"/>
        </element>
        <element tag="APN Restriction:127" >
            <field name="Restriction Type value" value="No Existing Contexts or Restriction:0"/>
        </element>
        <element tag="Bearer Context:93" >
            <element tag="EBI:73" description="EPS Bearer ID">
                <field name="spare" value="0"/> 
                <field name="EBI" value="5"/>
            </element>
            <element tag="Cause:2" >
                <field name="Cause value" value="Request accepted:16"/>
                <field name="spare" value="0"/>
                <field name="PCE" value="false:0"/>
                <field name="BCE" value="false:0"/>
                <field name="CS" value="Originated by the node sending the message:0"/>
            </element>
            <element tag="F-TEID:87" instances="2" description="Fully Qualified Tunnel Endpoint Identifier">
                <field name="V4" value="true:1"/> 
                <field name="V6" value="false:0"/>
                <field name="Interface Type" value="S5/S8 PGW GTP-U:5"/>
                <field name="TEID / GRE Key" value="2660712550" description="GRE key ?"/>
                <!-- TODO conditional IP V4 V6 -->      
                <field name="IPv4 address" value="172.20.70.43"/>
                <!--field name="IPv6 address" value="1212:1234:1256:1278:1290:12ab:12cd:12ef"/-->
            </element>
            <element tag="Charging ID:94" >
                <field name="Charging ID value" value="566056505"/>
            </element>            
        </element>              
        <element tag="Recovery:3" >
            <field name="Recovery" value="72"/>
        </element>
    </sendMessageGTP>

    <receiveMessageGTP name="receive message" request="true" type="Delete Session Request:36">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[tunnelEndpointId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/> 
    </receiveMessageGTP>
                                    
    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[binary]" condition="binary.equals" value="48240015a7d420660000c80049000100054d00040008000000"/>
  
    <parameter name="[tunnelEndpointId]" operation="set" value="17767"/>    
    <sendMessageGTP name="send message"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="[transport]">
        <headerV2 type="Delete Session Response:37" tunnelEndpointId="[tunnelEndpointId]" sequenceNumber="[seqNum]"/>
        <element tag="Cause:2" >
            <field name="Cause value" value="Request accepted:16"/>
            <field name="spare" value="0"/>            
            <field name="PCE" value="0"/>            
            <field name="BCE" value="0"/>
            <field name="CS" value="Originated by the node sending the message:0"/> 
        </element>
    </sendMessageGTP>
    
</scenario>
