<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageUCP request="true" type="RequestCallDiversionOperation">
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.TRN"/>
        <parameter name="connection" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="malformed" operation="protocol.setFromMessage" value="malformed"/>
        <parameter name="AdC" operation="protocol.setFromMessage" value="attribute.AdC"/>
        <parameter name="AC" operation="protocol.setFromMessage" value="attribute.AC"/>
        <parameter name="DAdC" operation="protocol.setFromMessage" value="attribute.DAdC"/>
        <parameter name="ST" operation="protocol.setFromMessage" value="attribute.ST"/>
        <parameter name="SP" operation="protocol.setFromMessage" value="attribute.SP"/>
        <test parameter="[malformed]" condition="boolean.equals" value="false"/>
        <test parameter="[AdC]" condition="string.equals" value="1"/>
        <test parameter="[AC]" condition="string.equals" value="balabalabala"/>
        <test parameter="[DAdC]" condition="string.equals" value="test"/>
        <test parameter="[ST]" condition="string.equals" value="1234567890"/>
        <test parameter="[SP]" condition="string.equals" value="9876543210"/>
    </receiveMessageUCP>

    <sendMessageUCP channel="[connection]">
        <header name="RequestCallDiversionOperation" TRN="[seqNum]" MT="R"/>
        <attribute name="ACK" value="A"/>
        <attribute name="SM" value="well done"/>
    </sendMessageUCP>

    <receiveMessageUCP request="true" type="CancelCallDiversionOperation">
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.TRN"/>
        <parameter name="connection" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="malformed" operation="protocol.setFromMessage" value="malformed"/>
        <parameter name="AdC" operation="protocol.setFromMessage" value="attribute.AdC"/>
        <parameter name="AC" operation="protocol.setFromMessage" value="attribute.AC"/>
        <test parameter="[malformed]" condition="boolean.equals" value="false"/>
        <test parameter="[AdC]" condition="string.equals" value="1"/>
        <test parameter="[AC]" condition="string.equals" value="balabalabala"/>
    </receiveMessageUCP>

    <sendMessageUCP channel="[connection]">
        <header name="CancelCallDiversionOperation" TRN="[seqNum]" MT="R"/>
        <attribute name="ACK" value="A"/>
        <attribute name="SM" value="well done"/>
    </sendMessageUCP>

</scenario>
