<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="echo request">
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>   
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[tunnelEndpointId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/>        
    </receiveMessageGTP>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    <test parameter="[binary]" condition="binary.equals" value="37010008499602d200010200"/>
    
    <sendMessageGTP name="echo Response"
                    remoteHost="[remoteHost]" remotePort="[remotePort]" transport="UDP">
        <headerV1 type="echoResponse:2" sequenceNumber="1"  nPduNumber="2" nextExtensionType="0"/>
        <element tag="Recovery" coding="TV">
            <field name="Recovery" value="23"/>
        </element>
    </sendMessageGTP>

    <receiveMessageGTP name="echo request">
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>   
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[tunnelEndpointId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/>
    </receiveMessageGTP>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    <test parameter="[binary]" condition="binary.equals" value="370100080000000000020200"/>
    
    <sendMessageGTP name="versionNotSupported"
                    remoteHost="[remoteHost]" remotePort="[remotePort]" transport="UDP">    
        <headerV1 type="versionNotSupported:3" sequenceNumber="1" nPduNumber="2" nextExtensionType="0"/>
    </sendMessageGTP>

</scenario>
