<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <parameter name="[testcase:sem1]" operation="system.semaphorenotify" />

    <receiveMessageGTP name="echo request" request="true" type="Echo Request:1">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>
    
    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>      
    <test parameter="[binary]" condition="binary.equals" value="0f0100020001"/>

    <sendMessageGTP name="echo Response"
        remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="[transport]">
        <headerPrime type="Echo Response:2" sequenceNumber="1"/>
        <element tag="recovery:14" >
		        <field name="recovery" value="23"/>
        </element>        
    </sendMessageGTP>

    <receiveMessageGTP name="echo request" request="true" type="Echo Request:1">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    <test parameter="[binary]" condition="binary.equals" value="0f0100020002"/>
    
    <sendMessageGTP name="versionNotSupported"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="[transport]">
        <headerPrime type="Version Not Supported:3" sequenceNumber="2"/>
    </sendMessageGTP>

</scenario>
