<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>
    <createListenpointGTP name="listenpoint" localPort="3387"/>
    
    <parameter name="[testcase:sem1]" operation="system.semaphorenotify" />

    <receiveMessageGTP name="echo request">
        <parameter name="[channel]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    </receiveMessageGTP>

    <test parameter="[binary]" condition="binary.equals" value="480100000000006f00000100"/>
    
    <sendMessageGTP name="echo Response" channel="[channel]">
        <headerV2 name="echoResponse" piggyFlag = "0" teidFlag = "1" tunnelEndpointId = "111" sequenceNumber="[seqNum]"/>
        <ei name="Recovery" value="23"/>
    </sendMessageGTP>

    <receiveMessageGTP name="echo request">
        <parameter name="[channel]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    </receiveMessageGTP>

    <test parameter="[binary]" condition="binary.equals" value="4001000000000200"/>
    
    <sendMessageGTP name="versionNotSupported" channel="[channel]">
        <headerV2 name="versionNotSupported" piggyFlag = "0" teidFlag = "0" sequenceNumber="[seqNum]"/>    
    </sendMessageGTP>

    <finally>
        <removeListenpointGTP name="listenpoint"/>
    </finally>
</scenario>
