<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<scenario>

    <!-- Message encoded value -->
    <parameter name="[data]" value="01000e0000000020000100080000fa020081000800031fef0084000800000001" />

    <receiveMessageSIGTRAN name="Wait SIGTRAN"/>            
    
    <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>    
	
</scenario>
