h1	{ 
color:#FFFFFF; 
background-image: url('fading.gif') ;
background-repeat: no-repeat;
background-position: left;
background-attachment: scroll;
}
body{
background-image: url('background.gif') ;
background-repeat: no-repeat;
background-position: bottom right;
background-attachment: fixed;
}
img.head {
height:200;
opacity:0.4;
filter:alpha(opacity=60);
border: none }

div.content
{
  margin: 2px;
  border: 0px ;
  height: auto;
  width: 800;
  float: left;
  text-align: left;
}	
div.img
{
  margin: 2px;
  border: 1px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}	
div.img img
{
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
  height:50 
}
div.img a:hover img {border: 1px solid #0000ff;}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
  color:black;
  text-decoration:underline
}