        h1 {
            background-color: #59805E;
        }
        
        body{
            margin: 0px;
            font-family:Tahoma,Arial,Helvetica,sans-serif;
            font-size:11px}
        
        td{
            font-family:Tahoma,Arial,Helvetica,sans-serif;
            font-size:11px
        }
        
        img{
            border-width : 1px;
            border-color: #404040;
        }
         
        table{
            padding: 0px;
            width: 100%
        }

        td.key{
            background-color: #E2E7DE;
            width: 30%;
        }

        td.value{
        }

        td.title{
            background-color: #E2E7DE;
        }
        
        .detailedCounter{
            background-color: #F8F8F8;
            margin-top: 5px;
            margin-bottom: 10px;
            padding: 0px;
            clear: both;
        }        
        
        .detailedCounter:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

/* Hides from IE-mac \*/
* html .detailedCounter {height: 1px;}
/* End hide from IE-mac */
        .detailedCounterTextWrapper{
            width:350px;
            float:left;
        }

        .imgHistogram, .imgGraph{
            width: 250;
            height: 50px;
        }
        
        .name{
            float:left;
            width: 100%;
            /*clear:left;*/
        }
        
        .global{
            width: 100%;
            float:left;
            clear:left;
        }            

        .graph{
            /*clear: right;*/
            margin: 1px;
            float: right;
        }  
        
        .histogram{
            /*clear: right;*/
            margin: 1px;
            float: right;
        }

		.path{
			background-color: #C3740D;
			color: #FFFFFF;
		}
		
		.path a{
			text-decoration: none;
			color: #FFFFFF;
			
		}
		
		.path a:hover{
			font-weight: bold;
		}
		
		.totalRow{
			border-top: 2px solid #E2E7DE;
			background-color: #F8F8F8;
		}		
		
		a.info{
			color: #000000;
			text-decoration: none;
			z-index:24;
		}
		
		a.info span{
			display: none;
			/*margin-left: -100px;
			margin-top: 20px;*/
		}
		
		a.info:hover{
			background: none;
			z-index: 500;
			z-index:25;
		}
		
		a.info:hover span{
			display: block;
			position: absolute;
			
			white-space: nowrap;
			background: #F8F8F8;
			
			border: 1px solid black;
		}		
		
		
		
