<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : server.xml
    Created on : 10/07/2014
    Author     : fhenry
    Description: Receive a MAP message
-->

<scenario>

    <!-- Message encoded value -->
    <parameter name="[data]" value="0100010100000094020000080000006600060008000000650210007c000000010000000203020001090103070b044302000804430100085c625a4804000000016b1e281c060700118605010101a011600f80020780a1090607040000010015026c32a13002010102012e30288407913366600567f98207913366317071f3041411080b913366600567f70000a906f3f97c3e9f03" />
    <parameter name="[length]" operation="string.length" value="[data]"/>
    
    <receiveMessageSIGTRAN name="Wait DATA1" request="true" type="47">
      <parameter name="[request]" operation="protocol.setFromMessage" value="message.request"/>
      <parameter name="[type]" operation="protocol.setFromMessage" value="message.type"/>
      <parameter name="[result]" operation="protocol.setFromMessage" value="message.result"/>
    	<parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    </receiveMessageSIGTRAN>
        
    <!--test parameter="[data1]" condition="binary.equals" value="[data]"/-->

    <!-- Message encoded value -->
  	<parameter name="[data]" value="0100010100000074020000080000006600060008000000650210005b000000020000000103020001090103070b044301000804430200083b64394904000000016b2a2828060700118605010101a01d611b80020780a109060704000001001502a203020100a305a1030201006c05a20302010100" />
    <parameter name="[length]" operation="string.length" value="[data]"/>			
	
    <sendMessageSIGTRAN name="Send DATA1" remoteHost="[remoteHostM3UA]" remotePort="[remotePortM3UA]">
        
    <!-- AP LAYER -->
    <AP className="com.devoteam.srit.xmlloader.sigtran.ap.map.Component">
      <Component.Choice>
        <returnResultLast.C2.Sequence>
           <invokeID.BoxedType><Integer>1</Integer></invokeID.BoxedType>
           <resultretres>
            <opCode.Choice>
               <localValue.BoxedType><Long>47</Long></localValue.BoxedType>
               <!--globalValue><ObjectIdentifier>0.1.233.30.41.26.113</ObjectIdentifier></globalValue-->
            </opCode.Choice>
            <returnparameter>
               <ReportSM_DeliveryStatusRes.Sequence>
                  <storedMSISDN.BoxedType><ISDN_AddressString.BoxedType><Bytes>040b11d2da4167a45b931a4d3c</Bytes></ISDN_AddressString.BoxedType></storedMSISDN.BoxedType>
                  <extensionContainer.Sequence>
                     <privateExtensionList.C0.BoxedType>
                        <Collection>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.288.53</ObjectIdentifier></extId>
                              <extType>040148</extType>
                           </PrivateExtension.Sequence>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.211.24.8.117.36</ObjectIdentifier></extId>
                              <extType>04128e37c0f64f78eb78af7a7513ed17e7987ca0</extType>
                           </PrivateExtension.Sequence>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.215.76.51.117.109.69.17</ObjectIdentifier></extId>
                              <extType>0402bff6</extType>
                           </PrivateExtension.Sequence>
                        </Collection>
                     </privateExtensionList.C0.BoxedType>
                     <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                  </extensionContainer.Sequence>
               </ReportSM_DeliveryStatusRes.Sequence>
            </returnparameter>
         </resultretres>
        </returnResultLast.C2.Sequence>
      </Component.Choice>
    </AP>
    
    <!-- TCAP LAYER -->
    <AP className="com.devoteam.srit.xmlloader.sigtran.ap.tcap.TCMessage">
      <TCMessage>
        <end>
          <dtid><Bytes>00000001</Bytes></dtid>
          <dialoguePortion>
            <DialogueOC>
              <ExternalPDU>
                <ExternalPDUSequenceType>
                  <direct_reference><oidString>0.0.17.773.1.1.1</oidString></direct_reference>
                  <!--indirect_reference>856649051904125184</indirect_reference-->
                  <!--data_value_descriptor><Bytes>0402aa40</Bytes></data_value_descriptor-->
                  <encoding>
                    <single_ASN1_type>
                      <DialoguePDU>
                        <dialogueResponse>
                          <AARE_apduSequenceType>
                            <protocol_version>
                              <bitStrValue>80</bitStrValue><trailBitsCnt>7</trailBitsCnt>
                            </protocol_version>
                            <application_context_name>
                              <direct_reference><oidString>0.4.0.0.1.0.21.2</oidString></direct_reference>
                            </application_context_name>
                            <result><Associate_result><Long>0</Long></Associate_result></result>
                            <result_source_diagnostic>
                              <Associate_source_diagnostic>
                                <dialogue_service_user>
                                  <DialogueServiceUser><Long>0</Long></DialogueServiceUser>
                                </dialogue_service_user>
                              </Associate_source_diagnostic>
                            </result_source_diagnostic>
                            <!--Collection>
                              <user_information>040ca70f5e0f024d3b3c34b26588</user_information>
                              <user_information>04120aef3699f398f0a04000761bab86be69191c</user_information>
                              <user_information>0403d079a4</user_information>
                            </Collection-->
                          </AARE_apduSequenceType>
                        </dialogueResponse>
                      </DialoguePDU>
                    </single_ASN1_type>
                  </encoding>
                </ExternalPDUSequenceType>
              </ExternalPDU>
            </DialogueOC>
          </dialoguePortion>
        </end>
      </TCMessage>
    </AP>
    
	  <!-- SCCP LAYER  -->
  	<SS7 name="sccp" file="sccp.xml">
  		<header>
          <field name="Message_Type" length="1" value="9" /> <!-- code for UnitData is 9 -->
      </header>
  		<parameter name="Protocol_Class" type="F" littleEndian="false">
  			<field value="0" lengthBit="4" />
  			<field value="1" lengthBit="4" /> <!-- values 0 and 1 is for connectionless class protocol, values 2 and 3 are for connection-oriented-protocol -->
  		</parameter>
  		<parameter id="3" name="Called_Party_Address" type="V" littleEndian="true">
  			<field name="Address_Indicator" value="67" length="1" />
  			<field name="Signalling_Point_Code" value="1" length="2" />
  			<field name="Subsystem_Number" value="8" length="1" />	
  		</parameter>
  		<parameter id="4" type="V" name="Calling_Party_Address" littleEndian="true">
  			<field name="Address_Indicator" value="67" length="1" />
  			<field name="Signalling_Point_Code" value="2" length="2" />
  			<field name="Subsystem_Number" value="8" length="1" />
  		</parameter>
  		<parameter id="15" name="Data" type="V" littleEndian="false">
  			<field value="" format="binary" length="88" />  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
        <!--field value="625a4804000000016b1e281c060700118605010101a011600f80020780a1090607040000010015026c32a13002010102012e30288407913366600567f98207913366317071f3041411080b913366600567f70000a906f3f97c3e9f03" format="binary" length="92" /-->  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
  		</parameter>
  	</SS7>

    <UA name="m3ua" file="m3ua.xml">
        <header	messageClass="Transfer_Messages" messageType="Payload_Data"/>
				
        <parameter tag="Network_Appearence">
            <field name="Network_Appearence"  format="Integer" value="102"/>
        </parameter>
        <parameter tag="Routing_Context">
            <field name="Routing_Context" format="Integer"  value="101"/>
        </parameter>
        <parameter tag="Protocol_Data">
            <field value="2" name="Originating_Point_Code"/>
            <field value="1" name="Destination_Point_Code" />
            <field value="SCCP"	name="SI"/>
            <field value="2"	name="NI"/>
            <field value="0"	name="MP"/>
            <field value="1"	name="SLS"/>
            <field name="DATA"	format="fvo"/>
        </parameter>
	
        <!--parameter tag="Correlation_Id">
            <field name="Correlation_Id" format="Integer"  value="12783"/>
        </parameter-->
    </UA>
    </sendMessageSIGTRAN>
  
    <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    <!--test parameter="[data1]" condition="binary.equals" value="[data]"/-->

</scenario>
