<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="Send 3GPP Sh Subscribe-Notifications answer (SNA)"-->
<scenario>

    <call name="diameter.RecCER_SendCEA"/>
    
    <receiveMessageDIAMETER name="Receive Request 3GPP/SH/SNR"  request="true" type="Subscribe-Notifications:308">
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
    </receiveMessageDIAMETER>

<!--
From 3GPP TS29.329.730 :
Subscribe-Notifications-Answer ::= < Diameter Header: 308, PXY, 16777217 >
                                      < Session-Id >
                                      { Vendor-Specific-Application-Id }
                                        Vendor-Specific-Application-Id ::= < AVP Header: 260 >
                                                                             1* [ Vendor-Id ]
                                                                             0*1{ Auth-Application-Id }
                                                                             0*1{ Acct-Application-Id }
                                      { Auth-Session-State }
                                      [ Result-Code ]
                                      [ Experimental-Result ]
                                        Experimental-Result ::= < AVP Header: 297 >
                                                                  { Vendor-Id }
                                                                  { Experimental-Result-Code }
                                      { Origin-Host }
                                      { Origin-Realm }
                                     *[ Supported-Features ]
                                        Supported-Features ::=  < AVP header: 628 10415 >
                                                                   { Vendor-Id }
                                                                   { Feature-List-ID }
                                                                   { Feature-List }
                                                                  *[AVP]
                                      [ User-Data ]
                                      [ Expiry-Time ]
                                     *[ AVP ]
                                     *[ Failed-AVP ]
                                        Failed-AVP ::= < AVP Header: 279 >
                                                         1* {AVP}
                                     *[ Proxy-Info ]
                                        Proxy-Info ::= < AVP Header: 284 >
                                                           { Proxy-Host }
                                                           { Proxy-State }
                                                         * [ AVP ]
                                     *[ Route-Record ]

-->

    <sendMessageDIAMETER name="Send Answer 3GPP/SH/SNA" listenpoint="[listenpointName]" 
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">
        <header request="false" command="[commandCode]" applicationId="[applicationID]" proxiable="true" error="false" retransmit="false" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
          <avp code="Session-Id:263" mandatory="true" type="UTF8String" value="[sessionId]"/>
          <avp code="Vendor-Specific-Application-Id:260">
            <avp code="Vendor-Id:266" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Auth-Application-Id:258" mandatory="true" type="Unsigned32" value="[applicationID]"/>
            <!--avp code="Acct-Application-Id:259" mandatory="true" type="Unsigned32" value="[applicationID]"/-->
          </avp>

          <!-- The Auth-Session-State AVP specifies whether state is maintained for a particular session. -->
          <!-- Possible enumerated values : STATE_MAINTAINED(0) / NO_STATE_MAINTAINED(1). NO_STATE_MAINTAINED must be used (TS 29.229.750). -->
          <avp code="Auth-Session-State:277" mandatory="true" type="Enumerated" value="NO_STATE_MAINTAINED:1"/>

          <avp code="Result-Code:268" mandatory="true" type="Unsigned32" value="DIAMETER_SUCCESS:2001"/>
          <avp code="Experimental-Result:297">
            <avp code="Vendor-Id:266" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Experimental-Result-Code:298" mandatory="true" type="Unsigned32" value="DIAMETER_FIRST_REGISTRATION:2001"/>
          </avp>

          <avp code="Origin-Host:264" mandatory="true" type="DiameterIdentity" value="[remoteHostDIAM]"/>
          <avp code="Origin-Realm:296" mandatory="true" type="DiameterIdentity" value="[remoteRealmDIAM]"/>

          <!-- The Supported-Features AVP may inform the destination host about the features that the origin host supports. -->
          <avp code="Supported-Features:628" vendorId="[vendorID]">
            <avp code="Vendor-Id:266" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <!-- The Feature-List-ID AVP contains the identity of a feature list. -->
            <avp code="Feature-List-ID:629" mandatory="false" type="Unsigned32" value="1" vendorId="[vendorID]"/>
            <!-- The Feature-List AVP contains a bit mask indicating the supported features of an application. -->
            <avp code="Feature-List:630" mandatory="false" type="Unsigned32" value="1" vendorId="[vendorID]"/> 
          </avp>
          <avp code="Supported-Features:628" vendorId="[vendorID]">
            <avp code="Vendor-Id:266" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Feature-List-ID:629" mandatory="false" type="Unsigned32" value="2" vendorId="[vendorID]"/>
            <avp code="Feature-List:630" mandatory="false" type="Unsigned32" value="2" vendorId="[vendorID]"/> 
          </avp>

          <!-- The User-Data AVP contains the user data requested in the PUR and SNR operations and the data to be modified in the UPR operation. -->
          <avp code="User-Data:702" mandatory="true" type="OctetString" value="ToBeCompleted" vendorId="[vendorID]"/>              

          <!-- The Expiry-Time AVP contains the expiry time of subscriptions to notifications in the hss. -->
          <avp code="Expiry-Time:709" mandatory="false"  type="Time" value="0" vendorId="[vendorID]"/>
<!--
          <avp code="Failed-AVP:279">
            <avp code="???" vendorId="[vendorID]" mandatory="true/false" private="true/false" type="OctetString / Integer32 / Integer64 / Unsigned32 / Unsigned64 / Float32 / Float64 / Grouped / Address / Time / UTF8String / DiameterIdentity / DiameterURI / Enumerated / IPFilterRule / QoSFilterRule" value="???"/>
          </avp>
          <avp code="Failed-AVP:279">
            <avp code="???" vendorId="[vendorID]" mandatory="true/false" private="true/false" type="OctetString / Integer32 / Integer64 / Unsigned32 / Unsigned64 / Float32 / Float64 / Grouped / Address / Time / UTF8String / DiameterIdentity / DiameterURI / Enumerated / IPFilterRule / QoSFilterRule" value="???"/>
          </avp>
-->
          <avp code="Proxy-Info:284">
             <avp code="Proxy-Host:280" mandatory="true" private="false" type="DiameterIdentity" value="ToBeCompleted"/>
             <avp code="Proxy-State:33" mandatory="true"  private="false" type="OctetString" value="ToBeCompleted"/>
          </avp>
          <avp code="Proxy-Info:284">
             <avp code="Proxy-Host:280" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
             <avp code="Proxy-State:33" mandatory="true"  private="false" type="OctetString" value="ToBeCompleted"/>
          </avp>
          <avp code="Route-Record:282" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
          <avp code="Route-Record:282" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
    </sendMessageDIAMETER>
    
</scenario>
