<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<scenario>

  	<parameter name="[data]" value="01000402000000840001001000000064000000c80000012c0008001c0000019000000199000001f4000001fd00000258000002610001002c000002bc000002bd000002be000002bf000002c0000002c1000002c2000002c3000002c4000002c500080014000003200000037a00000384000003de0004000e6162636465666768696a0000" />
  	<receiveMessageSIGTRAN name="Wait DATA1"/>
  	
  	<parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
  	<test parameter="[data1]" condition="binary.equals" value="[data]"/>
  	
    <sendMessageSIGTRAN name="Send DATA1" remoteHost="[localHostIUA]" remotePort="[localPortIUA]">    		
        <UA name="IUA" file="iua.xml">
            <header messageClass="ASPTM:ASP Traffic Maintenance" messageType="ASP_Inactive_Ack"/>						
            <!-- string interface identifier -->                                                
            <parameter tag="String_Interface_Identifier">
                <field name="Interface_Identifier"  value="100"/>
                <field name="Interface_Identifier"  value="200"/>
                <field name="Interface_Identifier"  value="300"/>                
            </parameter>
            <parameter tag="String_Interface_Identifier">
                <field name="Interface_Identifier"  value="700"/>
                <field name="Interface_Identifier"  value="701"/>
                <field name="Interface_Identifier"  value="702"/>                
                <field name="Interface_Identifier"  value="703"/>
                <field name="Interface_Identifier"  value="704"/>                                
                <field name="Interface_Identifier"  value="705"/>
                <field name="Interface_Identifier"  value="706"/>
                <field name="Interface_Identifier"  value="707"/>                
                <field name="Interface_Identifier"  value="708"/>
                <field name="Interface_Identifier"  value="709"/>                                                
            </parameter>
            <parameter tag="Info_String">
                <field name="Info_String" value="abcdefghij"/>
            </parameter>
        </UA>	
    </sendMessageSIGTRAN>

</scenario>
