<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="3GPP Rx Re-Auth (RAR/RAA)" -->
<scenario>

    <call name="diameter.RecCER_SendCEA"/>
    
    <receiveMessageDIAMETER name="ReceiveRequestRAR" request="true" type="Re-Auth">
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
        <parameter name="[authApplicationId]" operation="protocol.setFromMessage" value="avp.Auth-Application-Id:258.value"/>
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
    </receiveMessageDIAMETER>

<!--
From 3GPP TS 29.214 V10.3.0 : RAR is sent by the PCRF to the AF in order to indicate an Rx specific action
<RA-Answer> ::= < Diameter Header: 258, PXY, 16777236 > 
		< Session-Id > 
		{ Origin-Host } 
		{ Origin-Realm } 
		[ Result-Code ] 
		[ Experimental-Result ] 
	   *[ Media-Component-Description ] 
		[ Service-URN ] 
		[ Origin-State-Id ]
	   *[ Class ]
		[ Error-Message ] 
		[ Error-Reporting-Host ] 
	   *[ Redirect-Host ] 
		[ Redirect-Host-Usage ] 
		[ Redirect-Max-Cache-Time ] 
	   *[ Failed-AVP ] 
	   *[ Proxy-Info ] 
	   *[ AVP ] 
-->

    <sendMessageDIAMETER name="SendAnswerRAA" listenpoint="[listenpointName]" 
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">
        <header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Auth-Application-Id:258" value="[authApplicationId]"/>
        <avp code="Origin-Host:264" value="[destinationHost]"/>
        <avp code="Origin-Realm:296" value="[destinationRealm]"/>
        <avp code="Result-Code:268" value="DIAMETER_SUCCESS:2001"/>
   </sendMessageDIAMETER>

</scenario>
