<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>
    <createListenpointGTP name="listenpoint" localPort="3387"/>
    <parameter name="[testcase:sem1]" operation="system.semaphorenotify" />

    <receiveMessageGTP name="send tunnel endpoint identifier data">
        <parameter name="[channel]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    </receiveMessageGTP>

    <test parameter="[binary]" condition="binary.equals" value="371a000c0000000000010200100001d97c85000441424344"/>
    
    <finally>
        <removeListenpointGTP name="listenpoint"/>
    </finally>
</scenario>
