<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : server.xml
    Created on : 10/07/2014
    Author     : fhenry
    Description: Receive a MAP message
-->

<scenario>

    <!-- Message encoded value -->
    <parameter name="[data]" value="01000101000000700200000800000066000600080000006502100055000000010000000203020001090103070b044302000804430100083561336b1e281c060700118605010201a011600f80020780a1090607040000010015026c11a10f02010102012e010203040506070809000000" />
    <parameter name="[length]" operation="string.length" value="[data]"/>
    
    <receiveMessageSIGTRAN name="Wait DATA1" request="true" type="46">
      <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
      <parameter name="[request]" operation="protocol.setFromMessage" value="message.request"/>
      <parameter name="[type]" operation="protocol.setFromMessage" value="message.type"/>
      <parameter name="[result]" operation="protocol.setFromMessage" value="message.result"/>
    	<parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    </receiveMessageSIGTRAN>
        
    <!-- setFromMessage -->  
    <parameter name="[unidirectional]" operation="protocol.setFromMessage" value="tcap.unidirectional"/>
    <test parameter="[unidirectional]" condition="list.size" value="0"/>
    <parameter name="[otid]" operation="protocol.setFromMessage" value="tcap.unidirectional.otid"/>    
    <test parameter="[otid]" condition="list.size" value="0"/>
    <parameter name="[dtid]" operation="protocol.setFromMessage" value="tcap.unidirectional.dtid"/>    
    <test parameter="[dtid]" condition="list.size" value="0"/>
    <parameter name="[dialoguePortion]" operation="protocol.setFromMessage" value="tcap.unidirectional.dialoguePortion"/>    
    <test parameter="[dialoguePortion]" condition="list.size" value="0"/>
    <parameter name="[ExternalPDU]" operation="protocol.setFromMessage" value="tcap.end.dialoguePortion.DialogueOC.ExternalPDU"/>
    <test parameter="[ExternalPDU]" condition="list.size" value="0"/>
    <parameter name="[direct_reference]" operation="protocol.setFromMessage" value="tcap.unidirectional.dialoguePortion.DialogueOC.ExternalPDU.ExternalPDUSequenceType"/>    
    <test parameter="[direct_reference]" condition="list.size" value="1"/>
    <test parameter="[direct_reference]" condition="string.equals" value="uniDialogue-as-id:0.0.17.773.1.2.1"/>    
    <parameter name="[direct_reference]" operation="protocol.setFromMessage" value="tcap.ExternalPDUSequenceType"/>    
    <test parameter="[direct_reference]" condition="list.size" value="1"/>
    <test parameter="[direct_reference]" condition="string.equals" value="uniDialogue-as-id:0.0.17.773.1.2.1"/>
    <parameter name="[single_ASN1_type]" operation="protocol.setFromMessage" value="tcap.unidirectional.dialoguePortion.DialogueOC.ExternalPDU.single_ASN1_type"/>
    <test parameter="[single_ASN1_type]" condition="list.size" value="0"/>                                     
    <parameter name="[UniDialoguePDU]" operation="protocol.setFromMessage" value="tcap.unidirectional.dialoguePortion.DialogueOC.ExternalPDU.single_ASN1_type.UniDialoguePDU"/>    
    <test parameter="[UniDialoguePDU]" condition="list.size" value="0"/>
    <parameter name="[protocol_version]" operation="protocol.setFromMessage" value="tcap.protocol_version"/>
    <test parameter="[protocol_version]" condition="list.size" value="1"/>
    <test parameter="[protocol_version]" condition="string.equals" value="Version1:80"/>
    <parameter name="[protocol_version]" operation="protocol.setFromMessage" value="tcap.single_ASN1_type.UniDialoguePDU.unidialoguePDU.protocol_version"/>
    <test parameter="[protocol_version]" condition="list.size" value="1"/>
    <test parameter="[protocol_version]" condition="string.equals" value="Version1:80"/>
    <parameter name="[protocol_version]" operation="protocol.setFromMessage" value="tcap.unidirectional.dialoguePortion.DialogueOC.ExternalPDU.ExternalPDUSequenceType.encoding.single_ASN1_type.UniDialoguePDU.unidialoguePDU.protocol_version"/>
    <test parameter="[protocol_version]" condition="list.size" value="1"/>
    <test parameter="[protocol_version]" condition="string.equals" value="Version1:80"/>
    <parameter name="[application_context_name]" operation="protocol.setFromMessage" value="tcap.application_context_name"/>    
    <test parameter="[application_context_name]" condition="string.equals" value="shortMsgRelayContext-v2:0.4.0.0.1.0.21.2"/>
    <parameter name="[application_context_name]" operation="protocol.setFromMessage" value="tcap.UniDialoguePDU.unidialoguePDU.AUDT_apduSequenceType.application_context_name"/>    
    <test parameter="[application_context_name]" condition="string.equals" value="shortMsgRelayContext-v2:0.4.0.0.1.0.21.2"/>
    <parameter name="[application_context_name]" operation="protocol.setFromMessage" value="tcap.encoding.single_ASN1_type.UniDialoguePDU.unidialoguePDU.AUDT_apduSequenceType.application_context_name"/>    
    <test parameter="[application_context_name]" condition="string.equals" value="shortMsgRelayContext-v2:0.4.0.0.1.0.21.2"/>
    <parameter name="[application_context_name]" operation="protocol.setFromMessage" value="tcap.ExternalPDU.ExternalPDUSequenceType.encoding.single_ASN1_type.UniDialoguePDU.unidialoguePDU.AUDT_apduSequenceType.application_context_name"/>    
    <test parameter="[application_context_name]" condition="string.equals" value="shortMsgRelayContext-v2:0.4.0.0.1.0.21.2"/>
    <parameter name="[application_context_name]" operation="protocol.setFromMessage" value="tcap.unidirectional.dialoguePortion.DialogueOC.ExternalPDU.ExternalPDUSequenceType.encoding.single_ASN1_type.UniDialoguePDU.unidialoguePDU.AUDT_apduSequenceType.application_context_name"/>    
    <test parameter="[application_context_name]" condition="string.equals" value="shortMsgRelayContext-v2:0.4.0.0.1.0.21.2"/>    
        
    <!-- control AP part -->
    <parameter name="[xml]" operation="protocol.setFromMessage" value="asn.xml"/>
    <test parameter="[xml]" condition="string.contains" value="&lt;Integer&gt;1&lt;/Integer&gt;"/>
            
    <!-- control dialoguePortion -->
    <parameter name="[xml]" operation="protocol.setFromMessage" value="tcap.xml"/>
    <parameter name="[unidirectional]" operation="string.xpath" value="[xml]" value2="//unidirectional.A1.Sequence"/>
    <test parameter="[unidirectional]" condition="list.size" value="1"/>
    <parameter name="[otid]" operation="string.xpath" value="[unidirectional]" value2="//otid.BoxedType/Bytes.A9/text()"/>
    <test parameter="[otid]" condition="list.size" value="0"/>        
    <parameter name="[dtid]" operation="string.xpath" value="[unidirectional]" value2="//dtid.BoxedType/Bytes.A9/text()"/>
    <test parameter="[dtid]" condition="list.size" value="0"/>    
    <parameter name="[dialoguePortion]" operation="string.xpath" value="[unidirectional]" value2="//dialoguePortion.BoxedType"/>
    <test parameter="[dialoguePortion]" condition="list.size" value="1"/>
    <parameter name="[ExternalPDU]" operation="string.xpath" value="[dialoguePortion]" value2="//ExternalPDU.A11.BoxedType"/>
    <test parameter="[ExternalPDU]" condition="list.size" value="1"/>
    <parameter name="[direct_reference]" operation="string.xpath" value="[ExternalPDU]" value2="//direct_reference/ObjectIdentifier/text()"/>
    <test parameter="[direct_reference]" condition="list.size" value="1"/>
    <test parameter="[direct_reference]" condition="string.equals" value="uniDialogue-as-id:0.0.17.773.1.2.1"/>
    <parameter name="[single_ASN1_type]" operation="string.xpath" value="[ExternalPDU]" value2="//single_ASN1_type.C0.BoxedType"/>
    <test parameter="[single_ASN1_type]" condition="list.size" value="1"/>
    <parameter name="[uniDialoguePDU]" operation="string.xpath" value="[single_ASN1_type]" value2="//UniDialoguePDU.C0.Choice"/>
    <test parameter="[uniDialoguePDU]" condition="list.size" value="1"/>
    <parameter name="[unidialoguePDU]" operation="string.xpath" value="[uniDialoguePDU]" value2="//unidialoguePDU.BoxedType"/>
    <test parameter="[unidialoguePDU]" condition="list.size" value="1"/>
    <parameter name="[protocol_version]" operation="string.xpath" value="[unidialoguePDU]" value2="//protocol_version.C0d/BitString/@value"/>
    <test parameter="[protocol_version]" condition="list.size" value="1"/>
    <test parameter="[protocol_version]" condition="string.equals" value="Version1:80"/>
    <parameter name="[application_context_name]" operation="string.xpath" value="[unidialoguePDU]" value2="//application_context_name.C1.BoxedType/ObjectIdentifier.C1/ObjectIdentifier/text()"/>
    <test parameter="[application_context_name]" condition="string.equals" value="shortMsgRelayContext-v2:0.4.0.0.1.0.21.2"/>
    
    <!-- Message encoded value -->
    <if>
    	<condition>
    		<test parameter="[data1]" condition="binary.equals" value="[data]"/>
    	</condition>
    	<else>
    		<log level="ERROR">	Message received :	</log>
    		<log level="ERROR">	"[data1]"			</log>
    		<log level="ERROR">	Message expected :	</log>
    		<log level="ERROR">	"[data]"			</log>
    	</else>
    </if>  

    <parameter name="[result]" operation="binary.difference" value="[data1]" value2="[data]"/>
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>
                           
</scenario>
