<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!--  name="Send 3GPP Cx/Dx Server-Assignment answer (SAA)" -->
<scenario>
    
    <receiveMessageDIAMETER name="Receive Request 3GPP/CX-DX/SAR" request="true" type="Server-Assignment:301">
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
    </receiveMessageDIAMETER>

<!--
From 3GPP TS 29.229 V7.5.0 :
Server-Assignment-Answer ::= < Diameter Header: 301, PXY, 16777216 >
                                < Session-Id >
                                { Vendor-Specific-Application-Id }
                                  Vendor-Specific-Application-Id ::= < AVP Header: 260 >
                                                                       1* [ Vendor-Id ]
                                                                       0*1{ Auth-Application-Id }
                                                                       0*1{ Acct-Application-Id }
                                [ Result-Code ]
                                [ Experimental-Result ]
                                  Experimental-Result ::= < AVP Header: 297 >
                                                            { Vendor-Id }
                                                            { Experimental-Result-Code }
                                { Auth-Session-State }
                                { Origin-Host }
                                { Origin-Realm }
                                [ User-Name ]
                               *[ Supported-Features ]
                                  Supported-Features ::=  < AVP header: 628 10415 >
                                                             { Vendor-Id }
                                                             { Feature-List-ID }
                                                             { Feature-List }
                                                            *[AVP]
                                [ User-Data ]
                                [ Charging-Information ]
                                  Charging-Information :: = < AVP Header : 618 10415 >
                                                               [ Primary-Event-Charging-Function-Name ]
                                                               [ Secondary-Event-Charging-Function-Name ]
                                                               [ Primary-Charging-Collection-Function-Name ]
                                                               [ Secondary-Charging-Collection-Function-Name ]
                                                              *[ AVP]
                                [ Associated-Identities ]
                                  Associated-Identities ::= < AVP header: 632, 10415 >
                                                              *[ User-Name ]
                                                              *[ AVP ]
                               *[ AVP ]
                               *[ Failed-AVP ]
                                  Failed-AVP ::= < AVP Header: 279 >
                                                   1* {AVP}
                               *[ Proxy-Info ]
                                  Proxy-Info ::= < AVP Header: 284 >
                                                     { Proxy-Host }
                                                     { Proxy-State }
                                                   * [ AVP ]
                               *[ Route-Record ]

-->

    <sendMessageDIAMETER name="Send Answer 3GPP/CX-DX/SAA">
        <header request="false" command="[commandCode]" applicationId="[applicationID]" hopByHop="[hopByHop]" endToEnd="[endToEnd]" proxiable="true" error="false" retransmit="false"/>
          <avp code="Session-Id" mandatory="true" type="UTF8String" value="hss.sip.france.fr;45e45ee4;046725;5cd579ef"/>
          <avp code="Vendor-Specific-Application-Id">
            <avp code="Vendor-Id" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Auth-Application-Id" mandatory="true" type="Unsigned32" value="[applicationID]"/>
            <!--avp code="Acct-Application-Id" mandatory="true" type="Unsigned32" value="16777217"/-->
          </avp>

          <avp code="Result-Code" mandatory="true" type="Unsigned32" value="DIAMETER_SUCCESS"/>              
          <avp code="Experimental-Result">
            <avp code="Vendor-Id" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Experimental-Result-Code" mandatory="true" type="Unsigned32" value="2001" vendorId="[vendorID]"/>
          </avp>

          <!-- The Auth-Session-State AVP specifies whether state is maintained for a particular session. -->
          <!-- Possible enumerated values : STATE_MAINTAINED(0) / NO_STATE_MAINTAINED(1). NO_STATE_MAINTAINED must be used (TS 29.229.750). -->
          <avp code="Auth-Session-State" mandatory="true" type="Enumerated" value="NO_STATE_MAINTAINED"/>

          <avp code="Origin-Host" mandatory="true" type="DiameterIdentity" value="[remoteHost]"/>
          <avp code="Origin-Realm" mandatory="true" type="DiameterIdentity" value="[Remote-Realm]"/>

          <avp code="User-Name" mandatory="true" type="UTF8String" value="ToBeCompleted" vendorId="[vendorID]"/>

          <!-- The Supported-Features AVP may inform the destination host about the features that the origin host supports. -->
          <avp code="Supported-Features" vendorId="[vendorID]">
            <avp code="Vendor-Id" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <!-- The Feature-List-ID AVP contains the identity of a feature list. -->
            <avp code="Feature-List-ID" mandatory="false" type="Unsigned32" value="1" vendorId="[vendorID]"/>
            <!-- The Feature-List AVP contains a bit mask indicating the supported features of an application. -->
            <avp code="Feature-List" mandatory="false" type="Unsigned32" value="1" vendorId="[vendorID]"/> 
          </avp>
          <avp code="Supported-Features" vendorId="[vendorID]">
            <avp code="Vendor-Id" mandatory="true" type="Unsigned32" value="[vendorID]"/>
            <avp code="Feature-List-ID" mandatory="false" type="Unsigned32" value="2" vendorId="[vendorID]"/>
            <avp code="Feature-List" mandatory="false" type="Unsigned32" value="2" vendorId="[vendorID]"/> 
          </avp>

          <!-- The User-Data AVP contains the user data required to give service to a user. -->
          <avp code="User-Data" mandatory="true" type="OctetString" value="ToBeCompleted" vendorId="[vendorID]"/>              

          <!-- The Charging-Information AVP contains the addresses of the charging functions. -->
          <avp code="Charging-Information" vendorId="[vendorID]">
            <!-- The Primary-Event-Charging-Function-Name AVP contains the address of the Primary Online Charging Function. -->
            <avp code="Primary-Event-Charging-Function-Name" mandatory="true" type="DiameterURI" value="aaa[s]:// FQDN [ :port ] [ ;transport=tcp/sctp/udp ] [ ;protocol=diameter/radius/tacacs+ ]" vendorId="[vendorID]"/>              
            <!-- The Secondary-Event-Charging-Function-Name AVP contains the address of the Secondary Online Charging Function. -->
            <avp code="Secondary-Event-Charging-Function-Name" mandatory="true" type="DiameterURI" value="aaa[s]:// FQDN [ :port ] [ ;transport=tcp/sctp/udp ] [ ;protocol=diameter/radius/tacacs+ ]" vendorId="[vendorID]"/>              
            <!-- The Primary-Charging-Collection-Function-Name AVP contains the address of the Primary Charging Data Function. -->
            <avp code="Primary-Charging-Collection-Function-Name" mandatory="true" type="DiameterURI" value="aaa[s]:// FQDN [ :port ] [ ;transport=tcp/sctp/udp ] [ ;protocol=diameter/radius/tacacs+ ]" vendorId="[vendorID]"/>              
            <!-- The Secondary-Charging-Collection-Function-Name AVP contains the address of the Secondary Charging Data Function. -->
            <avp code="Secondary-Charging-Collection-Function-Name" mandatory="true" type="DiameterURI" value="aaa[s]:// FQDN [ :port ] [ ;transport=tcp/sctp/udp ] [ ;protocol=diameter/radius/tacacs+ ]" vendorId="[vendorID]"/>              
          </avp>

          <!-- The Associated-Identities AVP contains the private user identities associated to an IMS subscription. -->
          <avp code="Associated-Identities" mandatory="false" vendorId="[vendorID]">
            <avp code="User-Name" mandatory="true" type="UTF8String" value="ToBeCompleted" vendorId="[vendorID]"/>
            <avp code="User-Name" mandatory="true" type="UTF8String" value="ToBeCompleted" vendorId="[vendorID]"/>
          </avp>
<!--
          <avp code="Failed-AVP">
            <avp code="???" vendorId="[vendorID]" mandatory="true/false" private="true/false" type="OctetString / Integer32 / Integer64 / Unsigned32 / Unsigned64 / Float32 / Float64 / Grouped / Address / Time / UTF8String / DiameterIdentity / DiameterURI / Enumerated / IPFilterRule / QoSFilterRule" value="???"/>
          </avp>
          <avp code="Failed-AVP">
            <avp code="???" vendorId="[vendorID]" mandatory="true/false" private="true/false" type="OctetString / Integer32 / Integer64 / Unsigned32 / Unsigned64 / Float32 / Float64 / Grouped / Address / Time / UTF8String / DiameterIdentity / DiameterURI / Enumerated / IPFilterRule / QoSFilterRule" value="???"/>
          </avp>
-->
          <avp code="Proxy-Info">
             <avp code="Proxy-Host" mandatory="true" private="false" type="DiameterIdentity" value="ToBeCompleted"/>
             <avp code="Proxy-State" mandatory="true"  private="false" type="OctetString" value="ToBeCompleted"/>
          </avp>
          <avp code="Proxy-Info">
             <avp code="Proxy-Host" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
             <avp code="Proxy-State" mandatory="true"  private="false" type="OctetString" value="ToBeCompleted"/>
          </avp>
          <avp code="Route-Record" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
          <avp code="Route-Record" mandatory="true"  private="false" type="DiameterIdentity" value="ToBeCompleted"/>
    </sendMessageDIAMETER>
    
</scenario>
