<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : server.xml
    Created on : 10/07/2014
    Author     : fhenry
    Description: Receive a MAP message
-->

<scenario>

    <!-- Message encoded value -->
    <parameter name="[data]" value="010001010000007c021000740000375800003715030200040900030e180b12060012046895112233580a129100120468951114864762454804f78203016b1e281c060700118605010101a011600f80020780a1090607040000010025036c1da11b02010002015530138006916895111486a109810791689511223358" />
    <parameter name="[length]" operation="string.length" value="[data]"/>
    
    <receiveMessageSIGTRAN name="Wait DATA1" request="true" type="85">
    <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    </receiveMessageSIGTRAN>
    
    <parameter name="[result ]" operation="binary.difference" value="[data1]" value2="[data]"/>
    
    <if>
    <condition>
    	<test parameter="[data1]" condition="binary.equals" value="[data]"/>
    </condition>
    <else>
    	<log level="ERROR">	Message received :	</log>
    	<log level="ERROR">	"[data1]"			</log>
    	<log level="ERROR">	Message expected :	</log>
    	<log level="ERROR">	"[data]"			</log>
    </else>
    </if>
    
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>

    <!-- Message encoded value -->
  	<parameter name="[data]" value="0100010100000090021000880000371500003758030200010980030d170a529100120468951114860a120600120468950100205c645a4904f78203016b2a2828060700118605010101a01d611b80020780a109060704000001002503a203020100a305a1030201006c26a224020100301f020155301aa00a800842904900003023f3a10c0406916895010030840204f0" />
    <parameter name="[length]" operation="string.length" value="[data]"/>			
	
    <sendMessageSIGTRAN name="Send DATA1" remoteHost="[remoteHostM3UA]" remotePort="[remotePortM3UA]">
    
    <!-- AP LAYER -->
    <AP className="com.devoteam.srit.xmlloader.sigtran.ap.map.Component">
      <Component>
        <returnResultLast>
          <invokeID><Integer>0</Integer></invokeID>
          <resultretres>
            <opCode>
              <localValue><Long>85</Long></localValue>
            </opCode>
            <returnparameter>
              <RoutingInfoForLCS_Res>
                <targetMS>
                  <imsi>
                    <Bytes>42904900003023f3</Bytes>
                  </imsi>
                </targetMS>
                <lcsLocationInfo>
                  <networkNode_Number>
                    <Bytes>916895010030</Bytes>
                  </networkNode_Number>
                  <supportedLCS_CapabilitySets>
                    <BitString>
                      <bitStrValue>f0</bitStrValue>
                      <trailBitsCnt>04</trailBitsCnt>
                    </BitString>
                  </supportedLCS_CapabilitySets>
                </lcsLocationInfo>
              </RoutingInfoForLCS_Res>
            </returnparameter>
          </resultretres>
        </returnResultLast>
      </Component>
    </AP>
    
    <!-- TCAP LAYER -->
    <AP className="com.devoteam.srit.xmlloader.sigtran.ap.tcap.TCMessage">
      <TCMessage>
        <end>
          <dtid><Bytes>f7820301</Bytes></dtid>
          <dialoguePortion>
            <DialogueOC>
              <ExternalPDU>
                <ExternalPDUSequenceType>
                  <direct_reference><oidString>0.0.17.773.1.1.1</oidString></direct_reference>
                  <encoding>
                    <single_ASN1_type>
                      <DialoguePDU>
                        <dialogueResponse>
                          <AARE_apduSequenceType>
                            <protocol_version>
                              <bitStrValue>80</bitStrValue><trailBitsCnt>7</trailBitsCnt>
                            </protocol_version>
                            <application_context_name>
                              <direct_reference><oidString>0.4.0.0.1.0.37.3</oidString></direct_reference>
                            </application_context_name>
                            <result><Associate_result><Long>0</Long></Associate_result></result>
                            <result_source_diagnostic>
                              <Associate_source_diagnostic>
                                <dialogue_service_user>
                                  <DialogueServiceUser><Long>0</Long></DialogueServiceUser>
                                </dialogue_service_user>
                              </Associate_source_diagnostic>
                            </result_source_diagnostic>
                          </AARE_apduSequenceType>
                        </dialogueResponse>
                      </DialoguePDU>
                    </single_ASN1_type>
                  </encoding>
                </ExternalPDUSequenceType>
              </ExternalPDU>
            </DialogueOC>
          </dialoguePortion>
        </end>
      </TCMessage>
    </AP>
    
	  <!-- SCCP LAYER  -->
  	<SS7 name="sccp" file="sccp.xml">
  		<header>
          <field name="Message_Type" length="1" value="9" /> <!-- code for UnitData is 9 -->
      </header>
  		<parameter name="Protocol_Class" type="F" littleEndian="false">
  			<field value="8" lengthBit="4" />
  			<field value="0" lengthBit="4" /> <!-- values 0 and 1 is for connectionless class protocol, values 2 and 3 are for connection-oriented-protocol -->
  		</parameter>
  		<parameter id="3" name="Called_Party_Address" type="V" littleEndian="true">
  			<field name="Address_Indicator" value="82" length="1" />
  			<!--field name="Signalling_Point_Code" value="1" length="2" /-->
  			<field name="Subsystem_Number" value="145" length="1" />
        <field name="Global_Title" value="00482016a9882861" format="binary" length="8" />	
  		</parameter>
  		<parameter id="4" type="V" name="Calling_Party_Address" littleEndian="true">
  			<field name="Address_Indicator" value="18" length="1" />
  			<!--field name="Signalling_Point_Code" value="2" length="2" /-->
  			<field name="Subsystem_Number" value="6" length="1" />
        <field name="Global_Title" value="00482016a9800004" format="binary" length="8" />
  		</parameter>
  		<parameter id="15" name="Data" type="V" littleEndian="false">
  			<field value="" format="binary" length="88" />  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
        <!--field value="625a4804000000016b1e281c060700118605010101a011600f80020780a1090607040000010015026c32a13002010102012e30288407913366600567f98207913366317071f3041411080b913366600567f70000a906f3f97c3e9f03" format="binary" length="92" /-->  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
  		</parameter>
  	</SS7>

    <UA name="m3ua" file="m3ua.xml">
        <header	messageClass="Transfer_Messages" messageType="Payload_Data"/>
				
        <!--parameter tag="Network_Appearence">
            <field name="Network_Appearence"  format="Integer" value="102"/>
        </parameter-->
        <!--parameter tag="Routing_Context">
            <field name="Routing_Context" format="Integer"  value="101"/>
        </parameter-->
        <parameter tag="Protocol_Data">
            <field value="14101" name="Originating_Point_Code"/>
            <field value="14168" name="Destination_Point_Code" />
            <field value="SCCP"	name="SI"/>
            <field value="2"	name="NI"/>
            <field value="0"	name="MP"/>
            <field value="1"	name="SLS"/>
            <field name="DATA"	format="fvo"/>
        </parameter>
	
        <!--parameter tag="Correlation_Id">
            <field name="Correlation_Id" format="Integer"  value="12783"/>
        </parameter-->
    </UA>
    </sendMessageSIGTRAN>
  
    <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>

    <!-- Message encoded value -->
    <parameter name="[data]" value="01000101000000a8021000a00000375800003715030200050900030d170a120800120468950100300a129100120468951114867462724804f88203016b1e281c060700118605010101a011600f80020780a1090607040000010026036c4aa148020100020153304030038001010406916895111486a016800101a1058003910810a40a80010f8205431cac1503820842904900003023f3860101a70880010da3030a0101890201fe" />
    <parameter name="[length]" operation="string.length" value="[data]"/>
    
    <receiveMessageSIGTRAN name="Wait DATA1" request="true" type="83">
        <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    </receiveMessageSIGTRAN>
        
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>

    <!-- Message encoded value -->
  	<parameter name="[data]" value="010001010000008c021000840000371500003758030200020980030d170a529100120468951114860a120800120468950100305864564904f88203016b2a2828060700118605010101a01d611b80020780a109060704000001002603a203020100a305a1030201006c22a220020100301b0201533016040da02c6758564b290037314b3b5080010084020003" />
    <parameter name="[length]" operation="string.length" value="[data]"/>			
	
    <sendMessageSIGTRAN name="Send DATA1" remoteHost="[remoteHostM3UA]" remotePort="[remotePortM3UA]">
    
    <!-- AP LAYER -->
    <AP className="com.devoteam.srit.xmlloader.sigtran.ap.map.Component">
      <Component>
        <returnResultLast>
          <invokeID><Integer>0</Integer></invokeID>
          <resultretres>
            <opCode>
              <localValue><Long>83</Long></localValue>
            </opCode>
            <returnparameter>
              <ProvideSubscriberLocation_Arg>
                <locationEstimate>
                  <Bytes>a02c6758564b290037314b3b50</Bytes></locationEstimate>
                <ageOfLocationEstimate><Integer>0</Integer></ageOfLocationEstimate>
                <geranPositioningData>
                  <Bytes>0003</Bytes></geranPositioningData>
              </ProvideSubscriberLocation_Arg>            
            </returnparameter>
          </resultretres>
        </returnResultLast>
      </Component>
    </AP>
    
    <!-- TCAP LAYER -->
    <AP className="com.devoteam.srit.xmlloader.sigtran.ap.tcap.TCMessage">
      <TCMessage>
        <end>
          <dtid><Bytes>f8820301</Bytes></dtid>
          <dialoguePortion>
            <DialogueOC>
              <ExternalPDU>
                <ExternalPDUSequenceType>
                  <direct_reference><oidString>0.0.17.773.1.1.1</oidString></direct_reference>
                  <encoding>
                    <single_ASN1_type>
                      <DialoguePDU>
                        <dialogueResponse>
                          <AARE_apduSequenceType>
                            <protocol_version>
                              <bitStrValue>80</bitStrValue><trailBitsCnt>7</trailBitsCnt>
                            </protocol_version>
                            <application_context_name>
                              <org.bn.types.ObjectIdentifier><oidString>0.4.0.0.1.0.38.3</oidString></org.bn.types.ObjectIdentifier>
                            </application_context_name>
                            <result><Associate_result><Long>0</Long></Associate_result></result>
                            <result_source_diagnostic>
                              <Associate_source_diagnostic>
                                <dialogue_service_user>
                                  <DialogueServiceUser><Long>0</Long></DialogueServiceUser>
                                </dialogue_service_user>
                              </Associate_source_diagnostic>
                            </result_source_diagnostic>
                          </AARE_apduSequenceType>
                        </dialogueResponse>
                      </DialoguePDU>
                    </single_ASN1_type>
                  </encoding>
                </ExternalPDUSequenceType>
              </ExternalPDU>
            </DialogueOC>
          </dialoguePortion>
        </end>
      </TCMessage>
    </AP>
    
	  <!-- SCCP LAYER  -->
  	<SS7 name="sccp" file="sccp.xml">
  		<header>
          <field name="Message_Type" length="1" value="9" /> <!-- code for UnitData is 9 -->
      </header>
  		<parameter name="Protocol_Class" type="F" littleEndian="false">
  			<field value="8" lengthBit="4" />
  			<field value="0" lengthBit="4" /> <!-- values 0 and 1 is for connectionless class protocol, values 2 and 3 are for connection-oriented-protocol -->
  		</parameter>
  		<parameter id="3" name="Called_Party_Address" type="V" littleEndian="false">
  			<!--field name="Address_Indicator" value="82" length="1" /-->
  			<!--field name="Signalling_Point_Code" value="1" length="2" /-->
  			<!--field name="Subsystem_Number" value="145" length="1" /-->
        <field name="Global_Title" value="52910012046895111486" format="binary" length="10" />	
  		</parameter>
  		<parameter id="4" type="V" name="Calling_Party_Address" littleEndian="false">
  			<!--field name="Address_Indicator" value="18" length="1" /-->
  			<!--field name="Signalling_Point_Code" value="2" length="2" /-->
  			<!--field name="Subsystem_Number" value="6" length="1" /-->
        <field name="Global_Title" value="12080012046895010030" format="binary" length="10" />
  		</parameter>
  		<parameter id="15" name="Data" type="V" littleEndian="false">
  			<field value="" format="binary" length="88" />  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
  		</parameter>
  	</SS7>

    <UA name="m3ua" file="m3ua.xml">
        <header	messageClass="Transfer_Messages" messageType="Payload_Data"/>
				
        <!--parameter tag="Network_Appearence">
            <field name="Network_Appearence"  format="Integer" value="102"/>
        </parameter-->
        <!--parameter tag="Routing_Context">
            <field name="Routing_Context" format="Integer"  value="101"/>
        </parameter-->
        <parameter tag="Protocol_Data">
            <field value="14101" name="Originating_Point_Code"/>
            <field value="14168" name="Destination_Point_Code" />
            <field value="SCCP"	name="SI"/>
            <field value="2"	name="NI"/>
            <field value="0"	name="MP"/>
            <field value="2"	name="SLS"/>
            <field name="DATA"	format="fvo"/>
        </parameter>
	
        <!--parameter tag="Correlation_Id">
            <field name="Correlation_Id" format="Integer"  value="12783"/>
        </parameter-->
    </UA>
    </sendMessageSIGTRAN>
  
    <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>
    
</scenario>
