<?xml version="1.0" encoding="UTF-8"?>

<scenario>
    <parameter name="[listenpoint]" operation="set" value="[scenarioName]" />

    <createListenpointRADIUS name="[listenpoint]" secret="my_secret" localPort="[localPortRAD]"/>

    <parameter name="[testcase:sem2]" operation="system.semaphorenotify" />
    <parameter name="[testcase:sem1]" operation="system.semaphorewait" />

    <receiveMessageRADIUS listenpoint="[listenpoint]" request="true" type="access-request:1">
        <parameter name="[identifier]" operation="protocol.setFromMessage" value="header.identifier" />
        <parameter name="[remoteHostRAD]" operation="protocol.setFromMessage" value="channel.remoteHost" />
        <parameter name="[remotePortRAD]" operation="protocol.setFromMessage" value="channel.remotePort" />
        
        <parameter name="[password]" operation="protocol.setFromMessage" value="user-password.text" />
        <test parameter="[password]" condition="string.matches" value="password.*" />
    </receiveMessageRADIUS>

    <sendMessageRADIUS listenpoint="[listenpoint]" remoteHost="[remoteHostRAD]" remotePort="[remotePortRAD]">
        <header code="access-accept" identifier="[identifier]" />
    </sendMessageRADIUS>

    <!--removeListenpointRADIUS name="[listenpoint]"/-->
    
</scenario>
