<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>
    <createListenpointGTPP name="listenpoint" localPort="3387"/>
    <parameter name="[testcase:sem1]" operation="system.semaphorenotify" />

    <receiveMessageGTPP name="echo request">
        <parameter name="channel" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTPP>

    <sendMessageGTPP name="echo Response" channel="[channel]">
        <header name="echoResponse" sequenceNumber="[seqNum]"/>
        <tlv name="recovery" value="23"/>
    </sendMessageGTPP>

    <receiveMessageGTPP name="echo request">
        <parameter name="channel" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTPP>

    <sendMessageGTPP name="versionNotSupported" channel="[channel]">
        <header name="versionNotSupported" sequenceNumber="[seqNum]"/>
    </sendMessageGTPP>

    <finally>
        <removeListenpointGTPP name="listenpoint"/>
    </finally>
</scenario>
