<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>
    <receiveMessageGTP name="node alive request" request="true" type="Node Alive Request:4">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    <test parameter="[binary]" condition="binary.equals" value="0f0400090001fb0004ac1015cf"/>
    
    <sendMessageGTP name="node alive response"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="[transport]">
        <headerPrime type="Node Alive Response:5" sequenceNumber="1"/>
    </sendMessageGTP>

</scenario>
