<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="receive redirection request">
        <parameter name="channel" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <sendMessageGTP name="send redirection response" channel="[channel]">
        <headerPrime type="7" sequenceNumber="[seqNum]"/>
        <tlv tag="1" value="7"/>
    </sendMessageGTP>

</scenario>
