<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : server.xml
    Created on : 10/07/2014
    Author     : fhenry
    Description: Receive a MAP message
-->

<scenario>

    <receiveMessageSIGTRAN name="Wait ASPUP1" request="true" type="ASP_Up:3_1">
	       <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
    </receiveMessageSIGTRAN>
    
   
    
    <sendMessageSIGTRAN	name="Send ASPUP1" destScenario="client" channel="[channelName]">
    
        <UA name="m3ua" file="m3ua.xml">
            <header version="1" reserved="0" messageClass="3" messageType="4"/>
    				
            <parameter tag="17" >
                <field name="ASP_Identifier" format="Integer" value="19" length="4"/>
            </parameter>
    	
            <parameter tag="INFO_String">
                <field name="INFO_String" format="String" value="ASPUP"/>
            </parameter>
        </UA>
        
    </sendMessageSIGTRAN>

    <!-- Message encoded value -->
    <parameter name="[data]" value="0100010100000094020000080000006600060008000000650210007c000000010000000203020001090103070b044302000804430100085c625a4804000000016b1e281c060700118605010101a011600f80020780a1090607040000010015026c32a13002010102012e30288407913366600567f98207913366317071f3041411080b913366600567f70000a906f3f97c3e9f03" />
    <parameter name="[length]" operation="string.length" value="[data]"/>
    
    <receiveMessageSIGTRAN name="Wait DATA1" request="true" type="83">
      <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
      <parameter name="[request]" operation="protocol.setFromMessage" value="message.request"/>
      <parameter name="[type]" operation="protocol.setFromMessage" value="message.type"/>
      <parameter name="[result]" operation="protocol.setFromMessage" value="message.result"/>
    	<parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    </receiveMessageSIGTRAN>
        
    <!--test parameter="[data1]" condition="binary.equals" value="[data]"/-->

    <!-- Message encoded value -->
  	<parameter name="[data]" value="0100010100000074020000080000006600060008000000650210005b000000020000000103020001090103070b044301000804430200083b64394904000000016b2a2828060700118605010101a01d611b80020780a109060704000001001502a203020100a305a1030201006c05a20302010100" />
    <parameter name="[length]" operation="string.length" value="[data]"/>			
	
    <sendMessageSIGTRAN name="Send DATA1" channel="[channelName]">
        
    <!-- AP LAYER -->
    <ASN dictionary="map/dictionary_MAP.xml">
      <Component.Choice>
        <returnResultLast.C2.Sequence>
           <invokeID.BoxedType><Integer>1</Integer></invokeID.BoxedType>
           <resultretres>
            <opCode.Choice>
               <localValue.BoxedType><Long>provideSubscriberLocation:83</Long></localValue.BoxedType>
               <!--globalValue><ObjectIdentifier>0.1.233.30.41.26.113</ObjectIdentifier></globalValue-->
            </opCode.Choice>
            <returnparameter>            
               <ProvideSubscriberLocation_Res.Sequence>
                  <locationEstimate.BoxedType><Bytes>62b0dc03f0fa2202
                        <field name="TypeOfShape" value="Reserved for future use:6" type="EnumLong" lengthBit="4" />
                        <field name="spare" value="2" type="Integer" lengthBit="4" />
                        <field name="DegreesOfLatitude" value="11590659" type="Integer" length="3" />
                        <field name="DegreesOfLongitude" value="15792674" type="Integer" length="3" />
                        <field name="UncertaintyCode" value="2" type="Integer" length="1" />
                     </Bytes></locationEstimate.BoxedType>
                  <ageOfLocationEstimate.C0.BoxedType><Integer>0 minut = currently in contact:0</Integer></ageOfLocationEstimate.C0.BoxedType>
                  <extensionContainer.C1.Sequence>
                     <privateExtensionList.C0.BoxedType>
                        <Collection>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.258.88</ObjectIdentifier></extId>
                              <extType>29</extType>
                           </PrivateExtension.Sequence>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.242.121.14.66.4.62.46.29</ObjectIdentifier></extId>
                              <extType>8d094318</extType>
                           </PrivateExtension.Sequence>
                           <PrivateExtension.Sequence>
                              <extId><ObjectIdentifier>0.1.241.111</ObjectIdentifier></extId>
                              <extType>08</extType>
                           </PrivateExtension.Sequence>
                        </Collection>
                     </privateExtensionList.C0.BoxedType>
                     <pcsExtensions.C1.Sequence></pcsExtensions.C1.Sequence>
                  </extensionContainer.C1.Sequence>
                  <add_LocationEstimate.C2.BoxedType><Bytes>0318e0db30af0fea09841f9186
                        <field name="TypeOfShape" value="Ellipsoid Point:0" type="EnumLong" lengthBit="4" />
                        <field name="spare" value="3" type="Integer" lengthBit="4" />
                        <field name="DegreesOfLatitude" value="1630427" type="Integer" length="3" />
                        <field name="DegreesOfLongitude" value="3190543" type="Integer" length="3" />
                        <field name="InnerRadius" value="234" type="Integer" length="1" />
                        <field name="UncertaintyRadius" value="2436" type="Integer" length="2" />
                        <field name="OffsetAngle" value="31" type="Integer" length="1" />
                        <field name="IncludedAngle" value="145" type="Integer" length="1" />
                        <field name="Confidence" value="134" type="Integer" length="1" />
                     </Bytes></add_LocationEstimate.C2.BoxedType>
                  <deferredmt_lrResponseIndicator.C3></deferredmt_lrResponseIndicator.C3>
                  <geranPositioningData.C4.BoxedType><Bytes>abd269
                        <field name="spare" value="10" type="Integer" lengthBit="4" />
                        <field name="Discriminator" value="reserved:11" type="EnumLong" lengthBit="4" />
                        <field name="Method1" value="Reserved for network specific positioning methods:26" type="EnumLong" lengthBit="5" />
                        <field name="Usage1" value="Attempted successfully: results used to verify but not generate location:2" type="EnumLong" lengthBit="3" />
                        <field name="Method2" value="Reserved for GSM:13" type="EnumLong" lengthBit="5" />
                        <field name="Usage2" value="Attempted successfully: results not used to generate location:1" type="EnumLong" lengthBit="3" />
                     </Bytes></geranPositioningData.C4.BoxedType>
                  <utranPositioningData.C5.BoxedType><Bytes>609fb0
                        <field name="spare" value="6" type="Integer" lengthBit="4" />
                        <field name="Discriminator" value="one method, GANSS-ID and usage:0" type="EnumLong" lengthBit="4" />
                        <field name="Method1" value="Reserved for network specific positioning methods:19" type="EnumLong" lengthBit="5" />
                        <field name="Usage1" value="Reserved:7" type="EnumLong" lengthBit="3" />
                        <field name="Method2" value="Reserved for network specific positioning methods:22" type="EnumLong" lengthBit="5" />
                        <field name="Usage2" value="Attempted unsuccessfully: due to failure or interruption - not used:0" type="EnumLong" lengthBit="3" />
                     </Bytes></utranPositioningData.C5.BoxedType>
                  <cellIdOrSai.C6.Choice>
                     <cellGlobalIdOrServiceAreaIdFixedLength.C0.BoxedType><Bytes>01369122de72ff
                           <field name="MMC" value="106,193" type="Number_MMC" length="3" />
                           <field name="LAC" value="8926" type="Integer" length="2" />
                           <field name="CI_SAC" value="29439" type="Integer" length="2" />
                        </Bytes></cellGlobalIdOrServiceAreaIdFixedLength.C0.BoxedType>
                     <laiFixedLength.C1.BoxedType><Bytes>3195918299
                           <field name="MMC" value="135,199" type="Number_MMC" length="3" />
                           <field name="LAC" value="33433" type="Integer" length="2" />
                        </Bytes></laiFixedLength.C1.BoxedType>
                  </cellIdOrSai.C6.Choice>
                  <sai_Present.C7></sai_Present.C7>
               </ProvideSubscriberLocation_Res.Sequence>
            </returnparameter>
         </resultretres>
        </returnResultLast.C2.Sequence>
      </Component.Choice>
    </ASN>
    
    <!-- TCAP LAYER -->
    <ASN dictionary="tcap/dictionary_TCAP.xml">
      <TCMessage>
        <end>
          <dtid><Bytes>00000001</Bytes></dtid>
          <dialoguePortion>
            <DialogueOC>
              <ExternalPDU>
                <ExternalPDUSequenceType>
                  <direct_reference><ObjectIdentifier>dialogue-as-id:0.0.17.773.1.1.1</ObjectIdentifier></direct_reference>
                  <!--indirect_reference>856649051904125184</indirect_reference-->
                  <!--data_value_descriptor><Bytes>0402aa40</Bytes></data_value_descriptor-->
                  <encoding>
                    <single_ASN1_type>
                      <DialoguePDU>
                        <dialogueResponse>
                          <AARE_apduSequenceType>
                            <protocol_version><BitString value="Version1:80" trailing="7"/></protocol_version>
                            <application_context_name><ObjectIdentifier><ObjectIdentifier>subscriberInfoEnquiryContext-v2:0.4.0.0.1.0.28.2</ObjectIdentifier></ObjectIdentifier>
                            </application_context_name>
                            <result><Associate_result><Long>0</Long></Associate_result></result>
                            <result_source_diagnostic>
                              <Associate_source_diagnostic>
                                <dialogue_service_user>
                                  <DialogueServiceUser><Long>0</Long></DialogueServiceUser>
                                </dialogue_service_user>
                              </Associate_source_diagnostic>
                            </result_source_diagnostic>
                            <!--Collection>
                              <user_information>040ca70f5e0f024d3b3c34b26588</user_information>
                              <user_information>04120aef3699f398f0a04000761bab86be69191c</user_information>
                              <user_information>0403d079a4</user_information>
                            </Collection-->
                          </AARE_apduSequenceType>
                        </dialogueResponse>
                      </DialoguePDU>
                    </single_ASN1_type>
                  </encoding>
                </ExternalPDUSequenceType>
              </ExternalPDU>
            </DialogueOC>
          </dialoguePortion>
        </end>
      </TCMessage>
    </ASN>
    
	  <!-- SCCP LAYER  -->
    <!-- SCCP MESSAGE LONG UNITDATA WITH DATA FIELD -->
  	<SS7 name="sccp" file="sccp.xml">
    		<header>
            <field name="Message_Type" length="1" value="9" /> <!-- code for UnitData is 9 -->
        </header>
    		<parameter name="Protocol_Class" type="F" >
    			<field value="0" lengthBit="4" />
    			<field value="1" lengthBit="4" /> <!-- values 0 and 1 is for connectionless class protocol, values 2 and 3 are for connection-oriented-protocol -->
    		</parameter>
    		<parameter id="3" name="Called_Party_Address" type="V" >
    			<field name="Address_Indicator" value="67" length="1" />
    			<field name="Signalling_Point_Code" value="1" length="2" littleEndian="true" />
    			<field name="Subsystem_Number" value="8" length="1" />	
    		</parameter>
    		<parameter id="4" type="V" name="Calling_Party_Address" >
    			<field name="Address_Indicator" value="67" length="1" />
    			<field name="Signalling_Point_Code" value="2" length="2" littleEndian="true" />
    			<field name="Subsystem_Number" value="8" length="1" />
    		</parameter>
    		<parameter id="15" name="Data" type="V" >
    			<field value="" format="binary" length="88" />  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
          <!--field value="625a4804000000016b1e281c060700118605010101a011600f80020780a1090607040000010015026c32a13002010102012e30288407913366600567f98207913366317071f3041411080b913366600567f70000a906f3f97c3e9f03" format="binary" length="92" /-->  <!-- HERE DATA OF UPPER LAYER (e.g TCAP) IN HEX STRING FORMAT -->
    		</parameter>
  	</SS7>

    <UA name="m3ua" file="m3ua.xml">
        <header	messageClass="Transfer_Messages" messageType="Payload_Data"/>
				
        <parameter tag="Network_Appearence">
            <field name="Network_Appearence"  format="Integer" value="102"/>
        </parameter>
        <parameter tag="Routing_Context">
            <field name="Routing_Context" format="Integer"  value="101"/>
        </parameter>
        <parameter tag="Protocol_Data">
            <field value="2" name="Originating_Point_Code"/>
            <field value="1" name="Destination_Point_Code" />
            <field value="SCCP"	name="SI"/>
            <field value="2"	name="NI"/>
            <field value="0"	name="MP"/>
            <field value="1"	name="SLS"/>
            <field name="DATA"	format="fvo"/>
        </parameter>
	
        <!--parameter tag="Correlation_Id">
            <field name="Correlation_Id" format="Integer"  value="12783"/>
        </parameter-->
    </UA>
    </sendMessageSIGTRAN>
  
    <parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    <!--test parameter="[data1]" condition="binary.equals" value="[data]"/-->

</scenario>
