<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : bob.xml
    Created on : 24/06/2009
    Author     : jbrisseau
    Description: Receive the M3UA message "Registration Request".
-->

<scenario>

	<!-- Message encoded value -->
	<parameter name="[REG_REQ]" value="01000901000000a00207005c020a00080009c9c10006000c007800870001280c000b000800000003020b00080000023802000008000bfcaa020c00090c0303070d000000020e0008000009ae020b0008000000af020c000503000000020e000800001ed30207003c020a0008000488af0006000800364c14000b000800000003020b000800000381020000080003c2c9020c00080d040207020e0008000002e9" />

	<receiveMessageSIGTRAN name="Wait REG_REQ1" request="true" type="Registration_Request:9_1">
		<parameter name="[REG_REQ1]" operation="protocol.setFromMessage" value="message.binary"/>
	</receiveMessageSIGTRAN>
	
	<if>
		<condition>
			<test parameter="[REG_REQ1]" condition="binary.equals" value="[REG_REQ]"/>
		</condition>
		<else>
			<log level="ERROR">	Message received :	</log>
			<log level="ERROR">	"[REG_REQ1]"			</log>
			<log level="ERROR">	Message expected :	</log>
			<log level="ERROR">	"[REG_REQ]"			</log>
			<exit failed="true"/>
		</else>
	</if>
	
</scenario>
