<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="Send 3GPP CX Multimedia Authentication answer (MAR/MAA)" -->

<scenario>

    <receiveMessageDIAMETER name="ReceiveRequestMAR" request="true" type="506" >
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id.value"/>
    </receiveMessageDIAMETER>

    <sendMessageDIAMETER name="SendAnswerMAA" >
        <header request="false" command="Multimedia-Authentitcation" applicationId="Ericsson IMT 30 - Cx" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id" value="[sessionId]"/>
        <avp code="Origin-Host" value="[remoteHostDIAM]" type="OctetString" mandatory="true"/>
        <avp code="Origin-Realm" value="[remoteRealmDIAM]" type="OctetString" mandatory="true"/>
        
        <avp code="Vendor-Specific-Application-Id">
            <avp code="Vendor-Id" value="TGPP"/>
            <avp code="Auth-Application-Id" value="3GPP Cx"/>
        </avp>
        <avp code="Auth-Session-State" value="1"/>
        <avp code="Result-Code" value="DIAMETER_SUCCESS"/>		
        <avp code="Public-Identity:2" value="sip:+33875610603@sip.france.fr" vendorId="TGPP:10415" type="OctetString" mandatory="true"/>
        <avp code="Number-Authentication-Items" value="1"/>
        <avp code="Auth-Data-Item">
            <avp code="Item-Number" value="0" type="Unsigned32" mandatory="false"/>
            <avp code="Authentication-Scheme:1020" value="DIGEST" type="Integer32" mandatory="false" />
            <avp code="Authenticate" value='Digest username=\"33875631975@sip.pfdev.fr\",realm=\"sip.pfdev.fr\",cnonce=\"40b18ccf\",nc=00000001,qop=auth,uri=\"sip:sip.pfdev.fr\",nonce=\"21bc27679ddac8fd6c0088817c8ae385\",response=\"38179d99cc34ce0ad002ac4d70e37c0a\",algorithm=MD5' type="OctetString" mandatory="false"/>
            <avp code="Authentication-Context" value="INVITE" type="OctetString" />
        </avp>
    </sendMessageDIAMETER>
    
</scenario>
