<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="receive message" request="true">
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[tunnelEndpointId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/> 
    </receiveMessageGTP>
                                    
    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[binary]" condition="binary.equals" value="3214002b00004567abcd00001301140584001580c0231101010011036d69670868656d6d656c69679800080002f8107de37f2d"/>
  
    <sendMessageGTP name="send message" remoteHost="[remoteHost]" remotePort="[remotePort]" transport="[transport]">
        <headerV1 extensionHeaderFlag="0" nPduNumberFlag="0"
                  type="Delete PDP Context Response:21"
                  tunnelEndpointId="[tunnelEndpointId]"
                  sequenceNumber="[seqNum]"/>
        <element tag="Cause:1" >
            <field name="Cause value" value="Request accepted:128"/>
        </element>
    </sendMessageGTP>
    
</scenario>
