<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <!-- attend message SEARCH-->
    <receiveMessageIMAP request="true">
        <parameter name="[tag]" operation="protocol.setFromMessage" value="request.tag" />
        <parameter name="[connection]" operation="protocol.setFromMessage" value="channel.name" />
    </receiveMessageIMAP>

    <!-- envoi reponse final SEARCH-->
    <sendMessageIMAP name="Send SEARCH" channel="[connection]">
<![CDATA[
* SEARCH 2 84 882
[tag] OK SEARCH completed
]]>
    </sendMessageIMAP>

    <!-- attend message SEARCH-->
    <receiveMessageIMAP channel="[connection]" request="true">
        <parameter name="[tag]" operation="protocol.setFromMessage" value="request.tag" />
    </receiveMessageIMAP>

    <!-- envoi reponse final SEARCH-->
    <sendMessageIMAP name="Send SEARCH"  channel="[connection]">
<![CDATA[
* SEARCH 
[tag] OK SEARCH completed
]]>
    </sendMessageIMAP>


    <!-- attend message SEARCH-->
    <receiveMessageIMAP channel="[connection]" request="true">
        <parameter name="[argument]" operation="protocol.setFromMessage" value="request.arguments" />
        <parameter name="[tag]" operation="protocol.setFromMessage" value="request.tag" />
    </receiveMessageIMAP>

    <!-- envoi reponse de continuation de requete SEARCH-->
    <sendMessageIMAP name="Send SEARCH"  channel="[connection]">
<![CDATA[
+ 
]]>
    </sendMessageIMAP>

    <!-- attend suite message SEARCH-->
    <receiveMessageIMAP channel="[connection]" request="true">
    </receiveMessageIMAP>

    <!-- envoi reponse final SEARCH-->
    <sendMessageIMAP name="Send SEARCH"  channel="[connection]">
<![CDATA[
* SEARCH 43
[tag] OK SEARCH completed
]]>
    </sendMessageIMAP>
    
</scenario>
