<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageUCP request="true" type="AdviceAccumulatedChargesOperation">
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.TRN"/>
        <parameter name="connection" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="malformed" operation="protocol.setFromMessage" value="malformed"/>
        <parameter name="AdC" operation="protocol.setFromMessage" value="attribute.AdC"/>
        <parameter name="AC" operation="protocol.setFromMessage" value="attribute.AC"/>
        <test parameter="[malformed]" condition="boolean.equals" value="false"/>
        <test parameter="[AdC]" condition="number.equals" value="1234"/>
        <test parameter="[AC]" condition="string.equals" value="abcd"/>
    </receiveMessageUCP>

    <sendMessageUCP channel="[connection]">
        <header name="AdviceAccumulatedChargesOperation" TRN="[seqNum]" MT="R"/>
        <attribute name="ACK" value="A"/>
        <attribute name="CT" value="5656565656"/>
        <attribute name="AAC" value="78"/>
        <attribute name="SM" value="ca roule:une fois de plus"/>
    </sendMessageUCP>

</scenario>
