<?xml version="1.0" encoding="UTF-8"?>

<scenario>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[Host-Server]" remotePort="[Port-Server]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[Host-Server]]:[Port-Server] 
Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[Host-Server]" remotePort="[Port-Server]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[Host-Server]]:[Port-Server] 
Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[Host-Server]" remotePort="[Port-Server]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[Host-Server]]:[Port-Server] Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[Host-Server]" remotePort="[Port-Server]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[Host-Server]]:[Port-Server] Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[Host-Server]" remotePort="[Port-Server]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[Host-Server]]:[Port-Server] Pending=[transID]{}
]]>
    </sendMessageH248>

    <!-- receive request-->
    <receiveMessageH248 name="Receive request" request="true">
        <parameter name="[transID]" operation="protocol.setFromMessage" value="message.transactionID" />
        <parameter name="[bad]" operation="protocol.setFromMessage" value="descr.*.*.*.value" />
    </receiveMessageH248>

    <!-- send Add pending -->
    <sendMessageH248 name="Send pending" remoteHost="[Host-Server]" remotePort="[Port-Server]" transport="[transportResponse]">
<![CDATA[
MEGACO/3 [[Host-Server]]:[Port-Server] Pending=[transID]{}
]]>
    </sendMessageH248>
    
</scenario>
