<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <createListenpointGTP name="listenpoint" localPort="[listenPort]"/>
    <parameter name="[testcase:listenpointCreated]" operation="system.semaphorenotify" />

    <receiveMessageGTP name="echo request" listenpoint="listenpoint" request="true" type="Echo Request:1">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>
    
    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>
    <test parameter="[binary]" condition="binary.equals" value="0f0100020001"/>

    <sendMessageGTP name="echo Response" listenpoint="listenpoint"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="[transport]">
        <headerPrime type="echoResponse:2" sequenceNumber="1"/>
        <element tag="recovery:14" >
		        <field name="recovery" value="23"/>
        </element>        
    </sendMessageGTP>

    <receiveMessageGTP name="echo request" listenpoint="listenpoint" request="true" type="Echo Request:1">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>
        <parameter name="[transport]" operation="protocol.setFromMessage" value="channel.transport"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    <test parameter="[binary]" condition="binary.equals" value="0f0100020002"/>
    
    <sendMessageGTP name="versionNotSupported" listenpoint="listenpoint"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="[transport]">
        <headerPrime type="versionNotSupported:3" sequenceNumber="2"/>
    </sendMessageGTP>

    <finally>
        <parameter name="[testcase:channelClosed]" operation="system.semaphorewait" />
        <removeListenpointGTP name="listenpoint"/>
    </finally>

</scenario>
