<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="echo request" request="true" type="Echo Request">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>   
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[teId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/>
        <parameter name="[nPduNum]" operation="protocol.setFromMessage" value="header.nPduNumber"/>
        <parameter name="[nExtType]" operation="protocol.setFromMessage" value="header.nextExtensionType"/>
    </receiveMessageGTP>

    <parameter name="[version]" operation="protocol.setFromMessage" value="header.version"/>
    <test parameter="[version]" condition="number.equals" value="1"/>
    <parameter name="[protocolType]" operation="protocol.setFromMessage" value="header.protocolType"/>
    <test parameter="[protocolType]" condition="number.equals" value="1"/>
    <parameter name="[extensionFlag]" operation="protocol.setFromMessage" value="header.extensionFlag"/>
    <test parameter="[extensionFlag]" condition="boolean.equals" value="1"/>
    <parameter name="[seqNumFlag]" operation="protocol.setFromMessage" value="header.seqNumFlag"/>
    <test parameter="[seqNumFlag]" condition="boolean.equals" value="1"/>
    <parameter name="[nPduFlag]" operation="protocol.setFromMessage" value="header.nPduFlag"/>
    <test parameter="[nPduFlag]" condition="boolean.equals" value="1"/>
    <parameter name="[type]" operation="protocol.setFromMessage" value="header.type"/>
    <test parameter="[type]" condition="number.equals" value="1"/>
    <parameter name="[label]" operation="protocol.setFromMessage" value="header.label"/>
    <test parameter="[label]" condition="string.equals" value="Echo Request"/>
    <parameter name="[name]" operation="protocol.setFromMessage" value="header.name"/>
    <test parameter="[name]" condition="string.equals" value="Echo Request:1"/>
    <parameter name="[tunnelEndpointId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/>
    <test parameter="[tunnelEndpointId]" condition="number.equals" value="4294967295"/>
    <parameter name="[sequenceNumber]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    <test parameter="[sequenceNumber]" condition="number.equals" value="1"/>
    <parameter name="[nPduNumber]" operation="protocol.setFromMessage" value="header.nPduNumber"/>
    <test parameter="[nPduNumber]" condition="number.equals" value="2"/>
    <parameter name="[nextExtensionType]" operation="protocol.setFromMessage" value="header.nextExtensionType"/>
    <test parameter="[nextExtensionType]" condition="number.equals" value="0"/>

    <parameter name="[IMSI]" operation="protocol.setFromMessage" value="element.IMSI"/>
    <test parameter="[IMSI(0)]" condition="binary.equals" value="2143658709214365"/>
    <test parameter="[IMSI(1)]" condition="binary.equals" value="00000021436587f9"/>
    <parameter name="[IMSIIMSI]" operation="protocol.setFromMessage" value="element.IMSI.field.IMSI"/>
    <test parameter="[IMSIIMSI(0)]" condition="number.equals" value="1234567890123456"/>
    <test parameter="[IMSIIMSI(1)]" condition="number.equals" value="123456789"/>

    <parameter name="[MSISDN]" operation="protocol.setFromMessage" value="element.MSISDN"/>
    <test parameter="[MSISDN(0)]" condition="binary.equals" value="4523018967452301"/>
    <test parameter="[MSISDN(1)]" condition="binary.equals" value="8967452301"/>
    <parameter name="[MSISDNMSISDN]" operation="protocol.setFromMessage" value="element.MSISDN.field.MSISDN"/>
    <test parameter="[MSISDNMSISDN(0)]" condition="number.equals" value="5432109876543210"/>
    <test parameter="[MSISDNMSISDN(1)]" condition="number.equals" value="9876543210"/>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    <test parameter="[binary]" condition="binary.equals" value="37010029ffffffff000102000221436587092143650200000021436587f986000845230189674523018600058967452301"/>
    
    <sendMessageGTP name="echo Response"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="UDP">
        <headerV1 type="Echo Response" tunnelEndpointId="[teId]" sequenceNumber="[seqNum]" nPduNumber="[nPduNum]" nextExtensionType="[nExtType]"/>
        <element tag="Recovery" >
            <field name="Recovery" value="23"/>
        </element>
    </sendMessageGTP>

    <receiveMessageGTP name="echo request" request="true" type="1">
        <parameter name="[remoteHostGTP]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePortGTP]" operation="protocol.setFromMessage" value="channel.remotePort"/>   
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[teId]" operation="protocol.setFromMessage" value="header.tunnelEndpointId"/>
        <parameter name="[nPduNum]" operation="protocol.setFromMessage" value="header.nPduNumber"/>
        <parameter name="[nExtType]" operation="protocol.setFromMessage" value="header.nextExtensionType"/>
    </receiveMessageGTP>

    <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>  
    <test parameter="[binary]" condition="binary.equals" value="37010004499602d200020200"/>
    
    <sendMessageGTP name="versionNotSupported"
                    remoteHost="[remoteHostGTP]" remotePort="[remotePortGTP]" transport="UDP">
        <headerV1 type="3"  tunnelEndpointId="[teId]" sequenceNumber="[seqNum]" nPduNumber="[nPduNum]" nextExtensionType="[nExtType]"/>
    </sendMessageGTP>

</scenario>
