<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : bob.xml
    Created on : 23/06/2009
    Author     : jbrisseau
    Description: Receive the M3UA message ASP Active.
-->

<scenario>

	<!-- Message encoded value -->
	<parameter name="[ASPAC]" value="0100040100000028000b0008000000030006000c007800870001280c000400094153504143000000" />

	<receiveMessageSIGTRAN name="Wait ASPAC1">
		<parameter name="[ASPAC1]" operation="protocol.setFromMessage" value="message.binary"/>
	</receiveMessageSIGTRAN>
	
	<if>
		<condition>
			<test parameter="[ASPAC1]" condition="binary.equals" value="[ASPAC]"/>
		</condition>
		<else>
			<log level="ERROR">	Message received :	</log>
			<log level="ERROR">	"[ASPAC1]"			</log>
			<log level="ERROR">	Message expected :	</log>
			<log level="ERROR">	"[ASPAC]"			</log>
			<exit failed="true"/>
		</else>
	</if>
	
</scenario>
