<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>

    <receiveMessageGTP name="receive data record transfer request">
        <parameter name="channel" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <sendMessageGTP name="send data record transfer response" channel="[channel]">
        <headerPrime type="241" sequenceNumber="[seqNum]"/>
        <tlv name="cause" value="1"/>
        <tlv name="requestsResponded">
            <attribute name="sequenceNumber" value="10"/>
        </tlv>
    </sendMessageGTP>

    <receiveMessageGTP name="receive data record transfer request">
        <parameter name="channel" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <sendMessageGTP name="send data record transfer response" channel="[channel]">
        <headerPrime type="241" sequenceNumber="[seqNum]"/>
        <tlv name="cause" value="2"/>
        <tlv name="requestsResponded">
            <attribute name="sequenceNumber" value="18"/>
            <attribute name="sequenceNumber" value="302"/>
        </tlv>
    </sendMessageGTP>

    <receiveMessageGTP name="receive data record transfer request">
        <parameter name="channel" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="seqNum" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
    </receiveMessageGTP>

    <sendMessageGTP name="send data record transfer response" channel="[channel]">
        <headerPrime type="241" sequenceNumber="[seqNum]"/>
        <tlv name="cause" value="3"/>
        <tlv name="requestsResponded">
            <attribute name="sequenceNumber" value="1"/>
        </tlv>
    </sendMessageGTP>

</scenario>
