<?xml version="1.0" encoding="UTF-8"?>

<scenario>
    <parameter name="nameListenpoint" operation="number.uid" value="[nameListenpoint]"/>
    
    <createListenpointHTTP2 name="[nameListenpoint]" localHost="[localHostHTTP]" localPort="[localPortHTTP]"/>
    <semaphore name="SEM1" action="notify" />
    
    <receiveMessageHTTP2 name="Wait POST" request="true" type="POST">
        <parameter name="[transaction_id]" operation="protocol.setFromMessage" value="message.transactionId"/>
        <parameter name="[content]" operation="protocol.setFromMessage" value="content"/>
    </receiveMessageHTTP2>

    <parameter name="[compressed2]" operation="string.toBinary" value="[content]" value2="ISO-8859-15"/>
    <test parameter="[compressed2]" condition="binary.equals" value="[testcase:compressed]"/>    
    <parameter name="[uncompressed]" operation="binary.uncompress" value="[compressed]" value2="gzip"/>
    <parameter name="[string]" operation="binary.toString" value="[uncompressed]" value2="ISO-8859-15"/>
    <test parameter="[string]" condition="string.equals" value="[testcase:string]"/>


    <sendMessageHTTP2 name="Send POST 200 OK" transactionId="[transaction_id]">
<![CDATA[HTTP/2.0 200 OK
Accept-charset:text/html
Content-Type:text/html
Content-Charset:ISO-8859-1
User-Agent:XMLLoader
Content-Length: x

host message]]>
    </sendMessageHTTP2>

	<finally>		
		<removeListenpointHTTP2 name="[nameListenpoint]" />
	</finally>
</scenario>
