<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->
<!-- name="Send 3GPP CX Multimedia Authentication answer (MAR/MAA)" -->

<scenario>

    <parameter name="[localHosts]" operation="system.ipaddress" value2="[IPVersion]"/>  
    <createListenpointDIAMETER name="lp_routing_server" localHost="[Listen-Server-Host]" localPort="[Listen-Server-Port]">
        <nodeSettings idleTimeout="3600000" watchdogInterval="60000"/>
        <avp code="Origin-Host:264" value="[localHostDIAM]" type="DiameterIdentity" mandatory="true"/>
        <avp code="Origin-Realm:296" value="[localRealmDIAM]" type="DiameterIdentity" mandatory="true"/>
        <avp code="Host-IP-Address:257" value="[localHosts]" type="IPAddress" mandatory="true"/>
        <avp code="Vendor-Id:266" value="[vendorID]" type="VendorId" mandatory="true"/>
        <avp code="Product-Name:269" value="MTS : Multiprotocol Test Suite" type="UTF8String" mandatory="true"/>
        <avp code="Origin-State-Id:278" value="123456789" type="Unsigned32" mandatory="true"/>
        <avp code="Firmware-Revision:267" value="987654321" type="Unsigned32" mandatory="true"/>
        <avp code="Vendor-Specific-Application-Id:260" type="Grouped" mandatory="true">
            <avp code="Vendor-Id:266" value="[vendorID]" type="VendorId" mandatory="true"/>
            <avp code="Auth-Application-Id:258" value="3GPP Cx:16777216" type="AppId" mandatory="true"/>
        </avp>
    </createListenpointDIAMETER>
                                
    <call name="diameter.RecCER_SendCEA"/>
                                
    <parameter name="[testcase:createListenpoint]" operation="system.semaphorenotify"/>
                                        
    <receiveMessageDIAMETER name="ReceiveRequestMAR" listenpoint="lp_routing_server" request="true" type="Multimedia-Authentitcation:506" >
        <parameter name="[listenpointName]" operation="protocol.setFromMessage" value="listenpoint.name"/>
        <parameter name="[remoteHost]" operation="protocol.setFromMessage" value="channel.remoteHost"/>
        <parameter name="[remotePort]" operation="protocol.setFromMessage" value="channel.remotePort"/>        
        <parameter name="[commandCode]" operation="protocol.setFromMessage" value="header.command"/>
        <parameter name="[applicationId]" operation="protocol.setFromMessage" value="header.applicationId"/>
        <parameter name="[hopByHop]" operation="protocol.setFromMessage" value="header.hopByHop"/>
        <parameter name="[endToEnd]" operation="protocol.setFromMessage" value="header.endToEnd"/>
        <parameter name="[sessionId]" operation="protocol.setFromMessage" value="avp.Session-Id:263.value"/>
        <parameter name="[authApplicationId]" operation="protocol.setFromMessage" value="avp.Auth-Application-Id:258.value"/>
        <parameter name="[destinationHost]" operation="protocol.setFromMessage" value="avp.Destination-Host:293.value"/>
        <parameter name="[destinationRealm]" operation="protocol.setFromMessage" value="avp.Destination-Realm:283.value"/>
  </receiveMessageDIAMETER>

    <sendMessageDIAMETER name="SendAnswerMAA" listenpoint="lp_routing_server"
                         remoteHost="[remoteHost]" remotePort="[remotePortDIAM]">
        <header request="false" command="[commandCode]" applicationId="[applicationId]" proxiable="true" hopByHop="[hopByHop]" endToEnd="[endToEnd]"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Origin-Host:264" value="[destinationHost]"/>
        <avp code="Origin-Realm:296" value="[destinationRealm]"/>
        <avp code="Vendor-Specific-Application-Id:260">
            <avp code="Vendor-Id:266" value="[vendorID]"/>
            <avp code="Auth-Application-Id:258" value="3GPP Cx:16777216"/>
        </avp>
        <avp code="Auth-Session-State:277" value="NO_STATE_MAINTAINED:1"/>
        <avp code="Result-Code:268" value="DIAMETER_SUCCESS:2001"/>		
        <avp code="Public-Identity:601" value="sip:+33875631975@sip.pfdev.fr" vendorId="[vendorID]"/>
        <avp code="Number-Authentication-Items:1026" value="1"/>
        <avp code="Auth-Data-Item:1018">
            <avp code="Item-Number:1021" value="0"/>
            <avp code="Authentication-Scheme:1020" value="DIGEST"/>
            <avp code="Authorization:1022" value='Digest username=\"33875631975@sip.pfdev.fr\",realm=\"sip.pfdev.fr\",cnonce=\"40b18ccf\",nc=00000001,qop=auth,uri=\"sip:sip.pfdev.fr\",nonce=\"21bc27679ddac8fd6c0088817c8ae385\",response=\"38179d99cc34ce0ad002ac4d70e37c0a\",algorithm=MD5'/>
            <avp code="Authentication-Context:1024" value="INVITE"/>
        </avp>    
    </sendMessageDIAMETER>
    
    <parameter name="[sessionId]" operation="binary.random" value="10"/>
    <sendMessageDIAMETER name="SendRequestMAR" listenpoint="lp_routing_server" remoteURL="diameter://[Listen-Client-Host]:[Listen-Client-Port]">
        <header request="true" command="Multimedia-Authentitcation:506" applicationId="3GPP Cx:16777216" proxiable="true"/>
        <avp code="Session-Id:263" value="[sessionId]"/>
        <avp code="Origin-Host:264" value="[localHostDIAM]"/>
        <avp code="Origin-Realm:296" value="[localRealmDIAM]"/>
        <avp code="Destination-Host:293" value="[remoteHostDIAM]"/>
        <avp code="Destination-Realm:283" value="[remoteRealmDIAM]"/>
        <avp code="Vendor-Specific-Application-Id:260">
            <avp code="Vendor-Id:266" value="[vendorID]"/>
            <avp code="Auth-Application-Id:258" value="3GPP Cx:16777216"/>
        </avp>
        <avp code="Auth-Session-State:277" value="NO_STATE_MAINTAINED:1"/>
        <avp code="Public-Identity:601" value="sip:+33875631975@sip.pfdev.fr" vendorId="[vendorID]"/>
        <avp code="Number-Authentication-Items:1026" value="1"/>
        <avp code="Auth-Data-Item:1018">
            <avp code="Item-Number:1021" value="0"/>
            <avp code="Authentication-Scheme:1020" value="DIGEST"/>
            <avp code="Authorization:1022" value='Digest username=\"33875631975@sip.pfdev.fr\",realm=\"sip.pfdev.fr\",cnonce=\"40b18ccf\",nc=00000001,qop=auth,uri=\"sip:sip.pfdev.fr\",nonce=\"21bc27679ddac8fd6c0088817c8ae385\",response=\"38179d99cc34ce0ad002ac4d70e37c0a\",algorithm=MD5'/>
            <avp code="Authentication-Context:1024" value="INVITE"/>
        </avp>
    </sendMessageDIAMETER>

    <receiveMessageDIAMETER name="Receive Answer (MAA)" listenpoint="lp_routing_server" request="false" type="Multimedia-Authentitcation:506" result="DIAMETER_SUCCESS:2001" >
    </receiveMessageDIAMETER>

    <finally>
    
        <call name="diameter.removeListenpoint">
          <input>
            <parameter name="[function:name]" value="lp_routing_server"/>
          </input>
        </call>

    </finally>

</scenario>
