<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : server.xml
    Created on : 10/07/2014
    Author     : fhenry
    Description: Receive a MAP message
-->

<scenario>

    <!-- Message encoded value -->
    <parameter name="[data]" value="01000101000000700200000800000066000600080000006502100055000000010000000203020001090103070b044302000804430100083561336b1e281c060700118605010201a011600f80020780a1090607040000010015026c11a10f02010102012e010203040506070809000000" />
    <parameter name="[length]" operation="string.length" value="[data]"/>
    
    <receiveMessageSIGTRAN name="Wait DATA1" request="true" type="46">
      <parameter name="[request]" operation="protocol.setFromMessage" value="message.request"/>
      <parameter name="[type]" operation="protocol.setFromMessage" value="message.type"/>
      <parameter name="[result]" operation="protocol.setFromMessage" value="message.result"/>
    	<parameter name="[data1]" operation="protocol.setFromMessage" value="message.binary"/>
    </receiveMessageSIGTRAN>
    
    <parameter name="[result ]" operation="binary.difference" value="[data1]" value2="[data]"/>
    
    <if>
    	<condition>
    		<test parameter="[data1]" condition="binary.equals" value="[data]"/>
    	</condition>
    	<else>
    		<log level="ERROR">	Message received :	</log>
    		<log level="ERROR">	"[data1]"			</log>
    		<log level="ERROR">	Message expected :	</log>
    		<log level="ERROR">	"[data]"			</log>
    	</else>
    </if>
    
    <test parameter="[data1]" condition="binary.equals" value="[data]"/>

</scenario>
