<?xml version="1.0" encoding="UTF-8"?>

<scenario>
    
  	<receiveMessageHTTP name="Wait POST" type="POST" request="true">
		<parameter name="transaction_id" operation="protocol.setFromMessage" value="message.transactionId"/>
	</receiveMessageHTTP>
	
	<sendMessageHTTP name="Send POST 200 OK" transactionId="[transaction_id]">
<!--******************* BEGIN MESSAGE ********************-->
<![CDATA[HTTP/1.1 200 OK
Accept-charset:text/html
Content-Type:text/html
Content-Encoding:utf-8
User-Agent:XMLLoader
Content-Length:12

host message]]>
<!--******************** END MESSAGE *********************-->
	</sendMessageHTTP>
	
</scenario>
