<?xml version="1.0" encoding="UTF-8"?>

<!-- scenario server-->
<scenario>
    <receiveMessageGTP name="node alive request">
        <parameter name="[channel]" operation="protocol.setFromMessage" value="channel.name"/>
        <parameter name="[seqNum]" operation="protocol.setFromMessage" value="header.sequenceNumber"/>
        <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>    
    </receiveMessageGTP>

    <test parameter="[binary]" condition="binary.equals" value="0f0400070001fb0004ac1015cf"/>
    
    <sendMessageGTP name="node alive response" channel="[channel]">
        <headerPrime type="5" sequenceNumber="[seqNum]"/>
    </sendMessageGTP>

</scenario>
