<?xml version="1.0" encoding="UTF-8"?>
<!-- Related XMLSchema file: conf/schemas/scenario.xsd -->


<!--
    Document   : bob.xml
    Created on : 23/06/2009
    Author     : jbrisseau
    Description: Receive the M3UA message ASP Active.
-->

<scenario>

    <parameter name="[reference]" value="0100040100000028000b0008000000030006000c007800870001280c000400094153504143000000" />

    <receiveMessageSIGTRAN name="Wait ASPAC1" request="true" type="ASP_Active:4_1">
    	  <parameter name="[binary]" operation="protocol.setFromMessage" value="message.binary"/>
        <parameter name="[channelName]" operation="protocol.setFromMessage" value="channel.name"/>
    </receiveMessageSIGTRAN>
    
    <test parameter="[binary]" condition="binary.equals" value="[reference]"/>
	
    <sendMessageSIGTRAN	name="Send ASPAC1" channel="[channelName]">
    	<UA name="m3ua" file="m3ua.xml">
        <header messageClass="ASP_Traffic_Maintenance_Messages" messageType="ASP_Active_Acknowledgement"/>
    
    		<parameter tag="Traffic_Mode_Type">
            <field name="Traffic_Mode_Type" value="2"/>
        </parameter>
    
    		<parameter tag="Routing_Context">
    			<field name="Routing_Context" value="7864455"/>
    			<field name="Routing_Context" value="75788"/>
    		</parameter>
    
    		<parameter tag="INFO_String" format="string">
          <field name="INFO_String" value="ASPAC"/>
        </parameter>
    	</UA>
    </sendMessageSIGTRAN>
    
</scenario>
